<div class="card border-0">
    {{ if .Params.thumbnail -}}
        <a href="{{ .Permalink }}" class="text-decoration-none link-dark">
            {{- partial "image.html" (dict "url" .Params.thumbnail "ratio" "16x9" "outerClass" "card-img-wrap" "innerClass" "card-img-top" "title" .Params.title) -}}
        </a>
    {{ end }}
    <div class="card-body d-flex flex-column p-0">
        <p class="card-text">
            <small class="text-muted text-uppercase">
                {{- partial "utilities/date.html" (dict "date" .Date "format" "long") -}}
                &nbsp;&bull; {{ .ReadingTime }} {{ i18n "minutesShort" }} {{ i18n "read" }}
                {{ if isset .Params "tags" -}}
                    {{ range first 1 (.GetTerms "tags") -}}
                        &bull; <a href="{{ (path.Join .Page.RelPermalink) | relURL }}" class="text-decoration-none text-primary" aria-label="Tag: {{ .LinkTitle }}">{{ .LinkTitle }}</a>
                    {{ end -}}
                {{ end -}}
            </small>
        </p>

        <a href="{{ .Permalink }}" class="text-decoration-none link-dark">
            <p class="card-title fs-5 fw-bold">{{ .Params.title }}</p>
            <p class="card-text mb-4">{{ .Params.description }}</p>
        </a>
    </div>
</div>
