<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{- range $index, $item := .Page.Ancestors.Reverse -}}
            {{- $title := .Title -}}
            {{- if .IsHome }}{{ $title = T "home" }}{{ end -}} 
            {{- $address := or .Permalink (.Params.Redirect | absLangURL) -}}
            {{ if $address }}
                <li class="breadcrumb-item"><a href="{{ $address }}">{{ $title }}</a></li>
            {{ else }}
                <li class="breadcrumb-item">{{ $title }}</li>
            {{ end }}
        {{- end -}}
        <li class="breadcrumb-item active" aria-current="page">{{ .Page.Title }}</li>
    </ol>
</nav>
