<!-- 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

<!-- Limits a title to a maximum of 33 runes, adds a "..." suffix otherwise -->
{{ define "partials/short-title.html" }}
    {{- $title := . -}}
    {{ if gt (strings.RuneCount $title) 33 }}
        {{ $title = print (substr $title 0 30) "..." }}
    {{ end }}

    {{ return $title }}
{{ end }}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "breadcrumb" "args" . "group" "partial") }}
    {{- errorf "partial [assets/breadcrumb.html] - Invalid arguments" -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{- $page := .page -}}
{{- $breakpoint := $page.Scratch.Get "breakpoint" -}}

<!-- Include breadcrumb items that have both a title and address -->
{{ $items := slice }}
{{- range $index, $item := $page.Ancestors.Reverse -}}
    {{- $title := .LinkTitle -}}
    {{- if .IsHome }}{{ $title = T "home" }}{{ end -}}
    {{ if site.Params.main.titleCase }}{{ $title = title $title }}{{ end }}
    {{- $address := or .RelPermalink .Params.Redirect -}}
    {{ if and $title $address}}
        {{ $items = $items | append (dict "title" $title "address" $address) }}
    {{ end }}
{{ end }}

<!-- Main code -->
{{ if not $error }}
    <nav aria-label="breadcrumb" class="d-{{ $breakpoint.prev }}-none">
        <ol class="breadcrumb">
            {{- $length := len $items -}}
            {{- if gt $length 0 -}}
                {{ $item := index $items (sub $length 1) }}
                <li class="breadcrumb-item">
                    <a href="{{ $item.address }}">
                        {{ partial "assets/icon.html" (dict "icon" "fas angle-left") }}&nbsp;{{ partial "short-title" $item.title }}
                    </a>
                </li>
            {{- end -}}
        </ol>
    </nav>

    <nav aria-label="breadcrumb" class="d-none d-{{ $breakpoint.prev }}-block">
        <ol class="breadcrumb">
            {{- $length := len $items }}
            {{- range $index, $item := $items -}}
                {{ $title := $item.title }}
                {{ if site.Params.main.titleCase }}{{ $title = title $title }}{{ end }}
                <li class="breadcrumb-item"><a href="{{ $item.address }}">{{ $title }}</a></li>
            {{- end -}}
            <li class="breadcrumb-item active" aria-current="page">
                {{ $title := $page.LinkTitle }}
                {{ if site.Params.main.titleCase }}{{ $title = title $title }}{{ end }}
                {{ $title }}
            </li>
        </ol>
    </nav>
{{ end }}