<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "button" "args" . "group" "partial") }}
    {{- errorf "partial [assets/button.html] - Invalid arguments" -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{- $title := trim .title " \r\n" -}}
{{- $icon := .icon }}
{{- if not (or $title $icon) -}}
    {{- warnf "partial [assets/button.html] - Missing element title or icon" -}}
    {{ $title = T "linkPlaceholder" }}
{{- end -}}

{{- $id := .id }}
{{- $state := .state  | default "enabled" -}}
{{- $size := .size | default "md" -}}
{{- $color := .color | default "primary" -}}
{{- $outline := .outline | default false -}}
{{- $badge := .badge | default "" -}}
{{- $label := .label | default $title -}}

{{- $tooltip := "" -}}
{{- if not (strings.HasSuffix $state "active") -}}
    {{- with .tooltip }}{{ $tooltip = . }}{{ end -}}
{{- end -}}

{{- $href := .href -}}
{{- $collapse := "" -}}
{{- if not (strings.HasSuffix $state "active") -}}
    {{- with .collapse }}{{ $collapse = . }}{{ $href = printf "#%s" . }}{{ end -}}
{{- end -}}

{{- if and $tooltip $collapse -}}
    {{- errorf "partial [assets/button.html] - Cannot use tooltip and collapse at the same time" -}}
    {{ $error = true }}
{{- end -}}
{{- $type := .type | default "button" -}}
{{- $placement := .placement | default "top" -}}
{{- $class := .class | default "" }}
{{ with $badge }}{{ $class = printf "%s me-3" $class }}{{ end }}
{{- $order := .order | default "last" -}}
{{- $justify := .justify | default "center" -}}
{{- $toast := .toast -}}
{{- $clipboard := .clipboard -}}
{{- $cue := .cue | default site.Params.main.externalLinks.cue -}}
{{- $tab := .tab | default site.Params.main.externalLinks.tab -}}
{{- $isExternal := false }}
{{ if in (slice "http" "https") ((urls.Parse (absURL $href)).Scheme) }}
    {{ $isExternal = ne (urls.Parse (absURL $href)).Host (urls.Parse site.BaseURL).Host -}}
{{ end }}
{{- $target := "" -}}
{{- $rel := "" -}}
{{- $spacing := .spacing | default true -}}

{{- if $isExternal -}}
    {{- if $tab -}}
        {{- $target = "_blank" -}}
        {{- $rel = "noopener noreferrer" -}}
    {{- end -}}

    {{- if and $title $cue -}}
        {{ $suffix := partial "assets/icon.html" (dict "icon" "fas up-right-from-square fa-2xs") }}
        {{- $title = printf "%s&nbsp;%s" $title $suffix | safeHTML -}}
    {{- end -}}
{{- end -}}

{{- $attributes := .attributes -}}

<!-- Main code -->
{{ if not $error }}
    <a aria-label="{{ (or $label $title) | safeHTML }}"
        {{ if ne $state "disabled" }}{{ with $href }}href="{{ . }}"{{ end }}{{ end -}}
        {{- with $id }} id="{{ . }}"{{ end -}}
        {{- with $target }} target="{{ . }}"{{ end }}{{ with $rel }} rel="{{ . }}"{{ end -}}
        {{- with $toast }} data-toast-target="{{ $toast }}"{{ end -}}
        {{- with $clipboard }} data-clipboard="{{ $clipboard }}"{{ end -}}
        {{- if eq $type "button" }} class="btn btn-{{ if $outline }}outline-{{ end }}{{ $color }} {{ if ne $size "md"}}btn-{{ $size }}{{ end }} position-relative {{ if in (slice "disabled" "active") $state }}{{ $state }}{{ end }} {{ $class -}}"
        {{ if eq $state "disabled" }}aria-disabled="true"{{ end -}}
        {{- else }} class="btn btn-link link-{{ $color }} position-relative {{ $class }}"{{ end -}}
        {{- with $tooltip }} data-bs-toggle="tooltip" data-bs-title="{{ . }}" data-bs-placement="{{ $placement }}"{{ end -}}
        {{- with $collapse }} data-bs-toggle="collapse" aria-expanded="false" aria-controls="{{ . }}"{{ end -}}
        {{- if eq $state "active" }} data-bs-toggle="button" aria-pressed="true"{{ end -}}
        {{- if eq $state "inactive" }} data-bs-toggle="button" aria-pressed="false"{{ end -}}
        {{- range $key, $val := $attributes -}}
            {{ printf " %s=\"%s\"" $key $val | safeHTMLAttr }}
        {{- end -}}
        role="button"
        >
        <span class="d-flex justify-content-{{ $justify }}">
            <span class="my-auto">{{ $title | safeHTML }}</span>
            {{- with $icon }}<span class="align-self-center{{ if $title }}{{ if eq $order "first" }} order-first pe-1{{ else }} ps-1{{ end }}{{ end }}">{{ partial "assets/icon.html" (dict "icon" $icon "spacing" false) }}</span>{{ end }}
        </span>

        {{- with $badge }}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ . }}
                {{ with $label }}<span class="visually-hidden">{{ . }}</span>{{ end }}
            </span>
        {{- end -}}  
    </a>{{ if $spacing }}&nbsp;{{- end }}
{{ end }}