<!-- 
    Displays a Bootstrap card. Either specify a valid path, or set the arguments title, href, header, description, and
    thumbnail individually. The latter arguments override any page attributes.
    
    The shortcode supports the following arguments:
    "path"          Optional path of the page, override with other parameters.
    "title"         Required title of the card.
    "href"          Optional address for the button or hyperlink.
    "class"         Optional class attribute of the card element, e.g. “w-50”.
    "color":        Optional theme color of the card, either "primary", "secondary", "success", "danger",
                    "warning", "info", "light", "dark", "white", "black", "body", or "body-tertiary". By default, no
                    color is specified.
    "padding":      Optional padding of the content, either "0", "1", "2", "3", "4", "5", or "auto" (default).
    "gutter"        Gutter between columns in a group, either "0" (default), "1", "2", "3", "4", or "5".
    "header"        Optional header components of the card, displayed in small caps. Supported values are "full"
                    (default), "publication", "tags", and "none".
    "footer"        Optional footer components of the card, displayed in small caps. Supported values are "full",
                    "publication", "tags", and "none" (default).
    "description"   Optional description of the card.
    "thumbnail"     Optional thumbnail image url, displayed on top or the left of the card.
    "alt"           Optional alternate text for the thumbnail, uses "title" by default.
    "icon"          Optional Font Awesome icon, displayed on top or the left of the card.
    "orientation"   Optional placecement of the thumbnail or icon, either "stacked" (default), "horizontal",
                    "horizontal-sm" or "none".
-->

<!-- Inline partial to render the card's body -->
{{- define "partials/card-body.html" -}}
    {{- $title := .title -}}
    {{- $href := .href -}}
    {{- $color := .color -}}
    {{- $description := .description -}}
    
    {{- if $href -}}
        <a href="{{ $href }}" class="{{ if $color }}link-bg-{{ $color }}{{ else }}card-body-link{{ end }} stretched-link">
                <p class="card-title fs-5 fw-bold">{{ $title }}</p>
            {{ with $description }}<p class="card-text {{ if $color }}link-bg-{{ $color }}{{ else }}card-body-link{{ end }}">{{ . }}</p>{{ end -}}
        </a>
    {{- else -}}
        <div>
            {{ with $title }}<p class="card-title fs-5 fw-bold">{{ . }}</p>{{ end -}}
            {{ with $description }}<p class="card-text">{{ . }}</p>{{ end -}}
        </div>
    {{- end -}}
{{- end -}}

<!-- Inline partial to render the card's header or footer -->
{{- define "partials/card-caption.html" -}}
    {{- $page := .page -}}
    {{- $keywords := .keywords -}}
    {{- $color := .color -}}
    {{- $maxTags := 0 -}}
    {{- $caption := "" -}}

    {{- if eq $keywords "full" }}{{ $maxTags = 1 -}}
    {{- else if eq $keywords "tags" }}{{ $maxTags = 3 }}{{ end -}}

    <p class="card-text"><small class="{{ if $color }}text-bg-{{ $color }}{{ else }}text-body-secondary{{ end }} text-uppercase">
        {{- if in (slice "full" "publication") $keywords -}}
            {{- partial "utilities/date.html" (dict "date" $page.Date "format" "long") -}}&nbsp;&bull;
            {{ $page.ReadingTime | lang.FormatNumber 0 }} {{ i18n "minutesShort" }} {{ i18n "read" -}}
        {{- end -}}

        {{- if eq $keywords "full" -}}
            {{ if gt (len ($page.GetTerms "tags")) 0 }}&nbsp;&bull;&nbsp;{{ end -}}
        {{- end -}}

        {{- $link := "text-decoration-none link-primary" -}}
        {{- if $color }}{{ $link = printf "link-bg-%s" $color }}{{ end -}}

        {{- range $index, $tag := first $maxTags ($page.GetTerms "tags") -}}
            {{- if gt $index 0 }}&nbsp;&bull;&nbsp;{{ end -}}
            <a href="{{ (path.Join $tag.Page.RelPermalink) | relLangURL }}" class="{{ $link }} tag-link" aria-label="tag: {{ $tag.LinkTitle }}">{{ $tag.LinkTitle }}</a>
        {{- end -}}
    </small></p>
{{- end -}}

{{- $page := "" }}
{{- if .path }}
    {{- $page = site.GetPage .path }}
    {{- if not $page }}
        {{- errorf "partial [assets/card.html] - Cannot find page: %s" .path -}}
    {{- end }}
{{- end }}

{{- $title := .title -}}
{{- $alt := .alt -}}
{{- $href := .href -}}
{{- $description := .description -}}
{{- $thumbnail := .thumbnail -}}
{{- $icon := .icon -}}

{{- $color := "" -}}
{{- with .color }}{{ $color = . }}{{ end -}}
{{- if $color -}}
    {{- $supportedColors := slice "primary" "secondary" "success" "danger" "warning" "info" "light" "dark" "white" "black" "body" "body-tertiary" -}}
    {{- if not (in $supportedColors $color) -}}
        {{- errorf "partial [assets/card.html] - Invalid value for param 'color': %s" $color -}}
    {{- end -}}
{{- end -}}

{{- $header := "full" -}}
{{- with .header }}{{ $header = . }}{{ end -}}
{{- $supportedKeywords := slice "full" "publication" "tags" "none" -}}
{{- if not (in $supportedKeywords $header) -}}
    {{- errorf "partial [assets/card.html] - Invalid value for param 'header': %s" $header -}}
{{- end -}}

{{- $footer := "none" -}}
{{- with .footer }}{{ $footer = . }}{{ end -}}
{{- if not (in $supportedKeywords $footer) -}}
    {{- errorf "partial [assets/card.html] - Invalid value for param 'footer': %s" $footer -}}
{{- end -}}

{{- with $page -}}
    {{- if not $title }}{{ $title = .Title }}{{ end -}}
    {{- if not $href }}{{ $href = .RelPermalink  }}{{ end -}}
    {{- if not $description }}{{ $description = partial "utilities/GetDescription.html" . }}{{ end -}}
    {{- if not $thumbnail }}{{ $thumbnail = (or (and (reflect.IsMap .Params.Thumbnail) .Params.Thumbnail.url) .Params.Thumbnail) }}{{ end -}}
    {{- if not $icon }}{{ $icon = .Params.icon }}{{ end -}}
{{- end -}}

{{- $class := .class -}}

{{- $padding := "auto" -}}
{{- with .padding }}{{ $padding = . }}{{ end -}}
{{- $supportedPaddings := slice "0" "1" "2" "3" "4" "5" "auto" -}}
{{- if not (in $supportedPaddings $padding) -}}
    {{- errorf "partial [assets/card.html] - Invalid value for param 'padding': %s" $padding -}}
{{- end -}}

{{- $gutter := .gutter | default "0" -}}
{{ $supportedGutters:= slice "0" "1" "2" "3" "4" "5" -}}
{{ if not (in $supportedGutters $gutter) -}}
    {{- errorf "partial [assets/card.html] - Invalid value for param 'gutter': %s" $gutter -}}
{{ end -}}

{{- $orientation := "stacked" -}}
{{- with .orientation }}{{ $orientation = . }}{{ end -}}
{{- $supportedOrientations := slice "stacked" "horizontal" "horizontal-sm" "none" -}}
{{- if not (in $supportedOrientations $orientation) -}}
    {{- errorf "partial [assets/card.html] - Invalid value for param 'orientation': %s" $orientation -}}
{{- end -}}
{{- if eq $orientation "none" }}{{ $thumbnail = "" }}{{ $icon = "" }}{{ end -}}

{{ if ne $gutter "0" }}<div class="g-{{ $gutter }}">{{ end }}
{{- if hasPrefix $orientation "horizontal" -}}
    <div class="card {{ with $color }}bg-{{ . }} text-bg-{{ . }}{{ end }} {{ $class }}">
        <div class="row g-0 row-cols-1 h-100">
            <div class="col-4{{ if eq  $orientation "horizontal-sm" }} col-md-2{{ end }}">
                {{- if $thumbnail -}}
                    {{- partial "assets/image.html" (dict "url" $thumbnail "ratio" "1x1" "outerClass" "h-100 card-img-wrap" "innerClass" "rounded-start card-img-h100" "title" $title) -}}
                {{- else if $icon -}}
                    <div class="p-{{ $padding }} h-100 fa-wrapper d-flex align-items-center justify-content-center">
                        {{- partial "assets/icon.html" (dict "icon" (printf "%s fa-fluid text-secondary fa-fw" $icon)) -}}
                    </div>
                {{- end -}}
            </div>
            <div class="col-8{{ if eq  $orientation "horizontal-sm" }} col-md-10{{ end }}">
                <div class="card-body d-flex p-{{ $padding }} flex-column h-100">
                    {{ if $page }}<div>{{ partial "card-caption.html" (dict "page" $page "keywords" $header "color" $color) }}</div>{{ end }}
                    <div class="h-100">
                        {{- partial "card-body.html" (dict "title" $title "href" $href "color" $color "description" $description) -}}
                    </div>
                    {{ if $page }}<div>{{ partial "card-caption.html" (dict "page" $page "keywords" $footer "color" $color) }}</div>{{ end }}
                </div>
            </div>
        </div>
    </div>
{{- else -}}
    <div class="card {{ with $color }}bg-{{ . }} text-bg-{{ . }}{{ end }} {{ $class }}">
        {{- if $thumbnail -}}
            {{- partial "assets/image.html" (dict "url" $thumbnail "ratio" "16x9" "outerClass" "card-img-wrap" "innerClass" "card-img-top" "title" (or $alt $title)) -}}
        {{- else if $icon -}}
            <div class="p-{{ $padding }}">
                {{- partial "assets/icon.html" (dict "icon" (printf "%s fa-4x text-secondary" $icon)) -}}
            </div>
        {{- end -}}
        <div class="card-body d-flex flex-column p-{{ $padding }}">
            {{ if $page }}{{- partial "card-caption.html" (dict "page" $page "keywords" $header "color" $color) -}}{{ end }}
            {{- partial "card-body.html" (dict "title" $title "href" $href "color" $color "description" $description) -}}
            {{ if $page }}{{- partial "card-caption.html" (dict "page" $page "keywords" $footer "color" $color) -}}{{ end }}
        </div>
    </div>
{{- end -}}
{{ if ne $gutter "0" }}</div>{{ end }}
