<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "card-group" "child" "card" "args" .) }}
    {{- errorf "partial [assets/card-group.html] - Invalid arguments" -}}
{{ end }}

<!-- Initialize arguments and default values -->
{{- $page := .page -}}
{{- $breakpoint := partial "utilities/GetBreakpoint.html" -}}
{{ $pages := .list }}
{{ $cards := .cards }}
{{- $paginate := .paginate | default false -}}
{{- $moreURL := .href -}}
{{- $moreTitle := .hrefTitle -}}
{{- $gutter := .gutter | default 4 -}}
{{- $separator := .separator | default false -}}
{{- $class := .class -}}
{{- $color := .color -}}
{{- $padding := .padding -}}
{{- $header := .header -}}
{{- $body := .body -}}
{{- $footer := .footer -}}
{{- $orientation := .orientation -}}
{{- $ratio := .ratio -}}
{{- $portrait := .portrait | default false -}}
{{- $wrapper := .wrapper | default "p-0" -}}
{{- $style := .style -}}
{{- $align := .align -}}
{{- $subtle := .subtle }}
{{- $loading := .loading -}}
{{- $button := .button -}}
{{- $buttonLabel := .buttonLabel -}}
{{- $buttonType := .buttonType -}}
{{- $iconRounded := .iconRounded }}
{{- $scroll := .scroll | default false }}
{{- $spacer := .spacer | default false }}
{{- $hook := .hook | default "assets/card.html" }}
{{- $cols := string .cols | default "3" -}}

<!-- Override arguments -->
{{ $isPages := in (slice "page.Pages" "resource.Resources") (printf "%T" $pages) }}
{{ $paginator := "" }}
{{ if and $isPages $paginate }}
    {{ with .pagination }}
        {{ $paginator = $page.Paginate $pages . }}
    {{ else }}
        {{ $paginator = $page.Paginate $pages }}
    {{ end }}
    {{ $pages = first $paginator.PagerSize (after (mul (sub $paginator.PageNumber 1) $paginator.PagerSize) $pages) }}
{{ end }}

{{ $cardWrapper := "" }}
{{ if $scroll }}
    {{ $cardWrapper = printf "card-block card-block-%d" (int $cols) }}
{{ end }}

{{ if not $spacer }}{{ $class = printf "%s h-100" $class }}{{ end }}

{{ $list := slice }}
{{ if $isPages }}
    {{ range $index, $element := $pages }}
        {{ $params := dict }}
        <!-- regular page -->
        {{- if and $element.RelPermalink $element.File -}}
            {{- $params = merge $params (dict "path" $element.File.Path) -}}
        <!-- headless page -->
        {{- else -}}
            {{- $thumbnail := (or (and (reflect.IsMap $element.Params.Thumbnail) $element.Params.Thumbnail.url) $element.Params.Thumbnail) -}}
            {{- $anchor := (or (and (reflect.IsMap $element.Params.Thumbnail) $element.Params.Thumbnail.anchor) "") -}}
            {{- $params = merge $params (dict
                "title" $element.Title
                "href" $element.RelPermalink
                "description" (partial "utilities/GetDescription.html" (dict "page" $element "raw" true))
                "thumbnail" $thumbnail
                "anchor" $anchor
                "icon" $element.Params.icon
            ) -}}
        {{- end -}}

        {{- $list = $list | append $params }}
    {{ end }}
{{ else if $pages }}
    {{ $list = $list | append $pages }}
{{ end }}

{{- $count := len $list -}}
{{- $max := $count -}}
{{- $max = math.Min (.max | default $count) $count -}}
{{- $responsive := .responsive | default true -}}

{{- $sizes := "100vw" }}
{{- $colGrid := "" -}}
{{ if not $scroll }}
    {{ $colGrid = printf "row-cols-%s" $cols }}
    {{- if eq $cols "1" }}
        {{ $colGrid = "row-cols-1" -}}
    {{- else if eq $cols "2" }}
        {{ if $responsive }}
            {{ $colGrid = printf "row-cols-1 row-cols-%s-1 row-cols-%s-2" $breakpoint.prev $breakpoint.current }}
        {{ end -}}
        {{ $sizes = printf "(min-width: %s) 50vw, 100vw" $breakpoint.currentSize }}
    {{- else if eq $cols "3" }}
        {{ if $responsive }}
            {{ $colGrid = printf "row-cols-1 row-cols-%s-2 row-cols-%s-3" $breakpoint.prev $breakpoint.current }}
        {{ end -}}
        {{ $sizes = printf "(min-width: %s) 33.3vw, (min-width: %s) 50vw, 100vw" $breakpoint.currentSize $breakpoint.prevSize }}
    {{- else if eq $cols "4" }}
        {{ if $responsive }}
            {{ $colGrid = printf "row-cols-1 row-cols-%s-2 row-cols-%s-4" $breakpoint.prev $breakpoint.current }}
        {{ end -}}
        {{ $sizes = printf "(min-width: %s) 25vw, (min-width: %s) 50vw, 100vw" $breakpoint.currentSize $breakpoint.prevSize }}
    {{- else if eq $cols "5" }}
        {{ if $responsive }}
            {{ $colGrid = printf "row-cols-1 row-cols-%s-3 row-cols-%s-5" $breakpoint.prev $breakpoint.current }}
        {{ end -}}
        {{ $sizes = printf "(min-width: %s) 20vw, (min-width: %s) 33.3vw, 100vw" $breakpoint.currentSize $breakpoint.prevSize }}
    {{ end -}}
{{ else }}
    {{ if in (slice "2" "3" "4" "5") $cols }}
        {{ $sizes = replace (printf "%.1fvw" (div 100.0 (int $cols))) ".0" "" }}
    {{ end }}
{{ end }}

{{- if not $paginate -}}
    {{- $list = first $max $list -}}
{{- end -}}

{{- if and (eq $cols "1") (eq $orientation "horizontal") }}{{ $orientation = "horizontal-sm" }}{{ end -}}

<!-- Main code -->
<div class="container-fluid {{ $wrapper }} {{ if $scroll }}card-container-wrapper{{ end }}">
    <div class="row g-{{ $gutter }} {{ if $scroll }}d-flex flex-row flex-nowrap card-container scrollbar-horizontal pb-4 w-100 {{ end  }} {{ $colGrid }}">
        {{ range $index, $element := $list }}
            {{- $params := (dict
                "class" (printf " %s" $class)
                "color" $color
                "footer" $footer
                "body" $body
                "header" $header
                "loading" $loading
                "sizes" $sizes
                "orientation" $orientation
                "padding" $padding
                "ratio" $ratio
                "portrait" $portrait
                "subtle" $subtle
                "style" $style
                "align" $align
                "button" $button
                "buttonLabel" $buttonLabel
                "buttonType" $buttonType
                "iconRounded" $iconRounded
            ) -}}
            {{- $params = merge $element $params }}

            <div class="{{ with $cardWrapper }}{{ . }}{{ else }}col{{ end }}">
                {{ if $spacer }}<div class="spacer"></div>{{ end }}
                {{- partial $hook $params -}}
            </div>
            {{- if and (lt $index (sub $max 1)) $separator -}}
                <div class="col d-block d-sm-none">
                    <hr>
                </div>
            {{- end -}}
        {{- end -}}
        {{ if $cards }}{{- print $cards | safeHTML }}{{ end }}
    </div>

    {{ if $paginator }}
        {{- if gt $paginator.TotalPages 1 -}}
            <div class="pt-3">{{ partial "assets/pagination.html" (dict "page" $page "format" "terse") }}</div>
        {{- end -}} 
    {{ else }}
        {{ if and (gt $count $max) $moreTitle }}
            <a class="btn btn-outline-primary mt-4" href="{{ $moreURL| safeURL }}" role="button">{{ $moreTitle }}</a>
        {{ end }}
    {{ end }}
</div>