<!-- 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

<!-- Define inline partials -->
{{ define "partials/assets/style.html" }}
	{{ $style := "" }}
    {{ if gt (len .styles) 0 }}
        {{ $def := index .styles (mod .index (len .styles)) }}
        {{ $style = index $def .key }}
    {{ end }}
    {{ return ($style | default .default ) }}
{{ end }}

<!-- Initialize arguments -->
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "card-group" "child" "card" "args" .) }}
{{ if $args.err }}
    {{ partial "utilities/LogErr.html" (dict 
        "partial" "assets/card-group.html" 
        "msg" "Invalid arguments"
        "details" $args.errmsg
        "file" page.File
    )}}
{{ end }}

<!-- Initialize global variables -->
{{- $pretty := site.Params.main.internalLinks.pretty | default false }}

<!-- Initialize local variables -->
{{ $list := $args.list }}
{{- $class := $args.class -}}
{{- $orientation := $args.orientation -}}
{{ $cardWrapper := "" }}

{{- $breakpoint := partial "utilities/GetBreakpoint.html" -}}
{{ $colsMap := dict
    "auto" ""
    "1" "row-cols-1"
    "2" (printf "row-cols-1 row-cols-%s-1 row-cols-%s-2" $breakpoint.prev $breakpoint.current)
    "3" (printf "row-cols-1 row-cols-%s-2 row-cols-%s-3" $breakpoint.prev $breakpoint.current)
    "4" (printf "row-cols-1 row-cols-%s-2 row-cols-%s-4" $breakpoint.prev $breakpoint.current)
    "5" (printf "row-cols-1 row-cols-%s-3 row-cols-%s-5" $breakpoint.prev $breakpoint.current)
}}
{{ $sizesMap := dict
    "auto" "100vw"
    "1" "100vw"
    "2" (printf "(min-width: %s) 50vw, 100vw" $breakpoint.currentSize)
    "3" (printf "(min-width: %s) 33.3vw, (min-width: %s) 50vw, 100vw" $breakpoint.currentSize $breakpoint.prevSize)
    "4" (printf "(min-width: %s) 25vw, (min-width: %s) 50vw, 100vw" $breakpoint.currentSize $breakpoint.prevSize)
    "5" (printf "(min-width: %s) 20vw, (min-width: %s) 33.3vw, 100vw" $breakpoint.currentSize $breakpoint.prevSize)
}}

{{ if not $args.responsive }}
    {{ $colsMap = dict  "auto" "" "1" "row-cols-1" "2" "row-cols-2" "3" "row-cols-3" "4" "row-cols-4" "5" "row-cols-5" }}
    {{ $sizesMap = dict "auto" "100vw" "1" "100vw" "2" "50vw" "3" "33.3vw" "4" "25vw" "5" "20vw" }}
{{ end }}

<!-- Apply optional pagination -->
{{ $isPages := in (slice "page.Pages" "resource.Resources") (printf "%T" $list) }}
{{ $paginator := "" }}
{{ if and $isPages $args.paginate }}
    {{ with $args.pagination }}
        {{ $paginator = $args.page.Paginate $list . }}
    {{ else }}
        {{ $paginator = $args.page.Paginate $list }}
    {{ end }}
    {{ $list = first $paginator.PagerSize (after (mul (sub $paginator.PageNumber 1) $paginator.PagerSize) $list) }}

    {{ page.Store.Set "paginator" $paginator }}
{{ end }}

<!-- Initialize list elements -->
{{ $elements := slice }}
{{ if $isPages }}
    {{ range $index, $element := $list }}
        {{ $params := dict }}
        <!-- regular page -->
        {{- if and $element.RelPermalink $element.File -}}
            {{- $params = merge $params (dict "path" $element.File.Path) -}}
        <!-- headless page -->
        {{- else -}}
            {{- $thumbnail := "" -}}
            {{ if reflect.IsMap $element.Params.Thumbnail }}{{ $thumbnail = $element.Params.Thumbnail.url }}{{ else }}{{ $thumbnail = $element.Params.Thumbnail }}{{ end }}
            {{- $anchor := (or (and (reflect.IsMap $element.Params.Thumbnail) $element.Params.Thumbnail.anchor) "") -}}
            {{- $params = merge $params (dict
                "title" $element.Title
                "href" $element.RelPermalink
                "description" (partial "utilities/GetDescription.html" (dict "page" $element "raw" true))
                "thumbnail" $thumbnail
                "anchor" $anchor
                "icon" $element.Params.icon
            ) -}}
        {{- end -}}

        {{- $elements = $elements | append $params }}
    {{ end }}
{{ else if $list }}
    {{ $elements = $elements | append $list }}
{{ end }}

<!-- Limit list to max elements -->
{{- $count := len $elements -}}
{{- $max := $count -}}
{{- $max = math.Min ($args.max | default $count) $count -}}
{{- if not $args.paginate -}}
    {{- $elements = first $max $elements -}}
{{- end -}}

{{/* Initialize grid and layout */}}
{{- $sizes := "100vw" }}
{{- $colGrid := "" -}}
{{ if not $args.scroll }}
    {{ $colGrid = index $colsMap $args.cols }}
    {{ $sizes = index $sizesMap $args.cols }}
{{ else }}
    {{ if in (slice "2" "3" "4" "5") $args.cols }}
        {{ $sizes = replace (printf "%.1fvw" (div 100.0 (int $args.cols))) ".0" "" }}
    {{ end }}
{{ end }}

{{- if and (eq $args.cols "1") (eq $orientation "horizontal") }}{{ $orientation = "horizontal-sm" }}{{ end -}}

{{ if not $args.spacer }}
    {{ $class = printf "%s h-100" $class }}
{{ end }}

<!-- Main code -->
<div class="{{ $args.wrapper }}">
    <div class="container-fluid {{ if $args.scroll }}card-container-wrapper{{ end }} p-0">
        <div class="row g-{{ $args.gutter }} {{ if $args.scroll }}d-flex flex-row flex-nowrap card-container scrollbar-horizontal pb-4 w-100 {{ end }}
        {{ if $args.bento }}{{ with $args.valign }}align-items-{{ . }}{{ end }}{{ else }}{{ $colGrid }}{{ end }}">
            {{ range $index, $element := $elements }}
                {{- $params := (dict
                    "class" (printf " %s" $class)
                    "color" $args.color
                    "footer" $args.footer
                    "body" $args.body
                    "header" $args.header
                    "loading" $args.loading
                    "sizes" $sizes
                    "orientation" (partial "assets/style.html" (dict "styles" $args.styles "index" $index "key" "orientation" "default" $orientation))
                    "padding" $args.padding
                    "ratio" (partial "assets/style.html" (dict "styles" $args.styles "index" $index "key" "ratio" "default" $args.ratio))
                    "portrait" (partial "assets/style.html" (dict "styles" $args.styles "index" $index "key" "portrait" "default" $args.portrait))
                    "subtle" $args.subtle
                    "style" $args.style
                    "align" $args.align
                    "button" $args.button
                    "buttonLabel" $element.buttonLabel
                    "buttonType" $args.buttonType
                    "iconRounded" $args.iconRounded
                ) -}}
                {{- $params = merge $element $params }}

                {{ if $args.scroll }}
                    {{ $width := (partial "assets/style.html" (dict "styles" $args.styles "index" $index "key" "width" "default" "3")) }}
                    {{ $size := $args.cols }}
                    {{ if and (gt $args.cols 1) (eq $width "6") }}{{ $size = sub (int $args.cols) 1 }}{{ end }}
                    {{ $cardWrapper = printf "card-block card-block-%d" (int $size) }}
                {{ end }}

                <!--add col-$width -->
                <div class="{{ with $cardWrapper }}{{ . }}{{ else }}col{{ end }}">
                    {{ if $args.spacer }}<div class="spacer"></div>{{ end }}
                    {{- partial $args.hook $params -}}
                </div>
                {{- if and (lt $index (sub $max 1)) $args.separator -}}
                    <div class="col d-block d-sm-none">
                        <hr>
                    </div>
                {{- end -}}
            {{- end -}}
            {{ if $args.cards }}{{- print $args.cards | safeHTML }}{{ end }}
        </div>
    </div>

    {{ if $paginator }}
        {{- if gt $paginator.TotalPages 1 -}}
            <div class="pt-3">{{ partial "assets/pagination.html" (dict "page" $args.page "format" "terse") }}</div>
        {{- end -}} 
    {{ else }}
        {{ if and (gt $count $max) $args.hrefTitle }}
            {{ $href := $args.href }}
            {{ if and $pretty (not (hasSuffix $href "/" )) (not (strings.Contains $href "#")) }}
                {{ $href = printf "%s/" $href }}
            {{ end }}
            <a class="btn btn-outline-primary mt-4" href="{{ $href | safeURL }}" role="button">{{ $args.hrefTitle }}</a>
        {{ end }}
    {{ end }}
</div>