<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "carousel-item" "args" . "group" "partial") }}
    {{- errorf "partial [assets/carousel-item.html] - Invalid arguments" -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{- $page := .page -}}
{{- $active := .active -}}
{{- $src := .src -}}
{{- $caption := .caption -}}
{{- $ratio := .ratio -}}
{{- $portrait := .portrait -}}
{{- $loading := .loading | default "eager" -}}

<!-- Main code -->
<div class="carousel-item{{ if $active }} active{{ end }}" {{ if not $active }} fetchpriority="low"{{ end }}>
    {{ partial "assets/image.html" (dict "url" $src "ratio" $ratio "page" $page "class" "d-block w-100" "portrait" $portrait "loading" $loading) }}
    <div class="carousel-caption gradient"></div>
    {{ with $caption }}
        <div class="carousel-caption d-none d-md-block">
            <div class="d-flex justify-content-center align-items-end h-100 w-100 p-4">{{ . }}</div>
        </div>
    {{ end }}
</div>
