{{- $page := .page -}}
{{- $active := .active -}}
{{- $src := .src -}}
{{- $caption := .caption -}}
{{- $ratio := .ratio -}}
{{- $portrait := .portrait -}}

{{- $loading := .loading -}}
{{- $validSettings := slice "lazy" "eager" -}}
{{- if $loading -}}
    {{ if not (in $validSettings $loading) -}}
        {{- errorf "partial [assets/carousel-item.html] - Invalid value for param 'loading': %s" $loading -}}
    {{ end -}}
{{- end -}}

<div class="carousel-item{{ if $active }} active{{ end }}" {{ if not $active }} fetchpriority="low"{{ end }}>
    {{ partial "assets/image.html" (dict "url" $src "ratio" $ratio "page" $page "innerClass" "d-block w-100" "portrait" $portrait "loading" $loading) }}
    <div class="carousel-caption gradient"></div>
    {{ with $caption }}
        <div class="carousel-caption d-none d-md-block">
            <div class="d-flex justify-content-center align-items-end h-100 w-100 p-4">{{ . }}</div>
        </div>
    {{ end }}
</div>
