<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "image" "args" . "group" "partial") }}
    {{ errorf "partial [assets/image.html] - Invalid arguments" -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{- $page := .page -}}
{{- $ratio := .ratio -}}
{{- $portrait := .portrait -}}
{{- $wrapper := .wrapper -}}
{{- $class := .class -}}
{{- $title := .title -}}
{{- $caption := .caption -}}
{{- $figclass := .figclass -}}
{{- $loading := .loading -}}
{{- $lazy := eq $loading "lazy" -}}
{{- $priority := .priority -}}
{{- if eq $priority "auto" }}{{ $priority = "" }}{{ end -}}
{{- $sizes := .sizes | default "100vw" -}}
{{- $plain := .plain | default false -}}
{{- $anchor := .anchor | default "" -}}

{{- $absoluteURL := site.Params.main.canonifyAssetsURLs | default false -}}
{{- $url := .url -}}
{{- $mode := .mode -}}
{{- $modes := site.Params.main.modes | default (slice "light" "dark") -}}

<!-- Main code -->
{{ $params := dict }}
{{- $params = merge $params (dict
    "page" $page
    "ratio" $ratio
    "portrait" $portrait
    "wrapper" $wrapper
    "class" $class
    "title" $title
    "caption" $caption
    "figclass" $figclass
    "lazy" $lazy
    "priority" $priority
    "sizes" $sizes
    "absoluteURL" $absoluteURL
    "plain" $plain
    "anchor" $anchor
    )
-}}

{{ if not $error }}
    {{- if $mode -}}
        {{- $ext := path.Ext $url -}}
        {{- $base := strings.TrimSuffix $ext $url -}}
        {{- range $suffix := $modes -}}
            {{- $base = strings.TrimSuffix (printf "-%s" $suffix) $base -}}
        {{- end -}}

        {{- range $suffix := $modes -}}
            {{- $image := printf "%s-%s%s" $base $suffix $ext -}}
            {{- $params = merge $params (dict
                "url" $image
                "mode" $suffix
                "modes" $modes)
            -}}
            {{- partial "assets/helpers/image-definition.html" $params -}}
        {{- end -}}
    {{ else }}
        {{- $params = merge $params (dict "url" $url) -}}
        {{- partial "assets/helpers/image-definition.html" $params -}}
    {{- end -}}
{{ end }}