<!-- 
    Render a local or remote image with responsive image sizing. Images are resized using default media breakpoints
    and are converted to webp format. The image is processed using the quality setting specified in the [imaging]
    section of the main config file (defaults to 75). A fallback image is provided for older browsers. The image is
    wrapped in a figure if a caption is provided, else the image is wrapped in a div with a ratio constraint. The
    partial supports the following arguments:
    "url":          Required relative url of the image, e.g. "img/example.jpg"
    "mode":         Optional flag indicating if the image should support color modes.
    "ratio":        Optional ratio of the image, either "1x1", "4x3", "16x9", or "21x9". If set, the image is
                    resized and cropped to match the ratio. Else the original aspect ratio of the image is kept.
    "outerClass":   Optional class attribute of the outer div element, e.g. "img-wrap".
    "innerClass":   Optional class attribute of the inner img element, e.g. "rounded".
    "title":        Optional alternate text of the image.
    "caption":      Optional figure caption.
-->

{{- $validRatios := slice "1x1" "4x3" "16x9" "21x9" -}}
{{- $ratio := .ratio -}}
{{- $url := .url -}}
{{- $mode := false -}}
{{- with .mode -}}
    {{ $mode = . -}}
{{- end -}}
{{- $outerClass := .outerClass -}}
{{- $innerClass := .innerClass -}}
{{- $title := .title -}}
{{- $caption := .caption -}}
{{- if ne (printf "%T" $mode) "bool" -}}
    {{- errorf "partial [assets/image.html] - Invalid value for param 'mode'" -}}
{{- end -}}
{{- $modes := site.Params.main.modes | default (slice "light" "dark") -}}


<!-- Generate a fallback image of type jpg -->
{{- define "partials/image-default.html" -}}
    {{- $img := .img -}}
    {{- $ratio := .ratio -}}
    {{- $width := "1400" -}}
    {{- $dim := "" -}}
    {{- $fallback := "" -}}

    {{- with $img -}}
        {{- if eq $ratio "4x3" -}}
            {{- $dim  = "1400x1050" }}
        {{- else if eq $ratio "1x1" -}}
            {{- $dim  = "1400x1400" }}
        {{- else if eq $ratio "16x9" -}}
            {{- $dim = "1400x788" -}}
        {{- else if eq $ratio "21x9" -}}
            {{- $dim = "1400x600" -}}
        {{- else -}}
            {{- $dim = printf "%sx%d" $width (int (math.Round (mul (div (float $width) $img.Width) $img.Height))) -}}
        {{- end -}}

        {{- if $ratio -}}
            {{- $fallback = ($img.Fill (printf "%s jpg" $dim)) -}}
        {{- else -}}
            {{- $fallback = ($img.Fit (printf "%s jpg" $dim)) -}}
        {{- end -}}
        {{- $clean := path.Ext $img.RelPermalink -}}
        {{- $ext := path.Ext $img.RelPermalink -}}
        {{- $fallback = $fallback | resources.Copy (replace $img.RelPermalink $clean (printf "-%s%s" $dim $ext)) -}}
    {{- end -}}

    {{- return $fallback -}}
{{- end -}}


<!-- Generate a image set of type webp -->
{{- define "partials/image-scaled.html " -}}
    {{- $img := .img -}}
    {{- $ratio := .ratio -}}
    {{- $imgset := "" -}}

    {{- $widths := slice "576" "768" "992" "1200" "1400" -}}
    {{- $dims := slice -}}
    {{- with $img -}}
        {{- if eq $ratio "4x3" -}}
            {{- $dims  = slice "576x432" "768x576" "992x744" "1200x900"  "1400x1050" -}}
        {{- else if eq $ratio "1x1" -}}
            {{- $dims  = slice "576x576" "768x768" "992x992" "1200x1200" "1400x1400" -}}
        {{- else if eq $ratio "16x9" -}}
            {{- $dims = slice "576x324"  "768x432" "992x558" "1200x675"  "1400x788" -}}
        {{- else if eq $ratio "21x9" -}}
            {{- $dims = slice "576x247"  "768x329" "992x425" "1200x514"  "1400x600" -}}
        {{- else -}}
            {{- range $width := $widths -}}
                {{- $dims = $dims | append (printf "%sx%d" $width (int (math.Round (mul (div (float $width) $img.Width) $img.Height)))) -}}
            {{- end -}}
        {{- end -}}

        {{- $scaled := "" -}}
        {{- range $index, $dim := $dims -}}
            {{- $clean := path.Ext $img.RelPermalink -}}
            {{- if $ratio -}}
                {{- $scaled = $img.Fill (printf "%s webp" $dim) -}}
            {{- else -}}
                {{- $scaled = $img.Fit (printf "%s webp" $dim) -}}
            {{- end -}}
            {{- $scaled = $scaled | resources.Copy (replace $img.RelPermalink $clean (printf "-%s.webp" $dim)) -}}
            {{- $imgset = printf "%s, %s %sw" $imgset $scaled.RelPermalink (index $widths $index) -}}
        {{- end -}}
        {{- $imgset = strings.TrimPrefix ", " $imgset -}}
    {{- end -}}

    {{- return $imgset -}}
{{- end -}}

<!-- Define the img with optional caption -->
{{- define "partials/image-definition.html" -}}
    {{- $ratio := .ratio -}}
    {{- $url := .url -}}
    {{- $outerClass := .outerClass -}}
    {{- $innerClass := .innerClass -}}
    {{- $title := .title -}}
    {{- $caption := .caption -}}
    {{- $fallbackURL := "" -}}
    {{- $imgset := "" -}}
    {{- $mode := .mode -}}
    {{- $modes := .modes -}}

    {{- if hasSuffix $url "svg" -}}
        {{- $fallbackURL = $url -}}
    {{- else -}}
        {{- $img := partial "utilities/GetImage.html" (dict "url" $url) -}}
        {{- if $img -}}
            {{- $fallback := partial "partials/image-default.html" (dict "img" $img "ratio" $ratio) -}}
            {{- $fallbackURL = $fallback.RelPermalink -}}
            {{- $imgset = partial "partials/image-scaled.html " (dict "img" $img "ratio" $ratio) -}}
        {{- end -}}
    {{- end -}}

    {{- range $none := $modes -}}
        {{- if ne $none $mode -}}
            {{- $outerClass = printf "%s d-none-%s" (or $outerClass "") $none -}}
        {{- end -}}
    {{- end -}}

    {{- if $caption -}}
        <figure {{ with $outerClass }}class="{{ . }}"{{ end }}>
    {{ end }}
        <div class="{{ with $ratio }}ratio ratio-{{ . }}{{ end }}{{ if not $caption }} {{ $outerClass }}{{ end }}">
            <img class="img-fluid {{ $innerClass }}"
                {{ with $imgset -}}
                srcset="{{ . }}"
                sizes="100vw"
                {{- end }}
                src="{{ $fallbackURL }}"
                alt="{{ $title }}">
        </div>
    {{- if $caption -}}
        <figcaption class="figure-caption">{{ $caption | safeHTML }}</figcaption>
    </figure>
{{- end -}}
{{- end -}}

<!-- Initiate the regular or color-mode image -->
{{- if $mode -}}
    {{- $ext := path.Ext $url -}}
    {{- $base := strings.TrimSuffix $ext $url -}}
    {{- range $suffix := $modes -}}
        {{- $base = strings.TrimSuffix (printf "-%s" $suffix) $base -}}
    {{- end -}}

    {{- range $suffix := $modes -}}
        {{- $image := printf "%s-%s%s" $base $suffix $ext -}}
        {{- partial "partials/image-definition.html" (dict 
            "ratio" $ratio
            "url" $image
            "outerClass" $outerClass
            "innerClass" $innerClass
            "title" $title
            "caption" $caption
            "mode" $suffix
            "modes" $modes)
        -}}
    {{- end -}}
{{- else -}}
    {{- partial "partials/image-definition.html" (dict 
        "ratio" $ratio
        "url" $url
        "outerClass" $outerClass
        "innerClass" $innerClass
        "title" $title
        "caption" $caption)
    -}}
{{- end -}}
