<!-- 
    Render a local or remote image with responsive image sizing. Images are resized using default media breakpoints
    and are converted to webp format. The image is processed using the quality setting specified in the [imaging]
    section of the main config file (defaults to 75). A fallback image is provided for older browsers. The image is
    wrapped in a figure if a caption is provided, else the image is wrapped in a div with a ratio constraint.
    
    If the url starts with 'http', the image is retrieved from an external location. Else, the url is matched with a
    page resource and site asset (in that order). The path of a remote image is rewritten to ensure processed files are
    stored in the final '/img' folder. 
    
    The partial supports the following bitmap image formats: "png", "jpeg", "gif", "tiff", "bmp", and  "webp". Vector
    graphics of type "svg" are supported too, although these images do no support additional processing. This means
    the arguments "ratio" and "portrait" have no effect for vector images. Vector graphics support an optional anchor
    "#" in their url to denote a styling reference.
    
    The partial supports the following arguments:
    "url":          Required path or url of the image, e.g. "img/example.jpg"
    "mode":         Optional flag indicating if the image should support color modes.
    "ratio":        Optional ratio of the image, either "1x1", "3x2", "4x3", "16x9", or "21x9". If set, the image is
                    resized and cropped to match the ratio. Else the original aspect ratio of the image is kept. Not
                    applicable to vector graphics.
    "portrait":     Optional flag to adjust the ratio from landscape to portrait. The image itself is not rotated, only
                    the crop area is adjusted. Not applicable to vector graphics.
    "outerClass":   Optional class attribute of the outer div element, e.g. "img-wrap".
    "innerClass":   Optional class attribute of the inner img element, e.g. "rounded".
    "title":        Optional alternate text of the image.
    "caption":      Optional figure caption.
    "page":         Optional page context, used to match page resources.
-->

{{- $absoluteURL := site.Params.main.canonifyAssetsURLs | default false -}}
{{- $validRatios := slice "1x1" "3x2" "4x3" "16x9" "21x9" -}}
{{- $ratio := .ratio -}}
{{- if $ratio -}}
    {{ if not (in $validRatios $ratio) -}}
        {{- errorf "partial [assets/image.html] - Invalid value for param 'ratio'" -}}
    {{ end -}}
{{- end -}}
{{- $portrait := .portrait -}}
{{- $url := .url -}}

{{- $mode := false -}}
{{- with .mode -}}
    {{ $mode = . -}}
{{- end -}}
{{- $outerClass := .outerClass -}}
{{- $innerClass := .innerClass -}}
{{- $title := .title -}}
{{- $caption := .caption -}}
{{- if ne (printf "%T" $mode) "bool" -}}
    {{- errorf "partial [assets/image.html] - Invalid value for param 'mode'" -}}
{{- end -}}
{{- $modes := site.Params.main.modes | default (slice "light" "dark") -}}
{{- $page := .page -}}


{{- define "partials/image-portrait.html" -}}
    {{- $dimensions := slice }}
    {{- $dim := .dim -}}
    {{- $dimensions = $dimensions | append $dim -}}
    {{- $portraits := slice }}
    {{- range $d := $dimensions -}}
        {{- $p := split $d "x" }}
        {{ if ne (len $p) 2 }}
            {{- warnf "partial [assets/image.html] - Invalid dimension: %s" $d -}}
            {{- $portraits = $portraits | append $d -}}
        {{- else -}}
            {{- $portraits = $portraits | append (printf "%sx%s" (index $p 1) (index $p 0)) -}}
        {{- end -}}
    {{- end -}}
    {{- $ret := "" }}
    {{- if reflect.IsSlice $dim -}}
        {{ $ret = $portraits -}}
    {{- else if gt (len $portraits) 0 -}}
        {{- $ret = index $portraits 0 -}}
    {{- end -}}
    {{- return $ret -}}
{{- end -}}

<!-- Generate a fallback image of type jpg -->
{{- define "partials/image-default.html" -}}
    {{- $img := .img -}}
    {{- $ratio := .ratio -}}
    {{- $portrait := and .portrait .ratio -}}
    {{- $width := "1400" -}}
    {{- $dim := "" -}}
    {{- $fallback := "" -}}

    {{- with $img -}}
        {{- if eq $ratio "4x3" -}}
            {{- $dim  = "1400x1050" }}
        {{- else if eq $ratio "3x2" -}}
            {{- $dim  = "1400x933" }}
        {{- else if eq $ratio "1x1" -}}
            {{- $dim  = "1400x1400" }}
        {{- else if eq $ratio "16x9" -}}
            {{- $dim = "1400x788" -}}
        {{- else if eq $ratio "21x9" -}}
            {{- $dim = "1400x600" -}}
        {{- else -}}
            {{- $dim = printf "%sx%d" $width (int (math.Round (mul (div (float $width) $img.Width) $img.Height))) -}}
        {{- end -}}

        {{- if $portrait -}}
            {{- $dim = partial "partials/image-portrait.html" (dict "dim" $dim) -}}
        {{- end -}}

        {{- if $ratio -}}
            {{- $fallback = ($img.Fill (printf "%s jpg" $dim)) -}}
        {{- else -}}
            {{- $fallback = ($img.Fit (printf "%s jpg" $dim)) -}}
        {{- end -}}
        {{- $clean := path.Ext $img.RelPermalink -}}
        {{- $ext := path.Ext $img.RelPermalink -}}
        {{- $fallback = $fallback | resources.Copy (replace $img.RelPermalink $clean (printf "-%s%s" $dim $ext)) -}}
    {{- end -}}

    {{- return $fallback -}}
{{- end -}}


<!-- Generate a image set of type webp -->
{{- define "partials/image-scaled.html " -}}
    {{- $absoluteURL := site.Params.main.canonifyAssetsURLs | default false -}}
    {{- $img := .img -}}
    {{- $ratio := .ratio -}}
    {{- $portrait := and .portrait .ratio -}}
    {{- $imgset := "" -}}

    {{- $widths := slice "576" "768" "992" "1200" "1400" -}}
    {{- $dims := slice -}}
    {{- with $img -}}
        {{- if eq $ratio "4x3" -}}
            {{- $dims  = slice "576x432" "768x576" "992x744" "1200x900"  "1400x1050" -}}
        {{- else if eq $ratio "3x2" -}}
            {{- $dims = slice "576x384"  "768x512" "992x661" "1200x800"  "1400x933" -}}
        {{- else if eq $ratio "1x1" -}}
            {{- $dims  = slice "576x576" "768x768" "992x992" "1200x1200" "1400x1400" -}}
        {{- else if eq $ratio "16x9" -}}
            {{- $dims = slice "576x324"  "768x432" "992x558" "1200x675"  "1400x788" -}}
        {{- else if eq $ratio "21x9" -}}
            {{- $dims = slice "576x247"  "768x329" "992x425" "1200x514"  "1400x600" -}}
        {{- else -}}
            {{- range $width := $widths -}}
                {{- $dims = $dims | append (printf "%sx%d" $width (int (math.Round (mul (div (float $width) $img.Width) $img.Height)))) -}}
            {{- end -}}
        {{- end -}}

        {{- if $portrait -}}
            {{- $dims = partial "partials/image-portrait.html" (dict "dim" $dims) -}}
        {{- end -}}

        {{- $scaled := "" -}}
        {{- range $index, $dim := $dims -}}
            {{- $clean := path.Ext $img.RelPermalink -}}
            {{- if $ratio -}}
                {{- $scaled = $img.Fill (printf "%s webp" $dim) -}}
            {{- else -}}
                {{- $scaled = $img.Fit (printf "%s webp" $dim) -}}
            {{- end -}}
            {{- $scaled = $scaled | resources.Copy (replace $img.RelPermalink $clean (printf "-%s.webp" $dim)) -}}
            {{- if $absoluteURL -}}
                {{- $imgset = printf "%s, %s %sw" $imgset $scaled.Permalink (index $widths $index) -}}
            {{- else -}}
                {{- $imgset = printf "%s, %s %sw" $imgset $scaled.RelPermalink (index $widths $index) -}}
            {{- end -}}
        {{- end -}}
        {{- $imgset = strings.TrimPrefix ", " $imgset -}}
    {{- end -}}

    {{- return $imgset -}}
{{- end -}}

<!-- Define the img with optional caption -->
{{- define "partials/image-definition.html" -}}
    {{- $absoluteURL := site.Params.main.canonifyAssetsURLs | default false -}}
    {{- $ratio := .ratio -}}
    {{- $portrait := .portrait -}}
    {{- $url := .url -}}
    {{- $outerClass := .outerClass -}}
    {{- $innerClass := .innerClass -}}
    {{- $title := .title -}}
    {{- $caption := .caption -}}
    {{- $fallbackURL := "" -}}
    {{- $anchor := "" -}}
    {{- $imgset := "" -}}
    {{- $mode := .mode -}}
    {{- $modes := .modes -}}
    {{- $page := .page -}}
    {{- $isVector := false -}}

    {{- $segments := split $url "#" -}}
    {{- if gt (len $segments) 2 -}}
        {{- errorf "Invalid path or url: %q" $url -}}
    {{- else if eq (len $segments) 2 }}
        {{- $url = index $segments 0 -}}
        {{- $anchor = index $segments 1 -}}
    {{- end -}}

    {{- if hasSuffix $url "svg" -}}
        {{- $fallbackURL = $url -}}
        {{- $isVector = true -}}
    {{- else -}}
        {{- $img := partial "utilities/GetImage.html" (dict "url" $url "page" $page) -}}
        {{- if $img -}}
            {{- $fallback := partial "partials/image-default.html" (dict "img" $img "ratio" $ratio "portrait" $portrait) -}}
                {{- if $absoluteURL -}}
                    {{- $fallbackURL = $fallback.Permalink -}}
                {{- else -}}
                    {{- $fallbackURL = $fallback.RelPermalink -}}
                {{- end -}}
            {{- $imgset = partial "partials/image-scaled.html " (dict "img" $img "ratio" $ratio "portrait" $portrait) -}}
        {{- end -}}
    {{- end -}}

    {{- range $none := $modes -}}
        {{- if ne $none $mode -}}
            {{- $outerClass = printf "%s d-none-%s" (or $outerClass "") $none -}}
        {{- end -}}
    {{- end -}}

    {{- if $caption -}}
        <figure {{ with $outerClass }}class="{{ . }}"{{ end }}>
    {{ end }}
    <div class="{{ if not $caption }}{{ $outerClass }}{{ end }}">
        {{- if not $anchor -}}
            <img class="img-fluid {{ $innerClass }}"
                {{ with $imgset -}}
                srcset="{{ . }}"
                sizes="100vw"
                {{- end }}
                src="{{ $fallbackURL }}"
                alt="{{ $title }}">
        {{- else }}
            <svg class="{{ $innerClass }}">
                <use href="{{ $fallbackURL }}#{{ $anchor }}"></use>
            </svg>
        {{ end }}
    </div>
    {{- if $caption -}}
        <figcaption class="figure-caption">{{ $caption | safeHTML }}</figcaption>
    </figure>
    {{- end -}}
{{- end -}}

<!-- Initiate the regular or color-mode image -->
{{- if $mode -}}
    {{- $ext := path.Ext $url -}}
    {{- $base := strings.TrimSuffix $ext $url -}}
    {{- range $suffix := $modes -}}
        {{- $base = strings.TrimSuffix (printf "-%s" $suffix) $base -}}
    {{- end -}}

    {{- range $suffix := $modes -}}
        {{- $image := printf "%s-%s%s" $base $suffix $ext -}}
        {{- partial "partials/image-definition.html" (dict 
            "ratio" $ratio
            "portrait" $portrait
            "url" $image
            "outerClass" $outerClass
            "innerClass" $innerClass
            "title" $title
            "caption" $caption
            "mode" $suffix
            "modes" $modes
            "page" $page)
        -}}
    {{- end -}}
{{- else -}}
    {{- partial "partials/image-definition.html" (dict 
        "ratio" $ratio
        "portrait" $portrait
        "url" $url
        "outerClass" $outerClass
        "innerClass" $innerClass
        "title" $title
        "caption" $caption
        "page" $page)
    -}}
{{- end -}}
