<!-- 
    Cspell:ignore shortcodes errorf mimage imgset EXIF canonify

    Modified from layouts/shortcodes/image.html
        Changes:    Added option "captionClass" to define a class for the caption text.
                    Added option "credits" to specify the credits of the image
                    Added option "autoCaption" to derive the caption from a txt file or the EXIF of the image
                          and, if not set, make the title equal to the image.
                    Added Cspell ignore list,

    Render a local or remote image with responsive image sizing. Images are resized using default media breakpoints
    and are converted to webp format. The image is processed using the quality setting specified in the [imaging]
    section of the main config file (defaults to 75). A fallback image is provided for older browsers. The image is
    wrapped in a figure if a caption is provided, else the image is wrapped in a div with a ratio constraint. The
    partial supports the following arguments:
    "url":          Required relative url of the image, e.g. "img/example.jpg"
    "page":         Optional .Page, which is used to load the image relative to the current page.
    "mode":         Optional flag indicating if the image should support color modes.
    "ratio":        Optional ratio of the image, either "1x1", "3x2", "4x3", "16x9", or "21x9". If set, the image is
                    resized and cropped to match the ratio. Else the original aspect ratio of the image is kept.
    "portrait":     Optional flag to adjust the ratio from landscape to portrait. The image itself is not rotated, only
                    the crop area is adjusted.
    "outerClass":   Optional class attribute of the outer div element, e.g. "img-wrap".
    "innerClass":   Optional class attribute of the inner img element, e.g. "rounded".
    "captionClass": Optional class attribute for the caption, e.g. "text-center".
    "title":        Optional alternate text of the image.
    "caption":      Optional figure caption.
    "credits":      Optional figure credits text.    
    "autoCaption":  Optional flag, when "true" and "caption" is not set, it will derive the caption an d credits from a file at 
                    the same location as the image file, but with the extension ".txt" or if that does not exist, from the image 
                    EXIF "ImageDescription" and "Artist" tags. Default is "false".
                    If the condition is met and "caption"/credits is not set, it will also make the title equal to the caption.
    "page":         Optional page context, used to match page resources.
-->

{{- $absoluteURL := site.Params.main.canonifyAssetsURLs | default false -}}
{{- $validRatios := slice "1x1" "3x2" "4x3" "16x9" "21x9" -}}
{{- $ratio := .ratio -}}
{{- if $ratio -}}
    {{ if not (in $validRatios $ratio) -}}
        {{- errorf "partial [assets/image.html] - Invalid value for param 'ratio'" -}}
    {{ end -}}
{{- end -}}
{{- $portrait := .portrait -}}
{{- $url := .url -}}

{{- $mode := false -}}
{{- with .mode -}}
    {{ $mode = . -}}
{{- end -}}
{{- $outerClass := .outerClass -}}
{{- $innerClass := .innerClass -}}
{{- $captionClass := .captionClass -}}
{{- $caption := .caption -}}
{{- $credits := .credits -}}
{{- $title := .title -}}
{{- if ne (printf "%T" $mode) "bool" -}}
    {{- errorf "partial [assets/mimage.html] - Invalid value for param 'mode'" -}}
{{- end -}}
{{- $modes := site.Params.main.modes | default (slice "light" "dark") -}}
{{- $page := .page -}}


{{ $supportedFlags := slice "true" "false" -}}
{{- $autoCaption := "false" -}}
{{- with .autoCaption -}}
    {{- $autoCaption = . -}}
    {{ if not (in $supportedFlags $autoCaption) -}}
        {{ errorf "Invalid value for param 'autoCaption': %s" $autoCaption -}}
    {{ end -}}
{{- end -}}


<!-- Define the img with optional caption -->
{{- define "partials/mimage-definition.html" -}}
    {{- $absoluteURL := site.Params.main.canonifyAssetsURLs | default false -}}    
    {{- $ratio := .ratio -}}
    {{- $portrait := .portrait -}}
    {{- $url := .url -}}
    {{- $outerClass := .outerClass -}}
    {{- $innerClass := .innerClass -}}
    {{- $captionClass := .captionClass -}}
    {{- $title := .title -}}
    {{- $caption := .caption -}}
    {{- $credits := .credits -}}
    {{- $fallbackURL := "" -}}
    {{- $imgset := "" -}}
    {{- $mode := .mode -}}
    {{- $modes := .modes -}}
    {{- $autoCaption := .autoCaption -}}
    {{- $page := .page -}}

    {{- if hasSuffix $url "svg" -}}
        {{- $fallbackURL = $url -}}
    {{- else -}}
        {{- $img := partial "utilities/mGetImage.html" (dict "url" $url "page" $page) -}}
        {{- if $img -}}
            <!-- Check if we need to derive the caption automatically from non-remote images -->
            {{- if eq $autoCaption "true" -}}
                {{- $remote := hasPrefix (lower $url) "http" -}}
                {{- if and (not $remote) (or (not $caption) (not $credits)) -}}
                    <!-- Check for existence of a .txt file with the same name as the current image, or for a description in the EXIF -->
                    {{ $textPath := printf "%s/%s.txt" (path.Dir $img.RelPermalink) (path.BaseName $img.RelPermalink) -}}
                    {{ if os.FileExists $textPath -}}
                        <!-- read the file -->
                        {{- $reading := split (os.ReadFile $textPath) "|" -}}
                        {{- range $index, $value := $reading -}}
                            {{- if and (not $caption) (eq $index 0) -}}
                                {{ $caption = $value }}
                            {{- end -}}
                            {{- if and (not $credits) (eq $index 1) -}}
                                {{ $credits = $value }}
                            {{- end -}}
                        {{- end -}}
                    {{- end -}}
                    {{- with $img.Exif -}}
                        {{- if not $caption -}}
                            {{- $caption = .Tags.ImageDescription -}}
                        {{- end -}}
                        {{- if not $credits -}}
                            {{- $credits = strings.Title (lower .Tags.Artist) -}}
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
                {{- if and $caption (not $title) }}
                    {{- $title = $caption -}}
                {{- end -}}
            {{- end -}}    

            {{- $fallback := partial "partials/image-default.html" (dict "img" $img "ratio" $ratio "portrait" $portrait) -}}
            {{- if $absoluteURL -}}
                {{- $fallbackURL = $fallback.Permalink -}}
            {{- else -}}
                {{- $fallbackURL = $fallback.RelPermalink -}}
            {{- end -}}
            {{- $imgset = partial "partials/image-scaled.html " (dict "img" $img "ratio" $ratio "portrait" $portrait) -}}
            {{- end -}}
    {{- end -}}
 
    {{- range $none := $modes -}}
        {{- if ne $none $mode -}}
            {{- $outerClass = printf "%s d-none-%s" (or $outerClass "") $none -}}
        {{- end -}}
    {{- end -}}

    {{- if or $caption $credits -}}
        <figure {{ with $outerClass }}class="{{ . }}"{{ end }}>
    {{ end }}
        <div class="{{ with $ratio }}ratio ratio-{{ . }}{{ end }}{{ if not (or $caption $credits) }} {{ $outerClass }}{{ end }}">
            <img class="img-fluid {{ $innerClass }}"
                {{ with $imgset -}}
                srcset="{{ . }}"
                sizes="100vw"
                {{- end }}
                src="{{ absURL $fallbackURL }}"
                alt="{{ $title }}">
        </div>
    {{- if or $caption $credits -}}
        <!-- Add camera to credits -->
        {{- if $credits -}}
            {{- $icon := partial "assets/icon.html" (dict "icon" "fas fa-camera") -}}
            {{- $credits = printf "%s&nbsp;%s" $icon $credits -}}
        {{- end -}}
        <!-- Place credits in brackets if there is both a caption and a credit -->
        {{- $break := "" -}}
        {{- if and $caption $credits -}}
            {{- $credits  = printf "&nbsp;&nbsp;( %s)" $credits -}}
        {{- end -}}

        <figcaption class="figure-caption {{ $captionClass }}">{{ $caption | safeHTML }}{{ $credits | safeHTML }}</figcaption>
    </figure>
{{- end -}}
{{- end -}}

<!-- Initiate the regular or color-mode image -->
{{- if $mode -}}
    {{- $ext := path.Ext $url -}}
    {{- $base := strings.TrimSuffix $ext $url -}}
    {{- range $suffix := $modes -}}
        {{- $base = strings.TrimSuffix (printf "-%s" $suffix) $base -}}
    {{- end -}}

    {{- range $suffix := $modes -}}
        {{- $image := printf "%s-%s%s" $base $suffix $ext -}}
        {{- partial "partials/mimage-definition.html" (dict 
            "ratio" $ratio
            "portrait" $portrait
            "url" $image
            "outerClass" $outerClass
            "innerClass" $innerClass
            "captionClass" $captionClass
            "title" $title
            "caption" $caption
            "credits" $credits
            "autoCaption" $autoCaption
            "mode" $suffix
            "modes" $modes
            "page" $page)
        -}}
    {{- end -}}
{{- else -}}
    {{- partial "partials/mimage-definition.html" (dict 
        "ratio" $ratio
        "portrait" $portrait
        "url" $url
        "outerClass" $outerClass
        "innerClass" $innerClass
        "captionClass" $captionClass
        "title" $title
        "caption" $caption
        "credits" $credits
        "autoCaption" $autoCaption
        "page" $page)
    -}}
{{- end -}}
