
<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false -}}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "nav-item" "args" . "group" "partial") }}
    {{ errorf "partial [assets/nav-item.html] - Invalid arguments" -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{- $id := .id -}}
{{- $parentID := .parentID -}}
{{- $class := .class -}}
{{- $fade := .fade -}}
{{- $header := .header -}}
{{- $class := .class -}}
{{- $body := .body -}}
{{- $show := .show -}}
{{- $disabled := .disabled -}}
{{- $type := .item_type -}}
{{- $illustration := .illustration -}}

<!-- Main code -->
{{ if eq $type "accordion" }}
    <div class="accordion-item{{ if $show }} show{{ end }}{{ with $class }} {{ . }}{{ end }}">
        {{- with $header -}}
            <h2 class="accordion-header m-0" id="accordion-{{ $parentID }}-heading-{{ $id }}">
                <button class="accordion-button collapsed {{ if $disabled }} text-secondary{{ end }}" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{{ $parentID }}-item-{{ $id }}" aria-expanded="false" aria-controls="accordion-{{ $parentID }}-item-{{ $id }}"{{ if $disabled }} disabled{{ end }}>
                    {{ if $illustration }}
                        <div class="row">
                            <div class="col-3 col-sm-2 my-auto">{{ $illustration | safeHTML }}</div>
                            <div class="col-9 col-sm-10 fs-6 fs-sm-5 my-auto">{{ . }}</div>
                        </div>
                    {{ else }}
                        {{ . }}
                    {{ end }}
                </button>
            </h2>
        {{- end -}}
        <div id="accordion-{{ $parentID }}-item-{{ $id }}" class="accordion-collapse collapse{{ with $class }} {{ . }}{{ end }}" aria-labelledby="{{ $parentID }}-heading-{{ $id }}" data-bs-parent="#accordion-{{ $parentID }}">
            <div class="accordion-body">{{- $body | safeHTML -}}</div>
        </div>
    </div>
{{ else }}
    <div class="tab-pane{{ if $show }} active {{ if $fade }}show{{ end }}{{ end }} {{ if $fade}}fade{{ end }}{{ with $class }} {{ . }}{{ end }}" id="{{ $parentID }}-{{ $id }}" 
        role="tabpanel" aria-labelledby="{{ $parentID }}-btn-{{ $id }}" tabindex="0" data-header="{{ $header }}" {{ if $show }}data-show-id="{{ $id }}"{{ end }} 
        data-has-content="{{ gt (len $body) 0 }}" {{ if $disabled }} data-disabled-id="{{ $id }}"{{ end }}>
        {{ $body }}
    </div>
{{ end }}