<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "navbar-item" "args" . "group" "partial") }}
    {{- errorf "partial [assets/navbar-item.html] - Invalid arguments" -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{- $page := .page -}}
{{- $menu := .menu -}}
{{- $parent := .parent -}}
{{- $plain := .plain | default false -}}
{{- $class := .class -}}
{{- $cue := .cue | default site.Params.main.externalLinks.cue -}}
{{- $tab := .tab | default site.Params.main.externalLinks.tab -}}
{{- $baseURL := $page.Scratch.Get "baseURL" | default "/" -}}
{{- $menuURL := "" -}}
{{ if or (strings.HasPrefix $menu.PageRef "http") (strings.HasPrefix $menu.URL "http") }}
    {{ $menuURL = or $menu.PageRef $menu.URL }}
{{ else if (or $menu.PageRef $menu.URL) }}
    {{- $menuURL = urls.JoinPath $baseURL ((or $menu.PageRef $menu.URL) | relLangURL) -}}
{{ end }}
{{- $pageURL := $page.RelPermalink -}}
{{- $isActive := or (and (hasPrefix $pageURL $menuURL) (ne $menuURL ("/" | relLangURL))) (eq $pageURL $menuURL) -}}
{{ if not $menu.PageRef }}{{ $isActive = false }}{{ end }}
{{- $isAlias := $menu.Params.alias -}}
{{- $isIcon := $menu.Params.icon -}}

{{- $url := urls.Parse $menuURL -}}
{{- $baseURL := urls.Parse $.Site.Params.Baseurl -}}
{{- $isExternal := ne $url.Host $baseURL.Host -}}
{{- $externalHref := "" }}
{{- $suffix := "" }}
{{- $anchorClass := "" -}}

{{- if $isExternal }}
    {{- if $tab -}}
        {{ $externalHref = "target=\"_blank\" rel=\"noopener noreferrer\"" }}
    {{- end -}}

    {{- if $cue -}}
        {{ $suffix = partial "assets/icon.html" (dict "icon" "fas up-right-from-square fa-2xs") }}
    {{- end -}}
{{ else if $menuURL }}
    {{ $ref := partial "utilities/GetPage.html" (dict "url" $url.Path "page" $page) }}
    {{- if not $ref -}}
        {{- warnf "partial [assets/navbar-item.html] - Cannot find page of menu item '%s': %s" $menu.Name $url -}}
    {{ end }}
{{ end -}}

{{- $mainNav := urlize (lower $menu.Name) -}}
{{- $childNav := "" -}}

{{- $button := "" -}}
{{- if $parent -}}
    {{- $mainNav = urlize (lower $parent.Name) -}}
    {{- $childNav = urlize (lower $menu.Name) -}}
    {{- $anchorClass = "dropdown-item" -}}
{{- else if and (not $plain) $menu.HasChildren -}}
    {{- $anchorClass = "nav-link dropdown-toggle" -}}
    {{- $button = " role=\"button\" data-bs-toggle=\"dropdown\" aria-expanded=\"false\"" -}}
{{- else -}}
    {{- $anchorClass = "nav-link" -}}
{{- end -}}
{{- $params := "" -}}
{{- if and $isAlias (not $isExternal) -}}
    {{- $params = printf "?menu=%s" $mainNav -}}
    {{- with $childNav }}{{ $params = printf "%s&child=%s" $params . }}{{ end -}}
{{- end -}}

<!-- Main code -->
{{ if not $error }}
    {{ if $menu.Params.button }}
        {{ partial "assets/button.html" (dict 
            "title" $menu.Name
            "icon" $menu.Pre
            "href" $menuURL
            "size" "sm"
        )}}
    {{ else }}
        <a class="{{ $anchorClass }}{{ if $isActive }} active{{ end }}{{ with $class }} {{ . }}{{ end }}" 
            {{ if $isIcon }}aria-label="{{ $menu.Name }}"{{ end }}
            data-nav="main" data-nav-main="{{ $mainNav }}"{{ with $childNav }} data-nav-child="{{ . }}"{{ end }} 
            {{ if $menuURL }} href="{{ $menuURL }}{{ $params | safeHTMLAttr }}"{{ with $externalHref }} {{ . | safeHTMLAttr }}{{ end }}{{ end }} {{ $button | safeHTMLAttr }}>
            
            {{- with $menu.Pre }}
                {{ if hasPrefix . "<i" }}
                    {{ . | safeHTML }}
                {{ else }}
                    {{ partial "assets/icon.html" (dict "icon" (string .) )}}
                {{ end }}
            {{ end -}}
            <span {{ if $isActive }} class="active"{{ end }}>{{ if or (not $isIcon) $plain }}{{ $menu.Name }}{{ end }}</span>
            {{- with $menu.Post }}{{ . }}{{ end -}}
            {{- if not $isIcon }}&nbsp;{{ $suffix }}{{ end -}}
        </a>
    {{ end }}
{{ end }}