<!-- 
    Displays a navigation header with a toggler. The partial supports the following arguments:
    "page"          Required object reference to the current page.
    "menus"         Optional name of the menu configuration, defaults to "main".
    "size"          Optional size of the button, either "sm", "md" (default), or "lg".
    "fixed"         Optional flag to indicate the navbar should stick to the top, defaults to false.
    "color"         Optional background color of the navbar, either "primary", "secondary", "success",
                    "danger", "warning", "info", "light", "dark", "white", "black", "body", or "body-tertiary". The
                    default color is none.
    "mode"          Optional flag to include a color mode switcher, default is "true" (if dark mode is enabled).
    "search"        Optional flag to include a search input, default is "true".
    "logo"          Optional address of the logo image, defaults to the parameter "logo" set in the "main" section of
                    the site's parameter configuration. 
    "title"         Optional brand title, displayed when the logo is not set. Defaults to the site's title.
-->

<!-- Inline partial to render the color mode switcher -->
{{- define "partials/navbar-mode.html" -}}
    {{- $id := .id -}}
    {{- $size := .size -}}
    {{- $collapsed := .collapsed -}}

    <li class="nav-item dropdown {{ if $collapsed }}d-{{ $size }}-none{{ else }}d-none d-{{ $size }}-block{{ end }}">
        <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbar-color-theme">
            {{- partial "assets/icon.html" (dict "icon" "fas sun theme-icon-active") }} {{ if $collapsed }} {{ T "colorMode" }} {{ end }}
            <span class="d-md-none"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-color-theme">
            <li>
                <a class="dropdown-item{{ if $collapsed }} switch-mode-collapsed{{ end }}" data-bs-theme-value="light" href="#!">
                    {{- partial "assets/icon.html" (dict "icon" "fas sun theme-icon") }}
                    {{ T "colorLight" }}
                </a>
            </li>
            <li>
                <a class="dropdown-item{{ if $collapsed }} switch-mode-collapsed{{ end }}" data-bs-theme-value="dark" href="#!">
                    {{- partial "assets/icon.html" (dict "icon" "fas moon theme-icon") }}
                    {{ T "colorDark" }}
                </a>
            </li>
            <li>
                <a class="dropdown-item{{ if $collapsed }} switch-mode-collapsed{{ end }}" data-bs-theme-value="auto" href="#!">
                    {{- partial "assets/icon.html" (dict "icon" "fas circle-half-stroke theme-icon" ) }}
                    {{ T "colorAuto" }}
                </a>
            </li>
        </ul>
    </li>
{{- end -}}

{{- $supportedFlags := slice "true" "false" -}}

{{- $id := 0 -}}
{{- with .id }}{{ $id = . }}{{ end -}}

{{- $page := .page -}}
{{- if not $page -}}
    {{- errorf "partial [assets/navbar.html] - Missing value for param 'page'" -}}
{{- end -}}

{{- $menuName := "main" }}
{{- with .menus }}{{ $menuName = .}}{{ end -}}
{{- $menus := index site.Menus $menuName -}}
{{- if or (ne (printf "%T" $menus) "navigation.Menu") (ne (index $menus 0).Menu $menuName) -}}
    {{- errorf "partial [assets/navbar.html] - Invalid value for param 'menus': %s" $menuName -}}
{{- end -}}

{{- $size := "md" -}}
{{- with .size }}{{ $size = . }}{{ end -}}
{{- $supportedSizes := slice "xs" "sm" "md" "lg" "xl" -}}
{{- if not (in $supportedSizes $size) -}}
    {{- errorf "partial [assets/navbar.html] - Invalid value for param 'size': %s" $size -}}
{{- end -}}

{{- $fixedParam := "false" -}}
{{- $fixed := false -}}
{{- with .fixed }}{{ $fixedParam = . }}{{ end -}}
{{- if in $supportedFlags $fixedParam -}}
    {{- if eq $fixedParam "true" }}{{ $fixed = true }}{{ else }}{{ $fixed = false }}{{ end -}}
{{- else -}}
    {{- errorf "partial [assets/navbar.html] - Invalid value for param 'fixed': %s" $fixedParam -}}
{{- end -}}

{{- $color := "" -}}
{{- with .color -}}
    {{- $color = . -}}
    {{- $supportedColors := slice "primary" "secondary" "success" "danger" "warning" "info" "light" "dark" "white" "black" "body" "body-tertiary" -}}
    {{- if not (in $supportedColors $color) -}}
        {{- errorf "partial [assets/navbar.html] - Invalid value for param 'color': %s" $color -}}
    {{- end -}}
{{- end -}}

{{- $search := default true site.Params.navigation.search -}}
{{- with .search -}}
    {{- $searchParam := . -}}
    {{- if in $supportedFlags $searchParam -}}
        {{- if eq $searchParam "true" }}{{ $search = true }}{{ else }}{{ $search = false }}{{ end -}}
    {{- else -}}
        {{- errorf "partial [assets/navbar.html] - Invalid value for param 'search': %s" $searchParam -}}
    {{- end -}}
{{- end -}}

{{- $enableDarkMode := default true site.Params.main.enableDarkMode -}}
{{- with .mode -}}
    {{- $darkModeParam := . -}}
    {{- if in $supportedFlags $darkModeParam -}}
        {{- if eq $darkModeParam "true" }}{{ $enableDarkMode = site.Params.main.enableDarkMode }}{{ else }}{{ $enableDarkMode = false }}{{ end -}}
    {{- else -}}
        {{- errorf "partial [assets/navbar.html] - Invalid value for param 'darkMode': %s" $darkModeParam -}}
    {{- end -}}
{{- end -}}

{{- $enableLanguage := or $page.IsTranslated site.IsMultiLingual -}}

{{- $logo := site.Params.navigation.logo -}}
{{- with .logo }}{{ $logo = . }}{{ end -}}

{{- $title := site.Title -}}
{{- if .title -}}
    {{- $title = .title -}}
    {{- if not .logo }}{{ $logo = "" }}{{ end -}}
{{- end -}}

{{- $pre := .Pre -}}
{{- $post := .Post -}}

<nav class="navbar navbar-expand-{{ $size }} {{ with $color }}bg-{{ . }}{{ end }} {{ if $fixed }}fixed-top{{ end }} p-4">
	<div class="container-xxl p-0">
        <!-- Insert sidebar toggler when applicable -->
        <div class="d-flex">
            {{- if $page.Scratch.Get "sidebar" -}}
                <button class="navbar-toggler fw-30 collapsed p-0 mx-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvass-sidebar" aria-controls="offcanvass-sidebar" aria-label="{{ T "toggleSidebar" }}">
                    {{- partial "assets/icon.html" (dict "icon" "fas ellipsis") -}}
                </button>
            {{- else -}}
                <!-- Insert invisible sidebar toggler to center logo correctly on smaller screens -->
                <button class="navbar-toggler fw-30 collapsed p-0 mx-auto invisible" type="button">
                    {{- partial "assets/icon.html" (dict "icon" "fas ellipsis") -}}
                </button>
            {{- end -}}
        </div>

        <!-- Insert the brand logo or name -->
        <a class="navbar-brand mx-auto" href="{{ site.Home.RelPermalink }}">
            {{- if $logo -}}
                <img src="{{ $logo }}" alt="{{ $title }} logo" height="30">
            {{- else -}}
                <span class="fw-bold">{{ $title }}</span>
            {{- end -}}
        </a>

        <!-- Insert main navigation toggler -->
        <div class="d-flex fw-30">
            <button id="main-nav-toggler" class="navbar-toggler collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-{{ $id }}"
                aria-controls="navbarSupportedContent-{{ $id }}" aria-expanded="false" aria-label="{{ T "toggleMainNav" }}">
                <span class="toggler-icon top-bar emphasis"></span>
                <span class="toggler-icon middle-bar emphasis"></span>
                <span class="toggler-icon bottom-bar emphasis"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse" id="navbarSupportedContent-{{ $id }}">
            <!-- Insert search input -->
            {{- if $search }}{{ partial "assets/search-input.html" -}}{{ end -}}
            
            <!-- Render top-menu items (maximum depth of 2) -->
            <ul class="navbar-nav ms-auto">
                {{- range $menu := $menus -}}
                    <li class="nav-item{{ if .HasChildren }} dropdown{{ end }}">
                        {{- partial "assets/navbar-item.html" (dict "menu" $menu "page" $page) -}}
                        {{- if .HasChildren -}}
                            <ul class="dropdown-menu dropdown-menu-end">
                                {{- range .Children -}}
                                    {{- partial "assets/navbar-item.html" (dict "menu" . "parent" $menu "page" $page) -}}
                                {{- end -}}
                            </ul>
                        {{- end -}}
                    </li>
                {{- end -}}

                <!-- Insert divider if applicable -->
                {{- if or $enableLanguage $enableDarkMode -}}
                    <li class="nav-item py-2 py-md-1 col-12 col-md-auto d-none d-{{ $size }}-block">
                        <div class="vr d-none d-md-flex h-100 mx-md-2"></div>
                    </li>
                    <li><hr class="dropdown-divider-bg"></li>
                {{- end -}}

                <!-- Insert language switcher if applicable -->
                {{- if $enableLanguage -}}
                    {{- $currentLang := $page.Language.Lang -}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-{{ $size }}-none" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{- partial "assets/icon.html" (dict "icon" "fas globe") }} {{ T "languageSwitcherLabel" }}
                        </a>
                        <a class="nav-link dropdown-toggle d-none d-{{ $size }}-block" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{- partial "assets/icon.html" (dict "icon" "fas globe") }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end ">
                            {{- if $page.IsTranslated -}}
                                {{- range $page.AllTranslations -}}
                                    <li><a class="dropdown-item {{ if eq .Language.Lang $currentLang }}active{{ end }}" href="{{ .Permalink }}">{{ .Language.LanguageName  }}</a></li>
                                {{- end -}}
                            {{- else -}}
                                {{- range site.Languages -}}
                                    <li><a class="dropdown-item" href="/{{ .Lang }}">{{ default .Lang .LanguageName }}</a></li>
                                {{- end -}}
                            {{- end -}}
                        </ul>
                    </li>
                {{- end -}}
                              
                <!-- Insert color mode switcher -->
                {{- if $enableDarkMode -}}
                    {{- partial "partials/navbar-mode.html" (dict "id" $id "size" $size "collapsed" true) -}}
                    {{- partial "partials/navbar-mode.html" (dict "id" $id "size" $size "collapsed" false) -}}
                {{- end -}}
            </ul>
        </div>
    </div>
</nav>