<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "persona" "args" . "group" "partial") }}
    {{ errorf "partial [assets/persona.html] - Invalid arguments" -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{- $page := "" }}
{{- if .path }}
    {{- $page = site.GetPage .path }}
    {{- if not $page }}
        {{- errorf "partial [assets/persona.html] - Cannot find page: %s" .path -}}
    {{- end }}
{{- end }}

{{- $title := .title -}}
{{- $href := .href -}}
{{- $content := .content -}}
{{- $thumbnail := .thumbnail -}}

{{- $color := .color | default "primary" -}}

{{- with $page -}}
    {{- if not $title }}{{ $title = .Title }}{{ end -}}
    {{- if not $href }}{{ $href = .RelPermalink  }}{{ end -}}
    {{- if not $content }}{{ $content = .Content }}{{ end -}}
    {{- if not $thumbnail }}{{ $thumbnail = (or (and (reflect.IsMap .Params.Thumbnail) .Params.Thumbnail.url) .Params.Thumbnail) }}{{ end -}}
{{- end -}}

{{- $class := .class -}}
{{- $loading := .loading -}}
{{- $tab := site.Params.main.externalLinks.tab -}}
{{- $isExternal := ne (urls.Parse (absURL $href)).Host (urls.Parse site.BaseURL).Host -}}
{{- $target := "" -}}
{{- $rel := "" -}}
{{- if and $isExternal $tab -}}
    {{- $target = "_blank" -}}
    {{- $rel = "noopener noreferrer" -}}
{{- end -}}

<!-- Inline partial to render the card's body -->
{{- define "partials/persona-body.html" -}}
    {{- $title := .title -}}
    {{- $content := .content -}}
    
    <h3>{{ $title }}</h3>
    {{ with $content }}<p>{{ . }}</p>{{ end -}}
{{- end -}}

<!-- Main code -->
{{- if not $error -}}
    {{ with $href }}
        <a href="{{ . }}" aria-label="{{ $title | safeHTML }}"
            {{- with $target }} target="{{ . }}"{{ end }}
            {{ with $rel }} rel="{{ . }}"{{ end -}}
        >
    {{ end }}
    <div class="d-none d-md-block">
        <div class="persona position-relative row mt-5 align-middle p-3">
            <div class="col-2">
                <div class="position-absolute top-50 start-0 translate-middle-y col-4 ps-3">
                    {{- if $thumbnail -}}
                        {{- partial "assets/image.html" (dict "url" $thumbnail "title" $title "ratio" "1x1" "class" "rounded-5" "loading" $loading) -}}
                    {{ end }}
                </div>
            </div>
            <div class="col-10 {{ with $color }}bg-{{ . }} text-bg-{{ . }}{{ end }} rounded-5 fs-md-5 fs-6 pe-5 pb-3">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9">
                        {{- partial "persona-body.html" (dict "title" $title "content" $content) -}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-md-none">
        <div class="persona position-relative row mt-5 align-middle p-3 ptw-5">
            <div class="col-12">
                <div class="position-absolute top-25 start-50 translate-middle col-6">
                    {{- if $thumbnail -}}
                        {{- partial "assets/image.html" (dict "url" $thumbnail "title" $title "ratio" "1x1" "class" "rounded-5" "loading" $loading) -}}
                    {{ end }}
                </div>
            </div>
            <div class="col-12 {{ with $color }}bg-{{ . }} text-bg-{{ . }}{{ end }} rounded-5 ptw-lg-5 ptw-3 ptw-sm-4 fs-md-5 fs-6 pb-3">
                <div class="p-3">
                    {{- partial "persona-body.html" (dict "title" $title "content" $content) -}}
                </div>
            </div>
        </div>
    </div>
    {{ if $href }}</a>{{ end }}
{{ end }}