<div class="card mb-3 project-card">
    <div class="row g-0">
        <div class="col-12">
            <div class="card-body d-flex flex-column">
                <a href="{{ .Permalink }}" class="text-decoration-none link-dark">
                    <p class="card-title fs-5 fw-bold">{{ .Params.title }}</p>
                    <p class="card-text mb-4">{{ .Params.description }}</p>
                </a>
            
                {{ if isset .Params "tags" }}
                    <small class="text-muted text-uppercase">
                        {{ range $index, $element := (.GetTerms "tags") }}
                            {{ if gt $index 0 }}&bull; {{ end }}
                            <a href="{{ (path.Join .Page.RelPermalink) | relURL }}" class="text-decoration-none text-primary" aria-label="Tag: {{ .LinkTitle }}">{{ .LinkTitle }}</a>
                        {{ end }}
                    </small>
                {{ end }}            
            </div>
        </div>
    </div>
</div>
