<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.

    Change the Homepage variable to control the number of posts shown on the homepage
-->

{{- $page := .page }}
{{- $section := .section }}
{{- if not $section }}{{ errorf "partial [assets/section-list.html] - Missing value for param 'section'" }}{{ end -}}
{{- $home := .home | default false }}
{{ if ne (printf "%T" $home) "bool" }}
    {{ errorf "partial [assets/section-list.html] - Invalid value for param 'home'"}}
{{ end }}
{{- $title := .title -}}
{{- $icon := .icon -}}
{{- $thumbnail := .thumbnail -}}
{{- $sectionHeader := .sectionHeader -}}
{{- $description := .description -}}
{{- $content := .content -}}
{{- $moreTitle := .moreTitle -}}
{{- $sectionURL := .sectionURL -}}
{{- $nested := .nested | default true -}}
{{- $simple := .simple | default false -}}
{{- $paginate := true -}}
{{- $kind := .kind | default "regular" -}}
{{- $sort := "date" -}}
{{- $order := "desc" -}}
{{- $separator := false -}}
{{- $orientation := "stacked" -}}
{{- $cols := 3 -}}
{{- $color := "" -}}
{{- $padding := "0" -}}
{{- $header := "full" -}}
{{- $footer := "none" -}}
{{- $style := "border-0 card-zoom" -}}
{{- $homepage := 9 -}}
{{- $background := "" -}}
{{- $layout := "card" -}}
{{- $pane := "none" -}}
{{- $type := "pills" -}}
{{- $vertical := false -}}
{{- $width := 100 -}}
{{- $ratio := "" -}}
{{- $wrap := false -}}
{{- $loading := .loading -}}
{{- $wrapper := .wrapper | default "p-4 px-xxl-0 pb-5" -}}

{{- with (index site.Params.sections $section) -}}
    {{- with index . "title" }}{{ $title = or $.title . }}{{ end -}}
    {{- with index . "sectionHeader" }}{{ $sectionHeader = . }}{{ end -}}
    {{- with index . "sort" }}{{ $sort = . }}{{ end -}}
    {{- if (index . "reverse") }}{{ $order = "desc" }}{{ else }}{{ $order = "asc" }}{{ end -}}
    {{- if (isset . "nested") }}{{ $nested = (index . "nested") }}{{ end -}}
    {{- if (index . "separator") }}{{ $separator = true }}{{ else }}{{ $separator = false }}{{ end -}}
    {{- with index . "orientation" }}{{ $orientation = . }}{{ end -}}
    {{- with index . "cols" }}{{ $cols = . }}{{ end -}}
    {{- with index . "color" }}{{ $color = . }}{{ end -}}
    {{- with index . "padding" }}{{ $padding = . }}{{ end -}}
    {{- with index . "header" }}{{ $header = . }}{{ end -}}
    {{- with index . "footer" }}{{ $footer = . }}{{ end -}}
    {{- with index . "style" }}{{ $style = . }}{{ end -}}
    {{- with index . "homepage" }}{{ $homepage = . }}{{ end -}}
    {{- with index . "background" }}{{ $background = . }}{{ end -}}
    {{- with index . "layout" }}{{ $layout = . }}{{ end -}}
    {{- with index . "pane" }}{{ $pane = . }}{{ end -}}
    {{- with index . "type" }}{{ $type = . }}{{ end -}}
    {{- with index . "vertical" }}{{ $vertical = partial "utilities/CastBool.html" . }}{{ end -}}
    {{- with index . "width" }}{{ $width = . }}{{ end -}}
    {{- with index . "kind" }}{{ $kind = . }}{{ end -}}
    {{- with index . "ratio" }}{{ $ratio = . }}{{ end -}}
    {{- with index . "wrap" }}{{ $wrap = partial "utilities/CastBool.html" . }}{{ end -}}
{{- end -}}

{{ if isset $page.Params "nested" }}
    {{ $nested = $page.Params.nested }}
{{ end }}
{{ if ne (printf "%T" $nested) "bool" }}
    {{ errorf "partial [assets/section-list.html] - Invalid value for param 'nested'"}}
{{ end }}

{{ $list := slice }}
{{ if eq $kind "taxonomy" }}
    {{ $filter := page.Params.filter }}
    {{ with $filter }}
        {{ with index site.Taxonomies $section $filter }}
            {{ $list = .Pages }}
        {{ end }}
    {{ else }}
        {{ $list = where site.Pages (printf ".Params.%s" $section) "!=" nil }}
    {{ end }}
{{ else if eq $kind "related" }}
    {{ if $page.Keywords}}
        {{ $keywords := keyVals "tags" $page.Keywords }}
        {{ $opts := dict "namedSlices" (slice $keywords) }}
        {{ $list = site.RegularPages.Related $opts }}
    {{ end }}
{{ else if $home }}
    {{ $sectionPage := site.GetPage "section" $section }}
    {{ if $nested }}
        {{ $list = $sectionPage.RegularPagesRecursive }}
    {{ else }}
        {{ $list = $sectionPage.Pages }}
    {{ end }}
{{ else }}
    {{ if $nested }}
        {{ $list = $page.RegularPagesRecursive }}
    {{ else }}
        {{ $list = $page.Pages }}
    {{ end }}
{{ end }}

{{ $max := (len $list) -}}
{{ if eq $max 0 }}
    {{- $bundle := site.GetPage $section -}}
    {{- $list = $bundle.Resources.Match "*" -}}
    {{- $max = len $list -}}
{{ end }}
{{- $list = sort $list (printf "Params.%s" $sort) $order -}}

{{- $supportedLayouts := slice "card" "list" "nav" -}}
{{- if not (in $supportedLayouts $layout) -}}
    {{- errorf "partial [assets/section-list.html] - Invalid value for param 'layout': %s" $layout -}}
{{- end -}}

{{ if gt $max 0 }}
    {{- if or $home (eq $kind "related") -}}
        {{- $paginate = false -}}
        {{- $max = int (math.Min $homepage $max) -}}
    {{ end -}}

    {{ if $simple }}
        {{ $title = "" }}
        {{ $background = "" }}
    {{ end }}

    {{- $params := (dict 
        "page" $page
        "list" $list
        "class" $style
        )
    -}}
    {{- $partial := "" -}}

    <div class="container-fluid {{ with $background }} bg-{{ . }}{{ end }} p-0">
        <div class="container-xxl {{ $wrapper }}">
            {{- partial "assets/section-header.html" (dict  "title" $title "description" $description "content" $content) -}}
            {{ if eq $layout "card" }}
                {{- $partial = "assets/card-group.html" -}}
                {{- $params = merge $params (dict 
                    "title" $title
                    "ratio" $ratio
                    "color" $color
                    "loading" $loading
                    "max" $max
                    "cols" $cols
                    "href" $sectionURL
                    "hrefTitle" $moreTitle
                    "separator" $separator
                    "paginate" $paginate
                    "orientation" $orientation
                    "padding" $padding
                    "header" $header
                    "footer" $footer
                    ) 
                -}}
            {{ else if eq $layout "nav" }}
                {{- $partial = "assets/nav.html" -}}
                {{- $params = merge $params (dict 
                    "id" $section
                    "pane" $pane
                    "type" $type
                    "vertical" $vertical
                    "width" $width
                    "wrap" $wrap
                    ) 
                -}}
            {{- else -}}
                {{- $partial = "assets/list.html" -}}
                {{- $params = merge $params (dict 
                    "title" $title
                    "color" $color
                    "loading" $loading
                    ) 
                -}}
            {{- end -}}
            {{- partial $partial $params -}}
        </div>
    </div>
{{- end -}}