{{- $page := .page }}
{{- $section := .section }}
{{- if not $section }}{{ errorf "partial [assets/section-list.html] - Missing value for param 'section'" }}{{ end -}}
{{- $home := .home }}
{{ if ne (printf "%T" $home) "bool" }}
    {{ errorf "partial [assets/section-list.html] - Invalid value for param 'home'"}}
{{ end }}
{{- $title := .title -}}
{{- $icon := .icon -}}
{{- $thumbnail := .thumbnail -}}
{{- $sectionHeader := .sectionHeader -}}
{{- $description := .description -}}
{{- $content := .content -}}
{{- $moreTitle := .moreTitle -}}
{{- $sectionURL := .sectionURL -}}
{{- $nested := .nested | default true -}}
{{- $paginate := true -}}
{{- $sort := "date" -}}
{{- $order := "desc" -}}
{{- $separator := false -}}
{{- $orientation := "stacked" -}}
{{- $cols := 3 -}}
{{- $color := "" -}}
{{- $padding := "0" -}}
{{- $header := "full" -}}
{{- $footer := "none" -}}
{{- $style := "" -}}
{{- $homepage := 3 -}}
{{- $background := "" -}}
{{- $layout := "card" -}}
{{- $pane := "none" -}}
{{- $type := "pills" -}}
{{- $vertical := "false" -}}
{{- $width := 100 -}}

{{- with (index site.Params.sections $section) -}}
    {{- with index . "title" }}{{ $title = or $.title . }}{{ end -}}
    {{- with index . "sectionHeader" }}{{ $sectionHeader = . }}{{ end -}}
    {{- with index . "sort" }}{{ $sort = . }}{{ end -}}
    {{- if (index . "reverse") }}{{ $order = "desc" }}{{ else }}{{ $order = "asc" }}{{ end -}}
    {{- if $home }}{{- if (isset . "nested") }}{{ $nested = (index . "nested") }}{{ end -}}{{ end -}}
    {{- if (index . "separator") }}{{ $separator = true }}{{ else }}{{ $separator = false }}{{ end -}}
    {{- with index . "orientation" }}{{ $orientation = . }}{{ end -}}
    {{- with index . "cols" }}{{ $cols = . }}{{ end -}}
    {{- with index . "color" }}{{ $color = . }}{{ end -}}
    {{- with index . "padding" }}{{ $padding = . }}{{ end -}}
    {{- with index . "header" }}{{ $header = . }}{{ end -}}
    {{- with index . "footer" }}{{ $footer = . }}{{ end -}}
    {{- with index . "style" }}{{ $style = . }}{{ end -}}
    {{- with index . "homepage" }}{{ $homepage = . }}{{ end -}}
    {{- with index . "background" }}{{ $background = . }}{{ end -}}
    {{- with index . "layout" }}{{ $layout = . }}{{ end -}}
    {{- with index . "pane" }}{{ $pane = . }}{{ end -}}
    {{- with index . "type" }}{{ $type = . }}{{ end -}}
    {{- with index . "vertical" }}{{ $vertical = . }}{{ end -}}
    {{- with index . "width" }}{{ $width = . }}{{ end -}}
{{- end -}}
{{ if ne (printf "%T" $nested) "bool" }}
    {{ errorf "partial [assets/section-list.html] - Invalid value for param 'nested'"}}
{{ end }}

{{ $list := "" }}
{{ if $nested }}
    {{ $list = where site.RegularPages "Type" "in" $section }}
{{ else if $home }}
    {{ $sectionPage := site.GetPage "section" $section }}
    {{ $list = $sectionPage.RegularPages }}
{{ else }}
    {{ $list = $page.RegularPages }}
{{ end }}

{{ $max := (len $list) -}}
{{ if eq $max 0 }}
    {{- $bundle := site.GetPage $section -}}
    {{- $list = $bundle.Resources.Match "*" -}}
    {{- $max = len $list -}}
{{ end }}
{{- $list = sort $list (printf "Params.%s" $sort) $order -}}

{{- $supportedLayouts := slice "card" "list" "nav" -}}
{{- if not (in $supportedLayouts $layout) -}}
    {{- errorf "partial [assets/section-list.html] - Invalid value for param 'layout': %s" $layout -}}
{{- end -}}

{{ if gt $max 0 }}
    {{- if $home -}}
        {{- $paginate = false -}}
        {{- $max = int (math.Min $homepage $max) -}}
    {{ end -}}
    {{- $cols = int (math.Min $cols $max) -}}

    {{- $params := (dict 
        "page" $page
        "list" $list
        "title" $title
        "icon" $icon
        "thumbnail" $thumbnail
        "sectionHeader" $sectionHeader
        "description" $description
        "content" $content
        "class" $style
        "color" $color
        )
    -}}
    {{- $partial := "" -}}

    <div class="container-fluid {{ with $background }} bg-{{ . }}{{  end }}">
        <div class="container-xxl flex-fill p-0">
            {{- partial "assets/section-header.html" $params -}}
            
            {{ if eq $layout "card" }}
                {{- $partial = "assets/card-group.html" -}}
                {{- $params = merge $params (dict 
                    "max" $max
                    "cols" $cols
                    "href" $sectionURL
                    "hrefTitle" $moreTitle
                    "separator" $separator
                    "paginate" $paginate
                    "orientation" $orientation
                    "padding" $padding
                    "header" $header
                    "footer" $footer
                    ) 
                -}}
            {{ else if eq $layout "nav" }}
                {{- $partial = "assets/nav.html" -}}
                {{- $params = merge $params (dict 
                    "layout" $layout
                    "id" $section
                    "pane" $pane
                    "type" $type
                    "vertical" $vertical
                    "width" $width
                    ) 
                -}}
            {{- else -}}
                {{- $partial = "assets/list.html" -}}
                {{- $params = merge $params (dict 
                    "layout" $layout
                    ) 
                -}}
            {{- end -}}
            {{- partial $partial $params -}}
        </div>
    </div>
{{- end -}}