{{- if .Site.Params.sharing.enabled -}}
    {{- if or .Params.sharing (not (isset .Params "sharing")) -}}
        {{- $page := . -}}
        {{- $order := "asc" -}}
        {{- $list := .Site.Params.sharing.providers -}}
        {{- if .Site.Params.sharing.reverse }}{{ $order = "desc" }}{{ else }}{{ $order = "asc" }}{{ end -}}
        {{- $sort := .Site.Params.sharing.sort | default "weight" -}}
        {{- $list = sort $list $sort $order -}}
        <div class="py-3 text-body-secondary hstack gap-2">
            {{ T "shareLink" "" }}
            {{- range $index, $item := $list -}}
                {{- $url := $item.url -}}
                {{- $url = replace $url "{url}" $page.Permalink -}}
                {{- $url = replace $url "{title}" (urlquery $page.Title) -}}
                {{- $url = $url | safeURL -}}
                {{- $target := "" -}}
                {{- $clipboard := "" -}}
                {{- if .clipboard -}}
                    {{- $target = (printf "toast-message-%s-%d" (anchorize $item.name) $index ) -}}
                    {{- $clipboard = $url -}}
                    {{- $url = "#!" -}}
                    {{- partial "assets/toast.html" (dict "id" $target "message" (printf "%s %s" (T "link")  (T "copiedToClipboard"))) -}}
                {{- end -}}
                {{- $params := (dict "toast" $target 
                                     "clipboard" $clipboard 
                                     "href" $url 
                                     "tooltip" $item.name 
                                     "icon" (printf "%s fa-fw" $item.icon) 
                                     "class" "btn-social p-0"
                                     "label" (T "shareLink" $item.name)) 
                -}}
                {{- $attributes := dict -}}
                {{- with $item.id -}} {{- $params = merge $params (dict "id" $item.id) -}} {{- end -}}

                {{- with $item.source -}} 
                    {{- $source := $item.source -}}
                    {{- $source = strings.Replace $source "{url}" $page.Permalink -}}
                    {{- $source = strings.Replace $source "{title}" (urlquery $page.Title) -}}
                    {{- $source = $source | safeURL -}}
                    {{- $attributes = merge $attributes (dict "data-m-src" $source) -}} 
                {{- end -}}                                    
                {{- with $item.prompt -}} {{- $attributes = merge $attributes (dict "data-m-prompt" (i18n $item.prompt)) -}} {{- end -}}    
                {{- with $attributes -}} {{- $params = merge $params (dict "attributes" $attributes) -}} {{- end -}}
                {{ partial "assets/button.html" $params }}                
            {{- end -}}
            {{ if .Site.Params.sharing.webshare }}
                {{ $attr := dict "data-sharing-title" .Title "data-sharing-description" .Description "data-sharing-url" .Permalink }}
                {{ partial "assets/button.html" (dict "href" "#!" "icon" "fas share-nodes fa-fw" "id" "btn-webshare" "class" "btn-social p-0" "attributes" $attr "label" (T "shareLink" (T "shareSystem"))) }}
            {{- end -}}
        </div>
    {{- end -}}
{{- end -}}