{{- $page := .page }}
{{- $section := $page.Section }}
{{- $data := .menu -}}
{{- $version := .version -}}

{{- define "partials/sidebar/group.html" -}}
    {{- $page := .page -}}
    {{- $index := .index -}}
    {{- $level := .level -}}
    {{- $baseURL := .baseURL -}}
    {{- $group := .group -}}

    {{- $doc_slug := $group.title | urlize -}}
    {{- $href := printf "%s/" (relLangURL (path.Join $baseURL $doc_slug)) -}}
    {{- $collapsed := strings.HasPrefix $page.RelPermalink $href -}}

    <li class="mb-1">
        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#sidebar-collapse-{{ $index }}-{{ $level }}" aria-expanded="{{ if $collapsed }}true{{ else }}false{{ end }}">
            <div class="text-start flex-fill">{{ $group.title }}</div>
        </button>
        <div class="collapse {{ if $collapsed }}show{{ end }}" id="sidebar-collapse-{{ $index }}-{{ $level }}">
            <ul class="btn-toggle-nav list-unstyled fw-normal {{ if eq $level 0}} pb-1 {{ end }}ps-3">
                {{- range $item := $group.pages -}}
                    {{- if $item.pages -}}
                        {{ partial "partials/sidebar/group.html" (dict 
                            "page" $page
                            "index" $index
                            "level" (add $level 1)
                            "baseURL" $href
                            "group" $item
                            )
                        }}
                    {{- else -}}
                        {{ partial "partials/sidebar/item.html" (dict 
                            "page" $page
                            "sectionBreak" false
                            "level" $level
                            "baseURL" $href
                            "title" $item.title
                            )
                        }}
                    {{ end -}}
                {{- end }}
            </ul>
        </div>
    </li>
{{ end -}}

{{- define "partials/sidebar/item.html" -}}
    {{ $page := .page }}
    {{ $sectionBreak := .sectionBreak }}
    {{- $level := .level -}}
    {{ $baseURL := .baseURL}}
    {{ $title := .title}}

    {{- $doc_slug := $title | urlize -}}
    {{- $href := printf "%s/" (relLangURL (path.Join $baseURL $doc_slug)) -}}
    {{ $active := eq $page.RelPermalink $href }}

    {{ if eq $level 0}}
        <li class="mt-1 mb-1 {{ if $sectionBreak }}border-top{{ end }}"></li>
        {{- $sectionBreak = false }}
        <li>
            <ul class="btn-toggle-nav list-unstyled fw-bold pb-1">
                <li>
                    <a href="{{ $href }}" class="sidebar-item text-decoration-none rounded {{ if $active }}active{{ end }}">
                        {{ $title }}
                    </a>      
                </li>
            </ul>
        </li>
    {{ else }}
        <li>
            <a href="{{ $href }}" class="sidebar-item text-decoration-none rounded small {{ if $active }}active{{ end }}">
                {{ $title }}
            </a>      
        </li>
    {{ end }}
{{ end -}}

{{ if $data }}
    <nav class="sidebar flex-shrink-0 ps-1 pt-3" aria-label="{{ (strings.FirstUpper $section) }} navigation">
        {{- $sectionBreak := false -}}
        {{- $level := 0 -}}
        {{- $baseURL := relLangURL (path.Join $section $version) }}

        <ul class="list-unstyled ps-0">
        {{- range $index, $item := $data -}}
            {{- if $item.pages }}
                {{- $sectionBreak = true }}
                {{ partial "partials/sidebar/group.html" (dict 
                    "page" $page
                    "index" $index
                    "level" (add $level 1)
                    "baseURL" $baseURL
                    "group" $item
                    )
                }}
            {{- else }}
                {{ partial "partials/sidebar/item.html" (dict 
                    "page" $page
                    "sectionBreak" $sectionBreak
                    "level" $level
                    "baseURL" $baseURL
                    "title" $item.title
                    )
                }}
            {{- end }}
        {{- end }}
        </ul>
    </nav>
{{ end }}