<!-- 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ define "partials/inline-table.html" }}
    {{ $page := .page }}
    {{ $input := .input }}
    {{ $attributes := .attributes }}
    {{ $class := .class }}
    {{ $wrap := .wrap }}

    {{ if $wrap }}{{ $input = printf "%s\n{.table-wrap}" (chomp $input) }}{{ end }}    
    {{- $input = $input | $page.RenderString }}
    {{ $regex := `<table\s*class="(.+?)"` }}
    {{ $current := (index (index (findRESubmatch $regex $input) 0) 1) }}
    {{ $target := delimit (((split $current " ") | append "table" | append $class) | uniq) " " }}

    {{- $new := printf `<table class="%s" %s` $target (trim $attributes " ") -}}
    {{ $input := replaceRE $regex $new $input 1 -}}

    {{ return $input }}
{{ end }}

<!-- Initialize arguments -->
{{ $error := false }}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "table" "args" .) }}
{{ if $args.err }}
    {{ partial "utilities/LogErr.html" (dict 
        "partial" "assets/table.html" 
        "msg" "Invalid arguments"
        "details" $args.errmsg
        "file" page.File
    )}}
{{ end }}

<!-- Initialize local variables -->
{{ $class := $args.class }}
{{ if or $args.sortable $args.paging $args.searchable }}{{ $class = trim (printf "%s data-table" $class) " " }}{{ end }}

{{ $attributes := "" }}
{{ if $args.sortable }}{{ $attributes = printf "%s data-table-sortable=true" $attributes }}{{ end }}
{{ if $args.paging }}
    {{ $attributes = printf "%s data-table-paging=true" $attributes }}
    {{ $attributes = printf "%s data-table-paging-option-perPage=%d" $attributes $args.pagingOptionPerPage }}
    {{ if (ne $args.pagingOptionPerPageSelect "") }}
        {{ $attributes = printf "%s data-table-paging-option-perPageSelect=%s" $attributes $args.pagingOptionPerPageSelect }}
    {{ end }}
{{ end }}
{{ if $args.searchable }}{{ $attributes = printf "%s data-table-searchable=true" $attributes }}{{ end }}

<!-- Main code -->
{{- $breakpoint := $args.page.Scratch.Get "breakpoint" -}}
{{ $regular := partial "partials/inline-table.html" (dict 
    "page" $args.page
    "input" $args.input
    "attributes" $attributes
    "class" $class
    "wrap" false
) }}

{{ $wrapped := "" }}
{{ if $args.wrap }}
    {{ $wrapped = partial "partials/inline-table.html" (dict 
        "page" $args.page
        "input" $args.input
        "attributes" $attributes
        "class" $class
        "wrap" true
    ) }}
{{ end }}

{{ if not $error }}
    {{ if eq $args.breakpoint "none" }}
        {{ $regular | safeHTML }}
        {{ with $wrapped }}{{ . | safeHTML }}{{ end }}
    {{ else }}
        <div class="table-responsive{{- with $args.breakpoint }}-{{ . }}{{ end }} {{ if $wrapped }}d-none d-{{ $breakpoint.current }}-block{{ end }}">
        {{ $regular | safeHTML }}
        </div>

        {{ with $wrapped }}
            <div class="table-responsive{{- with $args.breakpoint }}-{{ . }}{{ end }} d-{{ $breakpoint.current }}-none">
            {{ . | safeHTML }}
            </div>
        {{ end }}
    {{ end }}
{{ end }}