<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "toast" "args" . "group" "partial") }}
    {{- errorf "partial [assets/toast.html] - Invalid arguments" -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{- $id := .id | default (printf "toast-message-%d" 0) -}}
{{ $header := .header | default site.Title -}}
{{- $message := .message -}}
{{- $class := .class -}}

<!-- Main code -->
<div id="{{ $id }}" class="toast{{ with $class }} {{ . }}{{ end }}" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        {{ with $header }}<strong class="me-auto">{{ . }}</strong>{{ end }}
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="{{ T "close" }}"></button>
    </div>
    <div class="toast-body">{{ $message }}</div>
</div>
