<!-- 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

<!-- Initialize arguments -->
{{ $error := false }}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "toc" "args" .  "group" "partial") }}
{{ if $args.err }}
    {{ partial "utilities/LogErr.html" (dict 
        "partial" "assets/schema.html" 
        "msg" "Invalid arguments"
        "details" $args.errmsg
        "file" page.File
    )}}
    {{ $error = true }}
{{ end }}

<!-- Initialize local arguments -->
{{- $startLevel := or (.Site.Params.navigation.startLevel | int) 2 }}
{{- $endLevel := or (.Site.Params.navigation.endLevel | int) 3 }}
{{- $minNumHeadings := or (.Site.Params.navigation.minNumHeadings | int) 2 }}

<!-- Main code -->
{{ if not $error }}
    {{ $headings := partial "assets/toc-headings.html" $args.page }}
    {{- with $headings }}
        {{- if and (not $error) (ge (len .) $minNumHeadings) }}
        <div class="d-grid gap-2 mx-auto">
            {{ partial "assets/button.html" (dict 
                "title" (T "toc") 
                "color" "secondary" 
                "outline" "true" 
                "class" "toc-button" 
                "icon" "fas sort"
                "justify" "between"
                "collapse" "toc-collapse"
                "order" "last"
                "spacing" false
            ) -}}
        </div>

        <div class="collapse border bg-body-tertiary rounded p-1 navbar-nav-scroll" id="toc-collapse">
            <small>
                <div class="toc toc-panel text-body p-2">
                    {{- range . }}
                        {{- $attrs := dict "class" (printf "toc-item toc-level-%d" (add 1 (sub .level $startLevel))) }}
                        {{- with .id }}
                            {{- $attrs = merge $attrs (dict "href" (printf "%s#%s" $args.page.RelPermalink .)) }}
                        {{- end }}
                        <a
                        {{- range $k, $v := $attrs }}
                            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
                        {{- end -}}
                        >{{ .text }}</a>
                    {{- end }}
                </div>
            </small>
        </div>
        {{- end }}
    {{- end }}
{{- end }}
