<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $headings := .headings | default slice }}
{{- range .Fragments.Headings }}
    {{- range .Headings }}
        {{- $headings = $headings | append .Title -}}
    {{- end -}}
{{- end -}}

{{- if gt (len $headings) 1 }}
<nav class="navbar navbar-expand navbar-services p-0 fs-5">
    <div class="container-fluid p-0 pb-3 border-bottom">
        <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {{- range $headings }}
                        <li class="nav-item"><a class="nav-link" href="#{{ anchorize . }}">{{ . }}</a></li>
                    {{- end }}
                </ul>
        </div>
    </div>
</nav>
{{- end }}
