<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{- $file := "package.json" -}}
{{- $basePath := .Site.Params.docs.basePath -}}
{{- $file = path.Join $basePath (path.Clean $file) -}}

{{- $regex := printf `"version":.*(\r\n|\r|\n)` -}}

{{- $match := findRE $regex (readFile $file) -}}
{{- $match = index $match 0 -}}

{{- if $match -}}
    {{- printf "v%s" (trim (index (split $match ":") 1) " \r\n,\"") -}}
{{- end -}}
