.testimonial-img {
    height: 10vw;
    width: 10vw;
    background-color: var(--#{$prefix}body-bg);
}

.testimonial-logo {
    width: 20vw;
}

@include media-breakpoint-up(md) {
    .testimonial-img {
        height: 5vw;
        width: 5vw;
    }

    .testimonial-logo {
        width: 10vw;
    }
}

section.testimonials {
    .carousel {
        width: 100%;
    }

    .carousel-control-prev, .carousel-control-next {
        color: var(--bs-primary-text-emphasis);

        &:hover,
        &:focus {
            color: var(--bs-primary);
        }
    }

    .carousel-indicators button {
        background-color: $primary !important;
    }
}
