# toml-docs-start netlify
[build]
    publish = "public"
    functions = "functions"

[build.environment]
    NODE_VERSION = "18.13.0"
    NPM_VERSION = "8.19.3"

[context.production]
    command = "npm run build"

[context.production.environment]
    HUGO_VERSION = "0.110.0"
    HUGO_ENV = "production"
    HUGO_ENABLEGITINFO = "true"
# toml-docs-end netlify

[[headers]]
    for = "/*"
    [headers.values]
        Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options = "nosniff"
        X-XSS-Protection = "1; mode=block"
        Content-Security-Policy = """\
            default-src 'self'; \
            child-src 'self' app.netlify.com; \
            script-src 'self' \
                app.netlify.com netlify-cdp-loader.netlify.app \
                https://utteranc.es/client.js https://*.google-analytics.com https://*.googletagmanager.com; \
            style-src 'self' \
                netlify.app https://utteranc.es https://fonts.googleapis.com https://www.youtube.com; \
            object-src 'none'; \
            base-uri 'self'; \
            connect-src 'self'
                https://*.google-analytics.com https://*.analytics.google.com https://*.googletagmanager.com; \
            font-src 'self' https://fonts.gstatic.com; \
            frame-src 'self' https://utteranc.es https://www.youtube-nocookie.com https://www.youtube.com \
                app.netlify.com; \
            img-src 'self' https://i.vimeocdn.com https://i.ytimg.com https://*.google-analytics.com https://*.googletagmanager.com; \
            manifest-src 'self'; \
            media-src 'self' \
            """
        X-Frame-Options = "SAMEORIGIN"
        Referrer-Policy = "strict-origin"
        Permissions-Policy = """\
            geolocation=(), \
            midi=(), \
            sync-xhr=(), \
            microphone=(), \
            camera=(), \
            magnetometer=(), \
            gyroscope=(), \
            fullscreen=(), \
            payment=() \
            """
        cache-control = """\
            max-age=0, \
            no-cache, \
            no-store, \
            must-revalidate \
            """
        Access-Control-Allow-Origin = "*"

[context.deploy-preview]
    command = "npm run build -- -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
    command = "npm run build -- -b $DEPLOY_PRIME_URL"

[context.next]
    command = "npm run build"

[context.next.environment]
    HUGO_ENV = "next"

[dev]
    framework = "#custom"
    command = "npm run start"
    targetPort = 1313
    port = 8888
    publish = "public"
    autoLaunch = false