{{- $thumbnail := "" -}}
{{- $credits := "" -}}

{{- if reflect.IsMap .Params.Thumbnail -}}
    {{- $thumbnail = .Params.Thumbnail.url -}}
    {{- $author := "" -}}
    {{- if and .Params.Thumbnail.authorURL "text" .Params.Thumbnail.author }}
        {{- $author = partial "utilities/link" (dict "destination" .Params.Thumbnail.authorURL "text" .Params.Thumbnail.author) -}}
    {{- else if .Params.Thumbnail.author }}
        {{- $author = .Params.Thumbnail.author -}}
    {{- end -}}

    {{- $origin := "" -}}
    {{- if and .Params.Thumbnail.originURL "text" .Params.Thumbnail.origin }}
        {{- $origin = partial "utilities/link" (dict "destination" .Params.Thumbnail.originURL "text" .Params.Thumbnail.origin) -}}
    {{- else if .Params.Thumbnail.origin }}
        {{- $origin = .Params.Thumbnail.origin -}}
    {{- end }}

    {{- if and $author $origin }}
        {{ $credits = printf (T "photoFull") $author $origin }}
    {{ else if $author }}
        {{ $credits = T "photoShort" $author }}
    {{ end }}
{{ else }}
    {{- $thumbnail = .Params.Thumbnail -}}
    {{ if or .Params.photoCredits .Params.photoSource }}
        {{ warnf "DEPRECATED: frontmatter variables `photoCredits` and `photoSource` have been deprecated in release v0.18: %s" .RelPermalink }}
    {{ end }}
    {{- if and .Params.photoCredits .Params.PhotoSource }}{{ $credits = printf (T "photoFull") .Params.photoCredits .Params.PhotoSource }}{{ end -}}
{{- end -}}

{{ if $thumbnail -}}
    {{- partial "assets/image.html" (dict "url" $thumbnail "ratio" "21x9" "outerClass" "img-wrap" "innerClass" "rounded" "title" .Params.title "caption" $credits) -}}
{{ end -}}