// stylelint-disable function-name-case, declaration-no-important

// scss-docs-start colored-links
@each $color, $value in $theme-colors {
    $contrast-color: color-contrast($value);
    $color-rgb: to-rgb($value);

    .link-bg-#{$color} {
        color: $contrast-color if($enable-important-utilities, !important, null); 
        background-color: RGBA($color-rgb, var(--#{$prefix}bg-opacity, 1)) if($enable-important-utilities, !important, null);

        @if $link-shade-percentage != 0 {
            &:hover,
            &:focus {
                color: if($contrast-color == $color-contrast-light, 
                shade-color($contrast-color, $link-shade-percentage),
                tint-color($contrast-color, $link-shade-percentage))
                    if($enable-important-utilities, !important, null);
            }
        }
    }
}

// scss-docs-end colored-links
// stylelint-enable function-name-case, declaration-no-important
