.search {
    --background: transparent;
    --text-color: $primary;
    --primary-color: $primary;
    --width: 15rem;
    --height: 2.5rem;      
    width: auto;
    height: var(--height);
    position: relative;
    overflow: hidden;
    input[type="text"] {
        position: relative;
        width: var(--height);
        height: var(--height);
        color: var(--text-color);
        border: 0;
        box-sizing: border-box;
        outline: none;
        transition: width .6s ease;
        z-index: 10;
        opacity: 0;
        cursor: pointer;
        &:focus {
            border-bottom: 1px solid $secondary;
            z-index: 0;
            opacity: 1;
            width: var(--width);
            padding-right: 1.5rem;
        }
    }
    .symbol {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}