.search {
    --width: 15rem;
    width: auto;
    height: 2.5rem;
    position: relative;
    overflow: hidden;
    input[type="text"] {
        padding-top: 0.1rem;
        width: 1.5rem;
        color: $secondary;
        border: 0;
        box-sizing: border-box;
        outline: none;
        transition: width .6s ease;
        z-index: 10;
        opacity: 0;
        cursor: pointer;
        &:focus {
            border-bottom: 1px solid $secondary;
            z-index: 0;
            opacity: 1;
            width: var(--width);
            padding-right: 1.5rem;
        }
    }
    .symbol {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}