// Define template variables
@import "hugo:vars";

// Include default variable overrides
@import "common/variables.scss";
@import "common/icons.scss";

{{ if not (in site.Params.modules.core "bootstrap") }}
    {{ errorf "Bootstrap is a required module, please add it to 'modules.core' in your site parameters" }}
{{ end }}

@import "bootstrap.scss";

// Import Hinode theme styles
@import "components/alert.scss";
@import "components/blockquote.scss";
@import "components/breadcrumb.scss";
@import "components/buttons.scss";
@import "components/card.scss";
@import "components/carousel.scss";
@import "components/clipboard.scss";
@import "components/command.scss";
@import "components/comments.scss";
@import "components/navbar.scss";
@import "components/img.scss";
@import "components/pagination.scss";
@import "components/persona.scss";
@import "components/popover.scss";
@import "components/sidebar.scss";
@import "components/syntax.scss";
@import "components/timeline.scss";
@import "components/toc.scss";
@import "components/vimeo.scss";
@import "common/animation.scss";
@import "common/styles.scss";
@import "layouts/reboot.scss";
@import "layouts/type.scss";
@import "common/export.scss";
@import "helpers/colored-links.scss";
@import "helpers/display.scss";

// TODO: include fonts with following statement in Dart Sass
// @if $import-fonts {
//     @include meta.load-css(theme/fonts);
// }

{{ if (not (hasPrefix (lower site.Params.style.themeFontPath) "http")) }}
    @import "theme/fonts.scss";
{{ end }}

// Import theme placeholder
@import "theme/theme.scss";

// Import Bootstrap utilities API
@import "modules/bootstrap/utilities/api";
