// Define template variables
@import "hugo:vars";

// Include default variable overrides
@import "common/variables.scss";
@import "theme/variables.scss";
@import "common/icons.scss";

// Import Bootstrap configuration (mounted by core Bootstrap module)
@import "bootstrap.scss";

// Include dark mode overrides
@import "common/variables-dark.scss";

// Import Hinode theme styles
@import "components/abbr.scss";
@import "components/alert.scss";
@import "components/blockquote.scss";
@import "components/breadcrumb.scss";
@import "components/button.scss";
@import "components/card.scss";
@import "components/carousel.scss";
@import "components/clipboard.scss";
@import "components/command.scss";
@import "components/comments.scss";
@import "components/feature.scss";
@import "components/footer.scss";
@import "components/nav.scss";
@import "components/navbar.scss";
@import "components/img.scss";
@import "components/pagination.scss";
@import "components/persona.scss";
@import "components/popover.scss";
@import "components/sidebar.scss";
@import "components/syntax.scss";
@import "components/table.scss";
@import "components/timeline.scss";
@import "components/toc.scss";
@import "components/video.scss";
@import "common/animation.scss";
@import "common/styles.scss";
@import "layouts/reboot.scss";
@import "layouts/type.scss";
@import "common/export.scss";
@import "helpers/colored-links.scss";
@import "helpers/display.scss";

// TODO: include fonts with following statement in Dart Sass
// @if $import-fonts {
//     @include meta.load-css(theme/fonts);
// }

{{ if (not (hasPrefix (lower site.Params.style.themeFontPath) "http")) }}
    @import "theme/fonts.scss";
{{ end }}

// Import theme placeholder
@import "theme/theme.scss";

// Import Bootstrap utilities API  (mounted by core Bootstrap module)
@import "modules/bootstrap/utilities/api";
