<div class="row row-cols-2 mt-5 mb-3">
    <div class="col">
        {{ with .NextInSection -}}
            {{ if .OutputFormats.Get "html" -}}
                <a class="next" href="{{ .RelPermalink }}">
                    {{- partial "assets/icon.html" (dict "icon" "fas arrow-left" "spacing" false) }}&nbsp;{{ .LinkTitle }}
                </a>
            {{- end -}}
        {{ end -}}
    </div>
    <div class="col text-end">
        {{ with .PrevInSection -}}
            {{ if .OutputFormats.Get "html" -}}
                <a class="previous" href="{{ .RelPermalink }}">
                    {{ .LinkTitle }}&nbsp;{{- partial "assets/icon.html" (dict "icon" "fas arrow-right" "spacing" false) }}
                </a>
            {{- end -}}
        {{ end -}}
    </div>
</div>
