{{- $page := .page -}}
{{- $headings := .headings -}}
{{- $orientation := .orientation | default "stacked" -}}
{{- $actions := .actions -}}
{{- $width := .width | default 6 }}
{{- if or (lt $width 1) (gt $width 12) -}}
    {{- $width = 6 -}}
    {{- warnf "partial [list/featured.html] - Invalid column width: %d" $width -}}
{{ end -}}
{{- $justify := .justify | default "center" -}}
{{- $supportedJustify := slice "start" "end" "center" "between" "around" "evenly" -}}
{{- if not (in $supportedJustify $justify) -}}
    {{- errorf "partial [list/featured.html] - Invalid value for param 'justify': %s" $justify -}}
{{- end -}}
{{- $align := .align | default "center" -}}
{{- $supportedAlign := slice "start" "end" "center" -}}
{{- if not (in $supportedAlign $align) -}}
    {{- errorf "partial [list/featured.html] - Invalid value for param 'align': %s" $align -}}
{{- end -}}
{{- $breadcrumb := and (not $page.IsHome) site.Params.navigation.breadcrumb -}}

{{- define "partials/list/featured-body.html" }}
    {{- $page := .page -}}
    {{- $headings := .headings -}}
    {{- $orientation := .orientation | default "stacked" -}}
    {{- $actions := .actions -}}
    {{- $align := .align | default "center" -}}

    <div class="text-{{ $align }}">
        {{ with $page.Title }}<p class="display-4">{{ . }}</p>{{ end }}
        <span class="fs-5 text-muted">{{ $page.Description }}</span>

        {{ if $actions }}
            {{- $actions = sort $actions "weight" "asc" -}}
            <div class="hstack{{ if gt (len $actions) 1 }} gap-1{{ end }} justify-content-{{ $align}} pt-5 pt-md-3">
                {{ range $actions }}
                    {{ partial "assets/button.html" (dict "href" .url "icon" .icon "title" .title "outline" .outline "order" "last" "justify" "start") }}
                {{ end }}
            </div>
        {{ end }}
    </div>
{{- end -}}

{{- define "partials/list/featured-illustration.html" }}
    {{- $page := .page -}}
    {{- $style := printf "img-wrap mx-auto mx-md-0 %s" .style -}}

    {{ if $page.Params.icon }}
        {{- $icon := (or (and (reflect.IsMap $page.Params.Icon) $page.Params.Icon.url) $page.Params.Icon) -}}
        {{- $mode := and (reflect.IsMap $page.Params.Icon) $page.Params.Icon.mode -}}
        {{ if eq (lower (path.Ext $icon)) ".json" }}
            {{ partial "assets/animation.html" (dict "data" $icon "mode" $mode "loop" false "hover" true "class" "col-6 mx-auto text-center") }}
        {{ else }}
            {{ partial "assets/icon.html" (dict "icon" "mode" $mode $icon "wrapper" "col-6 mx-auto text-center")}}
        {{ end }}
    {{ else }}
        {{- $thumbnail := (or (and (reflect.IsMap $page.Params.Thumbnail) $page.Params.Thumbnail.url) $page.Params.Thumbnail) -}}
        {{- if $thumbnail }}
            {{ partial "assets/image.html" (dict "url" $thumbnail "ratio" "16x9" "outerClass" $style "innerClass" "rounded" "title" $page.Site.Title "priority" "high") }}
        {{ end }}
    {{ end }}
{{- end -}}

<div class="container-fluid p-0 {{ with site.Params.home.feature.color }} bg-{{ . }} bg-opacity-{{ site.Params.style.themeOpacity | default "25" | safeHTML }}{{ end }}">
    <div class="container-xxl p-4 px-xxl-0 {{ if site.Params.home.fullCover }} fullcover{{ end }} d-flex flex-column">
        {{ if $breadcrumb }}
            <div>{{ partial "assets/breadcrumb.html" $page }}</div>
        {{ end -}}

        {{ if eq $orientation "stacked" }}
            <div class="row justify-content-center flex-fill">
                <div class="col-12 col-md-{{ $width }} m-auto text-center">
                    {{ partial "partials/list/featured-illustration.html" (dict "page" $page "style" "pb-4") }}
                    {{ partial "partials/list/featured-body.html" (dict "page" $page "headings" $headings "orientation" $orientation "actions" $actions) }}
                </div>
            </div>
        {{ else }}
            <div class="row row-cols-1 row-cols-md-2 justify-content-{{ $justify }} flex-fill">
                <div class="col col-12 col-md-{{ $width }} order-1 order-md-0 my-md-auto">
                    {{ partial "partials/list/featured-body.html" (dict "page" $page "headings" $headings "orientation" $orientation "actions" $actions "align" $align) }}
                </div>
                <div class="col col-12 col-md-{{ if gt $width 6 }}{{ sub 12 $width }}{{ else }}{{ $width }}{{ end }} order-0 order-md-1 text-center my-md-auto align-self-end">
                    {{ partial "partials/list/featured-illustration.html" (dict "page" $page "style" "pb-4 pb-md-0") }}
                </div>
            </div>
        {{ end }}

        {{ with $headings }}
            <div class="col col-12 p-0 pt-5">
                {{ partial "assets/toc-main.html" (dict "headings" .) }}
            </div>
        {{ end }}
    </div>
</div>