{{/* Add default hero and articles for list pages */}}
{{- $padding := partial "utilities/GetPadding.html" -}}

{{/* Render basic header for list page */}}
<div class="container-xxl py-{{ $padding.y }} px-{{ $padding.x }} px-xxl-0">
    {{ if .Site.Params.navigation.breadcrumb }}
        {{ partial "assets/breadcrumb.html" (dict "page" .) }}
    {{ end }}
    {{ partial "assets/section-title.html" (dict
        "heading" (dict
            "title" .Title
            "align" "start"
        )
        "use-title" true
    ) }}
</div>

{{/* Render paginated list of articles */}}
{{ $result := partial "assets/live-pages.html" (dict "section" .Section "sort" "date" "reverse" true) }}
{{ $pages := $result.pages }}
{{ if gt (len $pages) 0 }}
    <div class="container-xxl py-{{ $padding.y }} px-{{ $padding.x }} px-xxl-0">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {{ range (.Paginate $pages).Pages }}
                <div class="col">
                    {{ partial "assets/card.html" (dict
                        "path"    .RelPermalink
                        "class"   "border-0 card-zoom h-100"
                        "padding" 0
                    ) }}
                </div>
            {{ end }}
        </div>
        {{ partial "assets/pagination.html" (dict "page" .) }}
    </div>
{{ end }}