{{- $page := .page -}}
{{- $contact := .contact -}}
{{- $orientation := .orientation -}}
{{- $align := .align | default "start" }}
{{- $title := .title | default (T "contactHeaderTopic") }}

{{- with $contact -}}
    {{- $link := "" -}}
    {{- $section := site.Params.modules.bookshop.contacts.section -}}
    {{- $result := partial "utilities/GetContact" (dict "contact" . "data" $section "language-tag" site.Language.Lang) -}}
    {{- with $result -}}
        {{- with .RelPermalink }}{{ $link = . }}{{ end -}}

        {{- partial "assets/contact.html" (dict 
            "page"        $page
            "heading"     (dict "title" $title "content" (T "contactBody" $contact) "size" 5 "align" $align)
            "background"  (dict "color" "light")
            "order"       "first"
            "orientation" $orientation
            "class"       "contact-img"
            "contact"     $contact
            "links"       (slice (dict "title" (T "contactAction") "url" $link "icon" "fas chevron-right"))
            "data"        site.Params.modules.bookshop.cta.section
        ) }}
    {{ else }}
        {{- partial "utilities/LogWarn.html" (dict 
            "partial" "page/contact.html" 
            "warnid"  "warn-missing-contact"
            "msg"     "Missing contact"
            "details" (printf "Cannot find contact %q" $contact)
            "file"    $page.File
        ) -}}
    {{- end -}}
{{ end -}}
