{{/*
    Copyright © 2022 - 2026 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{/*
    Hook partial for the shell's primary sidebar. Empty by default — sites
    using `navigation.shell = true` override this partial in their own
    `layouts/_partials/page/shell-sidebar.html` to render their L1 navigation.

    The partial receives `dict "page" .` and is expected to emit the inner
    contents of the sidebar `<aside>`.
*/}}
