.alert code {
    color: inherit;
}

.alert a {
    color: inherit;
    
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: var(--bs-body);
    }    
}