.bg, .chroma, .chroma .err { 
    background-color: var(--bs-light) if($enable-important-utilities, !important, null); 
}

@import "syntax-light";

[data-bs-theme=dark] {
    .bg, .chroma, .chroma .err { 
        background-color: var(--bs-tertiary-bg) if($enable-important-utilities, !important, null); 
    }

    .bg, .chroma { 
        color: #c9d1d9 if($enable-important-utilities, !important, null);
    }

    @import "syntax-dark";    
}
