<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
    <head>
        {{ partial "head.html" . }}
    </head>

    <body>

        <div class="main d-flex flex-column">
            <div class="justify-content-center">    
                <header>
                    {{ partial "navbar.html" . }}
                </header>
            </div>
                  
            <div class="justify-content-center flex-grow-1">
                {{ block "main" . }}{{ end }}
            </div>
                  
            <div class="justify-content-center">
                {{- partial "social.html" . -}}
                {{ partial "footer.html" . }}
            </div>
          </div>

        {{ partialCached "scripts.html" . }}
    </body>
</html>