{{ define "main" -}}
    <div class="p-4">
        <h1>{{ .Title }}</h1>
        <div class="container-fluid p-0">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                {{ $max := sub (len .Pages) 1 -}}
                {{ range $index, $element := (.Paginate .RegularPagesRecursive).Pages -}}
                    <div class="col">
                        {{- partial "assets/blog-card.html" $element -}}
                    </div>
                    {{ if (lt $index $max) -}}
                        <div class="col d-block d-sm-none">
                            <hr>
                        </div>
                    {{ end -}}
                {{ end -}}
            </div>
        </div>

        {{- partial "assets/pagination.html" . -}}
    </div>
{{ end -}}