{{- define "featured" }}
    {{ .Render "list/header" }}
{{ end }}

{{- define "main" -}}
    {{- $page := . -}}
    {{- $sections := $.Scratch.Get "sections" -}}
    {{- $fullCover := $.Scratch.Get "fullCover" -}}
    {{- $layout := $page.Params.layout -}}

    <div class="container-xxl p-4 px-xxl-0">
        {{- if ne $layout "featured" -}}
            {{ if and (not $page.IsHome) site.Params.navigation.breadcrumb }}
                <div>{{ partial "assets/breadcrumb.html" $page }}</div>
            {{ end -}}
        {{- end -}}

        {{ .Render "list/body" }}

        {{ .Render "list/footer" }}
    </div>

    {{/* Display generated sections */}}
    {{ range $sections }}
        {{ .content | safeHTML }}
    {{ end }}

    {{/* Fill remaining space to push page footer to viewport bottom */}}
    <div class="container-fluid flex-fill"></div>
{{- end -}}
