{{/* cSpell: ignore multipage lastmodstr datestr mimage pagenumber inledby */}}

{{/* Originally from the partial _default/single.html */}}
{{/* Modifications: Separated footer in a pagination and comments part */}}
{{/*                Added option (in params.toml) to show pagination in different ways */}}
{{/*                Removed .Layout checks, as there is only the multipage layout */}}


{{- define "partials/multi-header.html" -}}
    {{ if site.Params.navigation.breadcrumb }}{{ partial "assets/breadcrumb.html" . }}{{ end -}}
    {{ $lastmodstr := (partial "utilities/date.html" (dict "date" .Lastmod "format" "long")) -}}
    {{ $datestr := (partial "utilities/date.html" (dict "date" .Date "format" "long")) -}}
    {{ with .Title }}<p class="display-4 mt-5">{{ . }}</p>{{ end }}
    <small class="text-body-secondary text-uppercase">
        {{ $datestr | i18n "postedOnDate" -}}
        {{ if ne $datestr $lastmodstr -}}&nbsp;({{ $lastmodstr | i18n "lastModified" }}){{ end }} 
        &bull;
        {{ .ReadingTime | lang.FormatNumber 0 }}&nbsp;{{ i18n "minutesShort" }} {{ i18n "read" }} 
        &bull;
        {{ .WordCount | lang.FormatNumber 0 }}&nbsp;{{ i18n "words" }}
    </small>

    {{- if gt (len (.GetTerms "tags")) 0 -}}
        <div class="mt-3">
            <div class="d-none-dark">
                <div class="hstack gap-3">
                    {{ range (.GetTerms "tags") -}}
                        {{- $url := (path.Join .Page.RelPermalink) | relLangURL -}}
                        {{ partial "assets/button.html" (dict "href" $url "title" .LinkTitle "color" "light" "size" "sm") }}
                    {{ end -}}
                </div>
            </div>
          
            <div class="d-none-light">
                <div class="hstack gap-3">
                    {{ range (.GetTerms "tags") -}}
                        {{- $url := (path.Join .Page.RelPermalink) | relLangURL -}}
                        {{ partial "assets/button.html" (dict "href" $url "title" .LinkTitle "color" "secondary" "size" "sm" "outline" "true") }}
                    {{ end -}}
                </div>
            </div>
        </div>
    {{- end -}}
    {{ partial "assets/sharing.html" . }}
    <p class="lead mb-5 mt-3">{{ .Description }}</p>
{{ end -}}

{{ define "partials/multi-body.html" -}}
    {{- if and .Site.Params.navigation.toc .Params.includeToc | default true -}}
        <div class="d-md-none pb-5">{{ partial "assets/toc-dropdown.html" . }}</div>
    {{- end -}}

    {{ if .Params.thumbnail -}}
        {{- $credits := "" -}}
        {{- if .Params.photoCredits }}
            {{ if .Params.PhotoSource }}
                {{ $credits = printf "<i class=\"fa-solid fa-camera\"></i> %s %s %s" .Params.photoCredits (T "photoOn") .Params.PhotoSource }}
            {{ end }}
        {{ end -}}
        {{- partial "assets/mimage.html" (dict "url" .Params.thumbnail "ratio" "21x9" "outerClass" "img-wrap" "innerClass" "rounded" "captionClass" "caption-align-right text-italic" "title" .Params.title "caption" $credits) -}}
    {{ end -}}
    {{ .Content }}
{{ end -}}


{{ define "partials/multi-pagination.html" -}}
    {{- $page := . }}

    {{- $paginatorMode := "arrows" }}
    {{- with .Site.Params.multipage.paginator -}}{{- $paginatorMode = . -}}{{- end -}}
    {{- $validModes := slice "arrows" "list" "buttons" "dropdown" -}}
    {{- if not (in $validModes $paginatorMode) -}}
        {{- $paginatorMode = "arrows" }}
    {{- end -}}        

    {{- if eq $paginatorMode "arrows" -}}
        <!-- Show left/right page navigators -->
        <div class="row row-cols-2 mt-5 mb-3">
            <div class="col">
                <!-- Check if there is a previous page -->
                {{ with $page.Paginator.HasPrev -}}
                    <!-- get the pager -->
                    {{ $prev := $page.Paginator.Prev -}}
                    <!-- Get the page -->
                    {{ range $prev.Pages }}
                        <!-- Show the icon and page title with link -->
                        <a class="next" href="{{ .RelPermalink }}">
                            {{- partial "assets/icon.html" (dict "icon" "fas arrow-left") }}&nbsp;{{ .Title }}
                        </a>
                    {{- end -}}
                {{ end -}}
            </div>
            <div class="col text-end">
                <!-- Check if there is a next page -->
                {{ with $page.Paginator.HasNext -}}
                    <!-- get the pager -->
                    {{ $next := $page.Paginator.Next -}}
                    <!-- Get the page -->
                    {{ range $next.Pages }}
                        <!-- Show the icon and page title with link -->
                        <a class="previous" href="{{ .RelPermalink }}">
                            {{ .Title }}&nbsp;{{- partial "assets/icon.html" (dict "icon" "fas arrow-right") }}
                        </a>
                    {{- end -}}
                {{ end -}}
            </div>
        </div>

    <!-- Show paginator buttons -->
    {{- else if eq $paginatorMode "buttons" -}}
        {{ partial "assets/pagination.html" . }}

    <!-- Show a list of pages -->
    {{- else if eq $paginatorMode "list" -}}
        <!-- Save the current page number -->
        {{- $currentPageNumber := .Paginator.PageNumber }}
        <!-- Show header header -->
        {{- $section := printf "multipage_%s" $page.Section -}}
        <h5>{{- (i18n "multipage_pages") }}&nbsp;{{ (i18n $section) -}}</h5>
        <!-- List the pages-->
        <div  class="list-group">
        {{- range $k := seq 1 .Paginator.TotalPages -}}
            {{- $active := "" -}}
            <!-- When the page to list is the current page, show it italic and disabled -->
            {{- if eq $currentPageNumber $k}}
                {{- $active = "disabled text-italic" -}}
            {{- end -}}            
            <a href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}" class="list-group-item list-group-item-action {{ $active }}">
                <!-- Show page number -->
                {{- (i18n "multipage_page") }}&nbsp;{{ $k -}}:&nbsp;
                <!-- Show page title -->
                {{ range (index $.Paginator.Pagers (sub $k 1)).Pages }}{{ .Title }}{{ end -}}
            </a>
        {{- end -}}
        </div>

    <!-- Show a dropdown box -->
    {{- else if eq $paginatorMode "dropdown" -}}

    {{- end -}}
{{ end }}


{{ define "partials/multi-footer.html" -}}
    <!-- Show comments when enabled -->
    {{- if and .Site.Params.comments.enabled .Params.showComments | default true -}}
        <br/><hr>
        {{ partial "assets/comments.html" . }}
    {{ end -}}
{{ end -}}


{{ define "main" }}
    {{ $page := . }}

    {{/* Create paginator from the regular pages */}}
    {{ $paginator := .Paginate (.RegularPages.ByParam "pagenumber") 1 }}

    {{/* Calculate the number of pages in the paginator */}}
    {{ $totalPages := $paginator.TotalPages }}

    {{ range $paginator.Pages }}
        {{- $menu := .Scratch.Get "sidebar" -}}
        {{- $version := .Scratch.Get "version" -}}
        {{- $sidebar := .Site.Params.navigation.sidebar | default true -}}
        {{ if and $menu $sidebar -}}
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvass-sidebar" aria-inledby="offcanvas-label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvas-label">{{ strings.FirstUpper .Section }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {{ partial "assets/sidebar" (dict "page" . "menu" $menu "version" $version) }}
                </div>
            </div>

            <div class="container-xxl px-3 px-xxl-0">
                <div class="row row-cols-md-2 row-cols-lg-3">
                    <div class="col col-md-3 col-lg-2 d-none pt-5 d-md-block sidebar-overflow sticky-top">
                        {{ partial "assets/sidebar" (dict "page" . "menu" $menu "version" $version) }}
                    </div>
                    <div class="col col-md-9 col-lg-8 mb-5 p-4">
                        {{ partial "partials/multi-header.html" . }}
                        {{ partial "partials/multi-body.html" . }}
                        {{ if gt $totalPages 1 }}
                            {{ template "partials/multi-pagination.html" $page }}
                        {{ end }}
                        {{ partial "partials/multi-footer.html" . }}
                    </div>
                    <div class="col col-lg-2 d-none d-lg-block pt-5">
                        {{- if and .Site.Params.navigation.toc .Params.includeToc | default true -}}
                            {{ partial "assets/toc.html" . -}}
                        {{ end -}}
                    </div>
                </div>
            </div>
        {{ else }}
            <div class="container-xxl px-3 px-xxl-0">
                <div class="row row-cols-1 row-cols-sm-3">
                    <div class="col col-md-2 d-none d-md-block"></div>
                    <div class="col col-sm-12 col-md-8">
                        {{ partial "partials/multi-header.html" . }}
                        {{ partial "partials/multi-body.html" . }}
                        {{ if gt $totalPages 1 }}
                            {{ template "partials/multi-pagination.html" $page }}
                        {{ end }}                    
                        {{ partial "partials/multi-footer.html" . }}
                    </div>
                    <div class="col col-md-2 d-none d-md-block">
                        {{- if and .Site.Params.navigation.toc .Params.includeToc | default true -}}
                            {{ partial "assets/toc.html" . -}}
                        {{ end -}}
                    </div>
                </div>    
            </div>
        {{ end }}
    {{ end }}
{{ end }}
