{{/* cSpell: ignore multipage pagenumber inledby mpagination */}}

{{/* Originally from the partial _default/single.html */}}
{{/* Modifications: Add paginator */}}
{{ define "partials/multi-footer.html" -}}
    <!-- Show comments when enabled -->
    {{- if and .Site.Params.comments.enabled .Params.showComments | default true -}}
        <br/><hr>
        {{ partial "assets/comments.html" . }}
    {{ end -}}
{{ end -}}

{{ define "main" }}
    {{ $page := . }}

    {{/* Create paginator from the regular pages */}}
    {{ $paginator := .Paginate (.RegularPages.ByParam "pagenumber") 1 }}

    {{/* Calculate the number of pages in the paginator */}}
    {{ $totalPages := $paginator.TotalPages }}

    {{ range $paginator.Pages }}
        {{- $menu := .Scratch.Get "sidebar" -}}
        {{- $version := .Scratch.Get "version" -}}
        {{- $sidebar := .Site.Params.navigation.sidebar | default true -}}
        {{ if and $menu $sidebar -}}
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvass-sidebar" aria-inledby="offcanvas-label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvas-label">{{ strings.FirstUpper .Section }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    {{ partial "assets/sidebar" (dict "page" . "menu" $menu "version" $version) }}
                </div>
            </div>

            <div class="container-xxl px-3 px-xxl-0">
                <div class="row row-cols-md-2 row-cols-lg-3">
                    <div class="col col-md-3 col-lg-2 d-none pt-5 d-md-block sidebar-overflow sticky-top">
                        {{ partial "assets/sidebar" (dict "page" . "menu" $menu "version" $version) }}
                    </div>
                    <div class="col col-md-9 col-lg-8 mb-5 p-4">
                        {{ partial "partials/header.html" . }}
                        {{ partial "partials/body.html" . }}
                        {{ if gt $totalPages 1 }}
                            {{ partial "assets/mpagination.html" (dict "page" $page 
                                                                       "mode" .Site.Params.multipage.paginator 
                                                                       "tooltips" .Site.Params.multipage.tooltips
                                                                       "positions" .Site.Params.multipage.positions
                                                                 ) }}
                        {{ end }}
                        {{ partial "partials/multi-footer.html" . }}
                    </div>
                    <div class="col col-lg-2 d-none d-lg-block pt-5">
                        {{- if and .Site.Params.navigation.toc .Params.includeToc | default true -}}
                            {{ partial "assets/toc.html" . -}}
                        {{ end -}}
                    </div>
                </div>
            </div>
        {{ else }}
            <div class="container-xxl px-3 px-xxl-0">
                <div class="row row-cols-1 row-cols-sm-3">
                    <div class="col col-md-2 d-none d-md-block"></div>
                    <div class="col col-sm-12 col-md-8">
                        {{ partial "partials/header.html" . }}
                        {{ partial "partials/body.html" . }}
                        {{ if gt $totalPages 1 }}
                            {{ partial "assets/mpagination.html" (dict "page" $page 
                                                                       "mode" .Site.Params.multipage.paginator 
                                                                       "tooltips" .Site.Params.multipage.tooltips
                                                                       "positions" .Site.Params.multipage.positions
                                                                 ) }}
                        {{ end }}                    
                        {{ partial "partials/multi-footer.html" . }}
                    </div>
                    <div class="col col-md-2 d-none d-md-block">
                        {{- if and .Site.Params.navigation.toc .Params.includeToc | default true -}}
                            {{ partial "assets/toc.html" . -}}
                        {{ end -}}
                    </div>
                </div>    
            </div>
        {{ end }}
    {{ end }}
{{ end }}
