{{- define "partials/single-main.html" -}}
    {{ if .Site.Params.navigation.breadcrumb }}{{ partial "assets/breadcrumb.html" . }}{{ end -}}

    {{ .Render "single/header" }}

    {{- if and .Site.Params.navigation.toc .Params.includeToc | default true -}}
        <div class="d-md-none pb-5">{{ partial "assets/toc-dropdown.html" . }}</div>
    {{- end -}}
    {{ .Render "single/body" }}

    {{ .Render "single/footer" }}
    {{- if and .Site.Params.comments.enabled .Params.showComments | default true -}}
        <hr>
        {{ partial "assets/comments.html" . }}
    {{ end -}}
{{ end -}}

{{ define "main" -}}
    {{- $menu := .Scratch.Get "sidebar" -}}
    {{- $version := .Scratch.Get "version" -}}

    {{ $sidebar := "" }}
    {{- $hasSidebar := .Site.Params.navigation.sidebar | default true -}}
    {{ if and $menu $hasSidebar  }}{{ $sidebar = partial "assets/sidebar.html" (dict "page" . "menu" $menu "version" $version) }}{{ end }}

    {{ $toc := .Render "single/panel-toc" }}

    {{ with $sidebar -}}
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvass-sidebar" aria-inledby="offcanvas-label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvas-label">{{ strings.FirstUpper $.Section }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{{ T "close" }}"></button>
            </div>
            <div class="offcanvas-body">
                {{ . | safeHTML }}
            </div>
        </div>
    {{ end }}

    <div class="container-xxl flex-fill p-4 px-xxl-0">
        {{ if and $menu $hasSidebar -}}
            <div class="row row-cols-md-2 row-cols-lg-3">
                <div class="col col-md-3 col-lg-2 d-none pt-5 d-md-block sidebar-overflow sticky-top">
                    {{ $sidebar | safeHTML }}
                </div>
                <div class="col col-md-9 col-lg-8 mb-5 p-4">
                    {{ partial "partials/single-main.html" . }}
                </div>
                <div class="col col-lg-2 d-none d-lg-block pt-5">
                    {{ $toc | safeHTML }}
                </div>
            </div>
        {{ else if $hasSidebar }}
            <div class="row row-cols-1 row-cols-sm-3">
                <div class="col col-md-2 d-none d-md-block"></div>
                <div class="col col-sm-12 col-md-8">
                    {{ partial "partials/single-main.html" . }}
                </div>
                <div class="col col-md-2 d-none d-md-block">
                    {{ $toc | safeHTML }}
                </div>
            </div>    
        {{ else }}
            <div class="row row-cols-1 row-cols-sm-2">
                <div class="col col-sm-12 col-md-9">
                    {{ partial "partials/single-main.html" . }}
                </div>
                <div class="col col-md-3 d-none d-md-block">
                    {{ $toc | safeHTML }}
                </div>
            </div>    
        {{ end -}}
    </div>
{{ end -}}