<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

{{ $anchorMap := dict
    "TopLeft" "top_left"
    "Top" "top"
    "TopRight" "top_right"
    "Left" "left"
    "Center" "center"
    "Right" "right"
    "BottomLeft" "bottom_left"
    "Bottom" "bottom"
    "BottomRight" "bottom_right"
    "Smart" "auto"
}}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "image-adapter" "args" . "group" "partial") }}
    {{ errorf "partial [assets/adapter/imagekit.html] - Invalid arguments" -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{ $host := .host }}
{{ $dir := .dir }}
{{ $file := .file }}
{{ $format := .format }}
{{ $transform := .transform }}
{{ $height := .height }}
{{ $width := .width }}
{{ $anchor := "" }}
{{ with .anchor }}{{ $anchor = index $anchorMap . }}{{ end }}
{{ if eq $transform "fill" }}{{ $transform = "c-maintain_ratio" }}{{ else }}{{ $transform = "c-at_max" }}{{ end }}
{{ $element := "" }}

<!-- Validate image format is supported -->
{{ if and $format (not (in (slice "jpg" "jpeg" "webp" "avif" "png") $format)) }}
    {{ warnf "Image format not supported by ImageKit.io: %s.%s" (path.BaseName $file) $format }}
    {{ $format = "jpg" }}
{{ end }}

<!-- Split path between end point and image path -->
{{ $newdir := printf "/%s" (index (split $dir "/") 1) }}
{{ $file = urls.JoinPath (strings.TrimPrefix $newdir $dir) $file }}
{{ $dir = $newdir }}

<!-- Generate image URL -->
{{ if not $error }}
    {{ $operation := "" }}
    {{ if $format }}
        {{ $operation = printf "tr:f-%s,%s,h-%d,w-%d" $format $transform $height $width }}
    {{ else }}
        {{ $operation = printf "tr:f-auto,%s,h-%d,w-%d" $transform $height $width }}
    {{ end }}
    {{ with $anchor }}
        {{ $operation = printf "%s,fo-%s" $operation . }}
    {{ end }}
    {{- $element = urls.JoinPath (slice "https://" $host $dir $operation $file) -}}
{{ end }}

{{ return $element }}
