{{ define "main" }}
    {{- $page := . -}}
    {{- $layout := $page.Params.layout -}}
    {{- $breakpoint := $.Scratch.Get "breakpoint" -}}
    {{- $hasSidebar := site.Params.navigation.sidebar | default true -}}

    <div class="container-xxl flex-fill p-4 px-xxl-0">
        <div class="row row-cols-1 row-cols-{{ $breakpoint.prev }}-{{ if $hasSidebar }}3{{ else }}2{{ end }}">
            {{ if $hasSidebar }}<div class="col col-{{ $breakpoint.current }}-2 d-none d-{{ $breakpoint.current }}-block"></div>{{ end }}
            <div class="col col-{{ $breakpoint.prev }}-12 col-{{ $breakpoint.current }}-8">
                {{- if ne $layout "featured" -}}
                    {{ if and (not $page.IsHome) site.Params.navigation.breadcrumb }}
                        <div>{{ partial "assets/breadcrumb.html" $page }}</div>
                    {{ end -}}
                {{- end -}}

                <p class="display-4 mt-5">{{ .Page.Title }}</p>

                {{ if eq .Kind "taxonomy" }}
                    <div class="row mt-5"></div>
                    {{ range $.Site.Taxonomies.tags.ByCount }}
                        <div class="row mt-2">
                            <div class="col-3 mt-auto text-right">
                                {{ .Count }} {{ if gt .Count 1 }} {{ T "articles" }} {{ else }} {{ T "article" }} {{ end }}
                            </div>
                            <div class="col-9">
                                <a href="{{ (path.Join .Page.RelPermalink) | relLangURL }}">{{ .Page.Title | .Page.RenderString }}</a>
                            </div>
                        </div>
                    {{ end }}
                    {{ if eq $.Site.Taxonomies.tags 0 }}
                        <p class="pt-4">{{- T "emptyTags" }}.</p>
                    {{ end }}
                {{ else }}
                    {{ $dateFormat := default "Jan 2" (index .Site.Params "date_format") }}
                    {{ $.Scratch.Set "lastYear" ""}}
                    {{ range .Pages }}
                        {{ $year := .Date.Year }}
                        {{ $lastYear := $.Scratch.Get "lastYear"}}
                        <div class="row mt-2">
                            <div class="d-none d-{{ $breakpoint.prev }}-block col-{{ $breakpoint.prev }}-3 mt-auto text-right">
                                <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
                                    {{ (partial "utilities/date.html" (dict "date" .Date "format" "medium")) }}
                                </time>
                            </div>
                            <div class="col">
                                {{ if ne $year $lastYear }}
                                    <p class="text-body-secondary mt-5">{{ $year }}</p>
                                    {{ $.Scratch.Set "lastYear" $year }}
                                {{ end }}
                                <a href="{{ (path.Join .Page.RelPermalink) | relLangURL }}">{{ if .Draft }}{{ T "draft" | upper }}: {{ end }}{{ .Title | .Page.RenderString }}</a>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
            <div class="col col-{{ $breakpoint.current }}-2 d-none d-{{ $breakpoint.current }}-block"></div>
        </div>
    </div>
{{ end }}