{{ $page_modules := slice }}
{{ if reflect.IsMap .Params.modules }}
    {{ $page_modules = .Params.modules }}
{{ else }}
    {{ $page_modules = $page_modules | append .Params.modules }}
{{ end }}
{{ with .Scratch.Get "dependencies" }}{{ $page_modules = append $page_modules . | uniq }}{{ end }}

{{ $config := page.Scratch.Get "modules" }}
{{ if not $config }}
    {{ errorf "partial [footer/optional-scripts.html] - Cannot initialize module configuration" }}
{{ end }}

{{- $modules := $config.optional | intersect $page_modules  -}}
{{- range $index, $mod := $modules -}}
    {{- $filename := printf "js/%s.bundle.js" $mod -}}
    {{- $match := printf "js/modules/%s/**.js" $mod -}}
    {{- $skipTemplate := false -}}
    {{- if reflect.IsSlice $config.disableTemplate -}}
        {{- if in $config.disableTemplate $mod}}
            {{- $skipTemplate = true -}}
        {{- end -}}
    {{- end -}}

    {{ $state := "" }}
    {{- with (index $config.modules $mod) -}}
        {{- with index . "state" }}{{ $state = . }}{{ end -}}
    {{- end -}}

    {{ $localize := false }}
    {{- if reflect.IsSlice $config.localize -}}
        {{- if in $config.localize $mod}}
            {{- $localize = true -}}
        {{- end -}}
    {{- end -}}

    {{- partial "footer/scripts.html" (dict 
        "filename" $filename
        "match" $match
        "header" false
        "skipTemplate" $skipTemplate
        "state" $state
        "localize" $localize
        "page" page
    ) }}
{{- end -}}
