{{- $tab := site.Params.main.externalLinks.tab -}}
<div class="container-fluid">
    <div  class="row row-cols-1 row-cols-sm-4 bg-primary p-3 bg-opacity-{{ .Site.Params.style.themeOpacity | default "25" | safeHTML }} align-items-top">
        <div class="col col-md-2 d-none d-md-block"></div>
        <div class="col col-sm-6 col-md-4">
            <table class="table table-borderless">
                <thead>
                    <tr><th colspan="2" class="text-center table-noBG">
                       <div class="fs-3 fw-bold">{{ .Site.Params.footer.footerTitle }}</div>
                    </th></tr>
                </thead>
            {{ range .Site.Menus.footer -}}
            <tr> 
                <td class="text-end table-footer-col">{{ .Name | safeHTML }}</td>
                <td class="text-start table-footer-col">
                    <a href="{{ .PageRef | relLangURL }}" rel="noopener noreferrer" aria-label="{{ .Name | safeHTML }}" class="text-decoration-none link-secondary d-inline p-2">
                        {{ if hasPrefix .Pre "<i" }}
                            {{ .Pre | safeHTML }}
                        {{ else }}
                            {{ partial "assets/icon.html" (dict "icon" (printf "%s fa-2x" .Pre) )}}
                        {{ end }}    
                    </a>
                </td>
            </tr>
            {{ end -}}
            </table>
        </div>
        <div class="col col-sm-6 col-md-4">
            
            <table class="table table-borderless">
                <thead>
                    <tr><th colspan="2" class="text-center table-noBG">
                       <div class="fs-3 fw-bold">{{ .Site.Params.footer.socialTitle }}</div>
                    </th></tr>
                </thead>
            {{ range .Site.Menus.social -}}
            <tr> 
                <td class="text-end table-footer-col">{{ .Name | safeHTML }}</td>
                <td class="text-start table-footer-col">
                    <a href="{{ .URL }}" {{ if $tab }} target="_blank" rel="noopener noreferrer"{{ end }} aria-label="{{ .Name | safeHTML }}" class="text-decoration-none link-secondary d-inline p-2">
                        {{ if hasPrefix .Pre "<i" }}
                            {{ .Pre | safeHTML }}
                        {{ else }}
                            {{ partial "assets/icon.html" (dict "icon" (printf "%s fa-2x" .Pre) )}}
                        {{ end }}                        
                    </a>
                </td>
            </tr>
            {{ end -}}
            </table>
        </div>
        <div class="col col-md-2 d-none d-md-block"></div>
    </div>
</div>
