<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-4 bg-primary p-3 bg-opacity-{{ .Site.Params.style.themeOpacity | default "25" | safeHTML }} align-items-center">
        <div class="col col-md-2 d-none d-md-block"></div>
        <div class="col col-sm-6 col-md-4">
            <div class="fs-3 fw-bold">{{ .Site.Params.footer.socialTitle }}</div>
            <p>{{ .Site.Params.footer.socialCaption }}</p>
        </div>
        <div class="col text-sm-start text-center col-sm-6 col-md-4">
            {{ range .Site.Menus.social -}}
                <a href="{{ .URL | relLangURL }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .Name | safeHTML }}" class="text-decoration-none link-secondary d-inline p-2">
                    {{ .Pre | safeHTML }}
                </a>
            {{ end -}}
        </div>
        <div class="col col-md-2 d-none d-md-block"></div>
    </div>
</div>
