{{/* 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{/* Validate and initialize arguments */}}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "badge" "args" .Params "named" .IsNamedParams) }}
{{ if $args.err }}
    {{ partial "utilities/LogErr.html" (dict 
        "partial"  "shortcodes/badge.html" 
        "msg"      "Invalid arguments"
        "details"  $args.errmsg
        "file"     page.File
        "position" .Position
    )}}
    {{ $error = true }}
{{ end }}

{{/* Main code */}}
{{- if not $error }}
    <span class="badge text-bg-{{ $args.color }}{{ with $args.class }} {{ . }}{{ end }}">{{ $args.title | plainify }}</span>
{{ end -}}
