{{/* 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{/* Validate and initialize arguments */}}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "card-group" "child" "card" "args" .Params "named" .IsNamedParams) }}
{{ if or $args.err $args.warnmsg }}
    {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial"  "shortcodes/card-group.html" 
        "warnid"   "warn-invalid-arguments"
        "msg"      "Invalid arguments"
        "details"  ($args.errmsg | append $args.warnmsg)
        "file"     page.File
        "position" .Position
    )}}
    {{ $error = $args.err }}
{{ end }}

{{/* Initialize arguments and default values */}}
{{- $cols := .Get "cols" | default "3" -}}
{{- $gutter := .Get "gutter" | default "4" -}}
{{- $title := .Get "title" | default "" -}}
{{- $separator := .Get "separator" | default "" -}}
{{- $wrapper := .Get "wrapper" | default "" -}}
{{- $responsive := .Get "responsive" | default true -}}

{{/* Initialize arguments passed to individual cards */}}
{{- $class := .Get "class" | default "" -}}
{{- $color := .Get "color" | default "" -}}
{{- $padding := .Get "padding" | default 3 -}}
{{- $header := .Get "header-style" | default "" -}}
{{- $footer := .Get "footer-style" | default "" -}}
{{- $orientation := .Get "orientation" | default "" -}}
{{- $align := .Get "align" | default "start" -}}
{{- $style := .Get  "icon-style" | default "" -}}
{{- $subtle := .Get "subtle" | default false -}}
{{- $button := .Get "button" | default false -}}
{{- $buttonType := .Get "link-type" | default "" -}}
{{- $iconRounded := .Get "icon-rounded" | default false -}}
{{- with .Get "header" }}{{- $header = . -}}{{- end -}}
{{- with .Get "footer" }}{{- $footer = . -}}{{- end -}}
{{- with .Get "style" }}{{- $style = . -}}{{- end -}}
{{- with .Get "buttonType" }}{{- $buttonType = . -}}{{- end -}}
{{- with .Get "iconRounded" }}{{- $iconRounded = . -}}{{- end -}}
{{- $scroll := .Get "scroll" | default false -}}

{{ $inner := .Scratch.Get "inner" }}
{{ $input := trim .Inner " \r\n" }}
{{ if $input }}
    {{ $input = replace $input "\n" "\n  " }}
    {{ warnf "Unexpected inner content: %s\r\n      %s" .Position $input }}
{{ end }}

{{/* Main code */}}
{{- partial "assets/card-group.html" (dict 
    "page"         .Page
    "cards"        $inner
    "cols"         $cols
    "gutter"       $gutter
    "title"        $title
    "separator"    $separator
    "wrapper"      $wrapper
    "responsive"   $responsive
    "class"        $class
    "color"        $color
    "padding"      $padding
    "header-style" $header
    "footer-style" $footer
    "orientation"  $orientation
    "align"        $align
    "icon-style"   $style
    "subtle"       $subtle
    "button"       $button
    "link-type"    $buttonType
    "icon-rounded" $iconRounded
    "scroll"       $scroll
    "_default"     $args.default
    ) 
-}}
