{{/* 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false -}}

{{/* Initialize arguments */}}
{{- $args := partial "utilities/InitArgs.html" (dict "structure" "collapse" "args" .Params "named" .IsNamedParams "group" "shortcode") -}}
{{- if or $args.err $args.warnmsg -}}
    {{- partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial"  "shortcodes/collapse.html" 
        "warnid"   "warn-invalid-arguments"
        "msg"      "Invalid arguments"
        "details"  ($args.errmsg | append $args.warnmsg)
        "file"     page.File
        "position" .Position
    )}}
    {{ $error = $args.err -}}
{{- end -}}

{{/* Initialize local arguments */}}
{{- $body := trim .Inner " \r\n" -}}
{{ if not $body -}}
    {{ errorf "Missing inner element text: %s" .Position -}}
    {{ $error = true }}
{{ end -}}

{{/* Main code */}}
{{ if not $error }}
    <div class="collapse my-4" id="{{ $args.id }}">
        <div{{ with $args.class }} class="{{ . }}"{{ end }}>{{ $body | .Page.RenderString }}</div>
    </div>
{{ end }}