<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-4 bg-primary p-3 bg-opacity-{{ .Site.Params.style.themeOpacity | default "25" | safeHTML }} align-items-center">
        <div class="col col-md-2 d-none d-md-block"></div>
        <div class="col col-sm-6 col-md-4">
            <p class="fs-1 fw-bold">{{ .Site.Params.introTitle }}</p>
            <p>{{ .Site.Params.introCaption | safeHTML }}</p>
            {{ if .Site.Params.introLink }}
                <p><a class="btn btn-secondary" href="{{ .Site.Params.introLink | safeURL }}" role="button">{{ .Site.Params.introLinkTitle | default "About" }}</a></p>
            {{ end }}
        </div>
        <div class="col col-sm-6 col-md-4">
            {{ if .Site.Params.main.featurePhoto }}
                {{- partial "image.html" (dict "url" .Site.Params.main.featurePhoto "ratio" "4x3" "outerClass" "img-wrap" "innerClass" "rounded" "title" .Site.Params.title) -}}
            {{ end }}
        </div>
        <div class="col col-md-2 d-none d-md-block"></div>
    </div>
</div>