<div class="row row-cols-1 row-cols-sm-4 bg-primary p-5 bg-opacity-25 align-items-center">
    <div class="col col-md-2 d-none d-md-block"></div>
    <div class="col col-sm-6 col-md-4">
        <div class="fs-3 fw-bold">{{ .Site.Params.homepage.social.title }}</div>
        {{ .Site.Params.homepage.social.description }}
    </div>
    <div class="col text-sm-start text-center col-sm-6 col-md-4">
        {{ with .Site.Params.homepage.social.twitter }}
        <a href="{{.}}" target="_blank" rel="noopener" aria-label="Twitter" class="text-decoration-none link-secondary d-inline p-2">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        {{ end }}

        {{ with .Site.Params.homepage.social.linkedin }}
        <a href="{{.}}" target="_blank" rel="noopener" aria-label="LinkedIn" class="text-decoration-none link-secondary d-inline p-2">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        {{ end }}

        {{ with .Site.Params.homepage.social.github }}
        <a href="{{.}}" target="_blank" rel="noopener" aria-label="GitHub" class="text-decoration-none link-secondary d-inline p-2">
            <i class="fab fa-github fa-2x"></i>
        </a>
        {{ end }}

        {{ with .Site.Params.homepage.social.medium }}
        <a href="{{.}}" target="_blank" rel="noopener" aria-label="Medium" class="text-decoration-none link-secondary d-inline p-2">
            <i class="fab fa-medium fa-2x"></i>
        </a>
        {{ end }}

        {{ with .Site.Params.homepage.social.reddit }}
        <a href="{{.}}" target="_blank" rel="noopener" aria-label="Reddit" class="text-decoration-none link-secondary d-inline p-2">
            <i class="fab fa-reddit fa-2x"></i>
        </a>
        {{ end }}

        {{ with .Site.Params.homepage.social.dribbble }}
        <a href="{{.}}" target="_blank" rel="noopener" aria-label="Dribbble" class="text-decoration-none link-secondary d-inline p-2">
            <i class="fab fa-dribbble fa-2x"></i>
        </a>
        {{ end }}
    </div>
    <div class="col col-md-2 d-none d-md-block"></div>
</div>
