{{ define "main"}}
    <div class="d-flex flex-fill">
        <div class="container-xxl my-auto">
            <div class="text-center">
                <span class="text-secondary fw-bold">
                    {{ partial "assets/icon.html" (dict "icon" "fa face-frown fa-10x") }}
                    <p class="display-1 mt-3 fw-bold">404</p>
                    <p class="fs-3">{{ T "pageNotFoundTitle" }}</p>
                </span>
                {{- $home := printf "<a href=\"%s\">%s</a>" ("/" | relLangURL) (T "pageNotFoundHome") -}}
                <p>{{ T "pageNotFound" $home | safeHTML }}</p>
            </div>
        </div>
    </div>
{{ end }}
