{{ define "main" }}
    {{ $base := partial "utilities/GetStaticURL" (dict "url" "/") }}
    {{- $notFoundPage := partial "utilities/GetThemeIcon.html" (dict "id" "notFoundPage" "default" "fas link-slash") -}}
    <section class="container-fluid p-0 section-cover d-flex align-items-center">
        <div class="container-xxl my-auto h-100">
            <div class="col-12 col-sm-8 col-md-6 text-center mx-auto">
                <div class="text-secondary fw-bold">
                    {{ partial "assets/icon.html" (dict "page" . "icon" $notFoundPage "class" "fa-10x") }}
                    <h1 class="mt-3 mb-3 fw-bold">
                        <span class="display-1 fw-bold d-block mb-3">404</span>
                        <span class="fs-3 lh-base d-block">{{ T "pageNotFoundTitle" }}</span>
                    </h1>
                </div>
                {{- $home := printf `<a href="%s">%s</a>` $base (T "pageNotFoundHome") -}}
                <p>{{ T "pageNotFound" $home | safeHTML }}</p>
            </div>
        </div>
    </section>
{{ end }}
