{{ define "main"}}
    <div class="container-xxl flex-fill d-flex align-content-center flex-wrap">
        <div class="w-100 text-center">
            <span class="text-secondary fw-bold">
                <i class="fa-regular fa-face-frown fa-10x"></i>
                <p class="display-1 mt-3 fw-bold">404</p>
                <p class="fs-3">{{ T "pageNotFoundTitle" }}</p>
            </span>
            <p>{{ T "pageNotFound" }} <a href="{{ "/" | relLangURL }}">{{ T "pageNotFoundHome" }}</a>.</p>
        </div>
    </div>
{{ end }}
