{{/* Initialize global variables */}}
{{- $size := site.Params.style.title.size | default 4 -}}
{{- $headingStyle := site.Params.style.title.headingStyle | default "display" -}}
{{- $contentStyle := site.Params.style.title.contentStyle | default "lead text-muted" -}}
{{- $padding := partial "utilities/GetPadding.html" -}}

{{/* Initialize local variables */}}
{{- $breakpoint := $.Scratch.Get "breakpoint" -}}
{{ $title := .Title }}
{{ if and site.Params.main.titleCase (not .Page.Params.exact) }}{{ $title = title $title }}{{ end }}

{{/* Render breadcrumb */}}
{{ if .Site.Params.navigation.breadcrumb }}{{ partial "assets/breadcrumb.html" (dict "page" .) }}{{ end -}}
               
{{/* Display title and metadata */}}
{{ with $title }}<h1 id="{{ anchorize . }}" class="{{ $headingStyle }}-{{ $size }} pt-1">{{ . }}</h1>{{ end }}

{{/* Render metadata */}}
{{- partial "page/metadata.html" . -}}

{{/* Render tags */}}
{{- partial "page/tags.html" . -}}

{{/* Display social sharing buttons */}}
{{ partial "page/sharing.html" (dict "page" .) }}

{{/* Display description */}}
{{ with .Description }}
    <div class="{{ $contentStyle }} py-{{ $padding.y }}">{{ . | page.RenderString | safeHTML }}</div>
{{ end }}

{{/* Display TOC dropdown on smaller screens */}}
{{- if and .Site.Params.navigation.toc .Params.includeToc | default true -}}
    <div class="d-{{ $breakpoint.current }}-none pb-5">{{ partial "assets/toc-dropdown.html" (dict "page" .) }}</div>
{{- end -}}
