{{- define "featured" -}}
    {{- partial "home/featured.html" . -}}
{{- end -}}

{{- define "main" -}}
    {{- $page := . -}}

    {{- range $index, $section := site.Params.home.sections -}}
        {{- $sectionPage := site.GetPage "section" $section -}}
        {{- $sectionURL := $sectionPage.RelPermalink -}}
        {{- $title := $sectionPage.Title -}}
        {{- $thumbnail := $sectionPage.Params.Thumbnail -}}
        {{- $icon := $sectionPage.Params.Icon -}}
        {{- $description := $sectionPage.Description -}}
        {{- $content := $sectionPage.Content -}}

        {{- $moreTitle := (T (printf "more%s" (strings.FirstUpper $section))) -}}

        {{- partial "assets/section-list.html" (dict 
            "page" $page 
            "section" $section 
            "home" true 
            "nested" true 
            "thumbnail" $thumbnail
            "icon" $icon
            "content" $content
            "moreTitle" $moreTitle
            "sectionURL" $sectionURL)
        -}}
    {{- end -}}
{{- end -}}