{{- define "featured" -}}
    {{- partial "home/featured.html" . -}}
{{- end -}}

{{- define "main" -}}
    {{- $page := . -}}

    {{- range $index, $section := or site.Params.home.sections site.Sections -}}
        {{- $sectionPage := site.GetPage "section" $section -}}
        {{- $sectionURL := $sectionPage.RelPermalink -}}
        {{- $title := $sectionPage.Title -}}
        {{- $thumbnail := (or (and (reflect.IsMap $sectionPage.Params.Thumbnail) $sectionPage.Params.Thumbnail.url) $sectionPage.Params.Thumbnail) -}}
        {{- $icon := $sectionPage.Params.Icon -}}
        {{- $content := $sectionPage.Content -}}

        {{- $sectionTitle := strings.FirstUpper $section -}}
        {{- $moreTitle := or (T (printf "more%s" $sectionTitle)) (printf (T "more" $sectionTitle)) -}}

        {{- partial "assets/section-list.html" (dict 
            "page" $page 
            "section" $section 
            "home" true 
            "nested" true 
            "thumbnail" $thumbnail
            "icon" $icon
            "content" $content
            "moreTitle" $moreTitle
            "sectionURL" $sectionURL)
        -}}
    {{- end -}}
{{- end -}}