{{ define "main" -}}
    {{- $breakpoint := partialCached "utilities/GetBreakpoint.html" site -}}
    {{- $padding := partial "utilities/GetPadding.html" -}}
    {{- $content := .Content }}

    <!-- Render the defined content blocks, using the default articles element as fallback -->
    {{ if .Params.content_blocks }}
        {{- partial "page/blocks.html" . -}}
    {{ else }}
        {{ with partial "page/articles.html" . }}
            <div class="container-xxl {{ partial "utilities/PaddingClasses.html" (dict "padding" $padding "axis" "y") }} px-xxl-0 {{ partial "utilities/PaddingClasses.html" (dict "padding" $padding "axis" "x") }} py-0 my-auto h-100">
                {{ . | safeHTML }}
            </div>
        {{ end }}
    {{ end }}

    <!-- Render the list page content as full width, if any -->
    {{ with $content }}
        <div class="container-xxl flex-fill {{ partial "utilities/PaddingClasses.html" (dict "padding" $padding "axis" "y") }} {{ partial "utilities/PaddingClasses.html" (dict "padding" $padding "axis" "x") }} px-xxl-0">
            {{ . }}
        </div>
    {{ end }}
{{ end -}}
