{{ define "main" -}}
    {{- $breakpoint := $.Scratch.Get "breakpoint" -}}
    {{- $content := partial "utilities/ProcessContent" (dict "page" .Page "raw" .RawContent) }}
    {{- $padding := partial "utilities/GetPadding.html" -}}

    {{ with .Params.content_blocks }}
        {{ partial "bookshop_bindings" `.Params.content_blocks` | safeHTML }}
        {{ partial "bookshop_partial" (slice "page" .) | safeHTML }}
    {{ else }}
        {{ partial "page/articles.html" . }}
    {{ end }}

    {{ with $content }}
        <div class="container-xxl flex-fill py-{{ $padding.y }} px-{{ $padding.x }} px-xxl-0">
            {{ . }}
        </div>
    {{ end }}
{{ end -}}
