{{- $match := .match -}}
{{- $filename := .filename -}}
{{- if not (or $match $filename) -}}
    {{- errorf "partial [assets/bundle.html] - Expected match and filename" -}}
{{- end -}}

{{- $order := .order | default "asc"}}
{{- $supportedOrder := slice "asc" "desc" -}}
{{- if not (in $supportedOrder $order) -}}
    {{- errorf "partial [assets/bundle.html] - Invalid value for param 'order': %s" $order -}}
{{- end -}}

{{- $modules := .modules -}}
{{- $all := .all }}
{{- $basepath := strings.TrimSuffix "/" .basepath -}}
{{- $ext := trim (path.Ext (trim $match "{}")) "." -}}
{{- if not $ext -}}
    {{- errorf "partial [assets/bundle.html] - Cannot derive file extension of match pattern: %s" $match -}}
{{- end -}}

{{- $debugging := .debugging | default false -}}

{{- if $modules -}}
    {{- $match = trim $match "{}" -}}
    {{- $matches := slice $match -}}
    {{- range $index, $mod := $modules -}}
        {{- if $all }}
            {{- $matches = $matches | append (printf "%s/%s/**.%s" $basepath $mod $ext) -}}
        {{- else -}}
            {{- $matches = $matches | append (printf "%s/%s.%s" $basepath $mod $ext) -}}
        {{- end -}}
    {{- end -}}
    {{- $match = printf "{%s}" (delimit $matches ",") }}
{{- end -}}

<!-- TODO: concat by module, then sorted by filename -->

{{ $matches := resources.Match $match }}
{{ $files := slice }}
{{ range $index, $file := $matches }}
    {{ $add := (dict "name" (strings.TrimSuffix (printf ".%s" $ext) $file.Name) "resource" $file ) }}
    {{ $files = $files | append $add }}
{{ end }}

{{ $sorted := slice }}
{{ $files = sort $files "name" }}
{{- range $index, $file := $files -}}
    {{ $sorted = $sorted | append $file.resource }}
{{- end -}}

{{- if $debugging -}}
    {{ warnf "Processing pattern: %s" $match}}
    {{- range $index, $file := $sorted -}}
        {{- warnf " - Processing file: %s" $file }}
    {{- end -}}
{{- end -}}

{{/* warnf "FILES: %s" $sorted */}}

{{ $bundle := "" }}
{{ if gt (len $sorted) 0 }}
    {{ $bundle = $sorted | resources.Concat $filename -}}
{{ else }}
    {{ $bundle = resources.FromString $filename "" }}
{{ end -}}

{{- return $bundle -}}