<!-- 
    Retrieve the value from a given argument within the shortcode context. If a parent is set and merge is false, the
    value of the parent's argument is retrieved when the current context is unavailable. If merge is true, the parent's
    value is merged with the value of the shortcode context, separated by a single space.
-->

{{ $page := .page -}}
{{ $arg := .arg -}}
{{ $merge := .merge -}}
{{ $val := "" }}
{{ with $page.Get $arg }}{{ $val = . }}{{ end }}

{{- with $page.Parent -}}
    {{ with .Get $arg }}
        {{ if $merge }}
            {{ $val = trim (printf "%s %s" . $val) " " }}
        {{ else if not $val }}
            {{ $val = . }}
        {{ end }}
    {{ end }}
{{- end -}}

{{- return $val -}}