{{- /* Define main breakpoint */ -}}
{{ $prev := 0 }}
{{ $next := 0 }}
{{ $result := dict }}
{{- $breakpoints := slice "xs" "sm" "md" "lg" "xl" "xxl" }}
{{- $breakpoint := site.Params.main.breakpoint | default "md" -}}
{{- if not (in $breakpoints $breakpoint) -}}
    {{- errorf "layout [_default/baseof.html] - Invalid value for param 'breakpoint': %s" $breakpoint -}}
{{ else }}
    {{ range $index, $item := $breakpoints }}
        {{ if eq $item $breakpoint }}
            {{ $prev = sub $index 1 }}
            {{ $next = add $index 1 }}
        {{ end }}
    {{ end }}
    {{ if lt $prev 0 }}{{ $prev = 0 }}{{ end }}
    {{ if ge $next (len $breakpoints) }}{{ $next = sub (len $breakpoints) 1 }}{{ end }}
    {{ $result = dict "prev" (index $breakpoints $prev) "current" $breakpoint "next" (index $breakpoints $next) }}
{{- end -}}

{{ return $result }}