{{- $page := .page -}}
{{- $version := .version -}}
{{- $sidebarFilename := "" -}}

{{- $menu := "" -}}
{{- if $page.IsPage -}}
    {{- $sidebarFilename = printf "%s-%s" $page.Section $version -}}
    {{- $menu = index site.Data $sidebarFilename -}}
    {{ if not $menu }}
        {{- $sidebarFilename = $page.Section -}}
        {{ $menu = index site.Data $sidebarFilename }}
    {{ end }}
{{- end -}}

{{ if $menu }}{{ with $sidebarFilename }}{{ $page.Scratch.Set "sidebarFilename" (path.Join "data" .) }}{{ end }}{{ end -}}

{{- return $menu -}}