{{- $ref := "" -}}
{{- $anchor := "" -}}

{{ $url := .url }}
{{ if not $url }}
    {{- errorf "partial [utilities/GetPage.html] - Expected param 'url'" -}}
{{ end }}

{{ $page := .page }}
{{ if not $page }}
    {{- errorf "partial [utilities/GetPage.html] - Expected param 'page'" -}}
{{ end }}

{{- $isExternal := ne (urls.Parse (absURL $url)).Host (urls.Parse site.BaseURL).Host -}}
{{- if not $isExternal -}}
    {{- $ref = $page.GetPage $url -}}
    {{ if not $ref }}
        {{ $ref = (index (where $page.Site.AllPages "RelPermalink" (printf "%s/" (strings.TrimSuffix "/" $url))) 0)}} 
    {{ end }}

    {{- if not $ref }}
        {{- $segments := split $url "/" -}}
        {{- if and (hasPrefix $url "/")  (gt (len $segments) 1) -}}
            {{- $prefix := index $segments 1 -}}
            {{ with index (where site.Sites "Language.Lang" $prefix) 0 }}
                {{- $path := printf "/%s" (strings.TrimPrefix (printf "/%s/" $prefix) $url) }}
                {{- $ref = .GetPage $path -}}
            {{ end }}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{ return $ref }}