<!-- 
    Retrieve the docs version label of the current page. The path of the page's file is matched with the url of the
    defined docs releases in the site's parameters. When no match is found it returns the latest label instead.
-->

{{- $page := .page -}}
{{- $base := .base -}}
{{- $version := "" -}}

{{- if and site.Params.docs.releases site.Params.docs.contentPath -}}
    {{- $docsPath := strings.TrimPrefix "/" site.Params.docs.contentPath -}}
    {{- if and $page.File (strings.HasPrefix $page.File.Dir $docsPath) -}}
        {{- $currentPath := strings.TrimPrefix $docsPath $page.File.Dir -}}
        {{- $currentVersion := index (split $currentPath "/") 0 -}}
        {{- $versionPath := path.Join site.Params.docs.contentPath $currentVersion -}}

        {{- $list := site.Params.docs.releases -}}
        {{- range $index, $item := $list -}}
            {{- $url := strings.TrimSuffix "/" $item.url -}}
            {{- if eq $url $versionPath -}}
                {{- if $base }}{{ $version = path.Base $item.url }}{{ else }}{{ $version = $item.label }}{{ end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- if not $version -}}
        {{- $list := site.Params.docs.releases -}}
        {{- range $item := $list -}}
            {{- if $item.latest -}}
                {{- if $base }}{{ $version = path.Base $item.url }}{{ else }}{{ $version = $item.label }}{{ end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- else -}}
    {{- $version = site.Params.docs.version -}}
{{- end -}}

{{- return $version -}}