{{ $critical := slice }}
{{ $core := slice }}
{{ $optional := slice }}
{{ $excludeSCSS := slice }}
{{ $disableTemplate := slice }}
{{ $localize := slice }}
{{ $category := dict }}
{{ $modules := dict }}

{{ range $key, $mod := .Site.Params.modules }}
    {{ if reflect.IsMap $mod }}
        {{ $integration := index $mod "integration" }}
        {{ if eq $integration "critical" }}
            {{ $critical = $critical | append $key }}
        {{ else if eq $integration "core" }}
            {{ $core = $core | append $key }}
        {{ else if eq $integration "optional" }}
            {{ $optional = $optional | append $key }}
        {{ else if $integration }}
            {{ warnf "Unrecognized module integration setting: %s" $integration }}
        {{ end }}
        
        {{ if eq (index $mod "excludeSCSS") true }}
            {{ $excludeSCSS = $excludeSCSS | append $key }}
        {{ end }}

        {{ if eq (index $mod "disableTemplate") true }}
            {{ $disableTemplate = $disableTemplate | append $key }}
        {{ end }}

        {{ if eq (index $mod "localize") true }}
            {{ $localize = $localize | append $key }}
        {{ end }}

        {{ $categoryKey := "other" }}
        {{ with (index $mod "category") }}{{ $categoryKey = . }}{{ end }}
        {{ $cat := index $category $categoryKey | default slice }}
        {{ $cat = $cat | append $key}}
        {{ $category = merge $category (dict $categoryKey $cat) }}

        {{ $modules = merge $modules (dict $key $mod) }}
    {{ else }}
        {{ warnf "Unsupported module parameter: %s" $key }}
    {{ end }}
{{ end }}

{{ $modules := dict 
    "modules" $modules
    "critical" $critical
    "core" $core
    "optional" $optional
    "excludeSCSS" $excludeSCSS
    "disableTemplate" $disableTemplate
    "localize" $localize
    "categories" $category
}}

{{- if and .IsPage (not (in $core "bootstrap")) -}}
    {{- errorf "Bootstrap is a required module, please add it to 'modules.core' in your site parameters" -}}
{{- end -}}

{{ return $modules }}