<!-- 
    Copyright © 2023 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

{{ $aliases := dict "path" "string" "select" "string" "url" "string" }}

{{ $structure := .structure }}
{{ if not $structure }}
    {{- errorf "partial [utilities/ValidateArgs.html] - Missing value for param 'structure'" -}}
    {{ $error =  true }}
{{ end }}

{{ $args := .args | default slice }}

{{ $definitions := (index site.Data.structures $structure).arguments }}
{{ if not $definitions }}
    {{- errorf "partial [utilities/ValidateArgs.html] - Missing definitions: %s" $structure -}}
    {{ $error =  true }}
{{ end }}

{{ $namedArgs := true }}

{{ if not $error }}
    {{ range $key, $val := $args }}
        {{ $def := "" }}
        {{ if eq (printf "%T" $key) "string" }}
            {{ $def = index $definitions $key }}
        {{ else }}
            {{ $namedArgs = false }}
            {{ range $d := $definitions }}
                {{ if eq $d.position $key }}{{ $def = $d }}{{ end }}
            {{ end }}
        {{ end }}

        {{ if not $def }}
            {{ if eq (printf "%T" $key) "string" }}
                {{ warnf "[%s] unsupported argument '%s'" $structure $key }}
            {{ else if eq (printf "%T" $key) "int" }}
                {{ warnf "[%s] unsupported argument at index %d (value: '%s')" $structure $key $val }}
            {{ else }}
                {{ warnf "[%s] unsupported argument value '%s'" $structure $val }}
            {{ end }}
            {{ $error = true }}
        {{ else }}
            {{ if and (not $val) $def.default }}{{ $val = $def.default }}{{ end }}

            {{/* validate type */}}
            {{ $expected := slice | append $def.type }}
            {{ $extra := slice }}
            {{ range $expected }}
                {{ $alias := index $aliases . }}
                {{ if $alias }}{{ $extra = $extra | append $alias }}{{ end }}
            {{ end }}
            {{ if $extra }}{{ $expected = $expected | append $extra }}{{ end }}
            {{ $actual := printf "%T" $val }}

            {{/* cast supported types from string */}}
            {{ if and (in $expected "bool") (in (slice "true" "false") $val) }}
                {{ $actual = "bool" }}
            {{ else if and (in $expected "int") (findRE `^-?\d+$` $val) }}
                {{ $actual = "int" }}
            {{ else if and (in $expected "float") (findRE `^(?:[1-9]\d*|0)?(?:\.\d+)?$` $val) }}
                {{ $actual = "float" }}
            {{ end }}

            {{ if $val }}
                {{ if not (in $expected $actual ) }}
                    {{ warnf "[%s] argument '%s': expected type '%s', got '%s'" $structure $key (delimit $expected ", ") $actual }}
                    {{ $error = true }}
                {{ end }}
            {{ end }}

            {{/* validate permitted values */}}
            {{ if and $def.options.values (eq $actual "select") }}
                {{ if and (not $def.optional) (not (in $def.options.values $val)) }}
                    {{ warnf "[%s] argument '%s': unexpected value '%s'" $structure $key $val }}
                    {{ $error = true }}
                {{ end }}
            {{ else if and $def.options.min (in (slice "int" "float" "float64") $actual) }}
                {{ if lt $val $def.options.min }}
                    {{ warnf "[%s] argument '%s': value '%s' out of range [$d, $d]" $structure $key $val $def.options.min $def.options.max}}
                    {{ $error = true }}
                {{ end }}
            {{ else if and $def.options.max (in (slice "int" "float" "float64") $actual) }}
                {{ if (gt $val $def.options.max) }}
                    {{ warnf "[%s] argument '%s': value '%s' out of range [$d, $d]" $structure $key $val $def.options.min $def.options.max}}
                    {{ $error = true }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
    
    {{/* validate required arguments */}}
    {{ $max := len $args }}
    {{ $expected := 0 }}
    {{ range $key, $val := $definitions }}
        {{ if not $val.optional }}
            {{ if $namedArgs }}
                {{ if not (isset $args $key )}}
                    {{ warnf "[%s] argument '%s': expected value" $structure $key }}
                    {{ $error = true }}
                {{ end }}
            {{ else }}
                {{ $expected = add $expected 1 }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ if lt $max $expected }}
        {{ warnf "[%s] expected '%d' args, got '%d'" $structure $expected $max }}
        {{ $error = true }}
    {{ end }}
{{ end }}

{{ return $error }}