{{ $destination := .destination }}
{{- if not $destination -}}
    {{- errorf "partial [utilities/link.html] - Missing param 'destination'" -}}
{{- end -}}

{{- $error := false -}}
{{- $target := "" -}}
{{- $rel := "" -}}
{{- $case := .case | default true }}
{{- $cue := .cue | default site.Params.main.externalLinks.cue -}}
{{- $tab := .tab | default site.Params.main.externalLinks.tab -}}
{{- $isExternal := ne (urls.Parse (absURL $destination)).Host (urls.Parse site.BaseURL).Host -}}
{{- $page := .page -}}
{{- $anchor := "" -}}
{{- $text := .text -}}
{{- $class := .class -}}

{{- if $isExternal -}}
    {{- if not $text -}}
        {{- $text = (urls.Parse (absURL $destination)).Host -}}
    {{- end -}}

    {{- if $tab -}}
        {{- $target = "_blank" -}}
        {{- $rel = "noopener noreferrer" -}}
    {{- end -}}

    {{- if $cue -}}
        {{ $suffix := partial "assets/icon.html" (dict "icon" "fas up-right-from-square fa-2xs") }}
        {{- $text = printf "%s&nbsp;%s" $text $suffix | safeHTML -}}
    {{- end -}}
{{- else -}}
    {{- if strings.Contains $destination "#" }}
        {{ $segments := split $destination "#" }}
        {{- if ne (len $segments) 2 }}
            {{- errorf "partial [utilities/link.html] - Malformed path, expected one anchor '#' only: %s" $destination -}}
        {{ else }}
            {{- $destination = index $segments 0 -}}            
            {{- $anchor = index $segments 1 -}}            
        {{ end }}
    {{ end }}
    {{- $destination = strings.TrimSuffix "/" $destination -}}
    {{- $ref := $page.GetPage $destination -}}

    {{- if not $ref }}
        {{- $segments := split $destination "/" -}}
        {{- if and (hasPrefix $destination "/")  (gt (len $segments) 1) -}}
            {{- $prefix := index $segments 1 -}}
            {{- $page := .Page -}}
            {{ with index (where site.Sites "Language.Lang" $prefix) 0 }}
                {{- $path := printf "/%s" (strings.TrimPrefix (printf "/%s/" $prefix) $destination) }}
                {{- $ref = .GetPage $path -}}
            {{ end }}
        {{- end -}}
    {{- end -}}

    {{- if not $ref -}}
        {{- errorf "partial [utilities/link.html] - Cannot find page: %s" $destination -}}
        {{- $error = true -}}
    {{- else -}}
        {{- $destination = $ref.RelPermalink -}}
        {{- with $anchor }}{{ $destination = printf "%s#%s" (strings.TrimSuffix "/" $destination) . -}}{{ end -}}
        {{- if not $text -}}
            {{- if $anchor -}}
                {{- $text = $anchor -}}
            {{- else -}}
                {{- $text = $ref.LinkTitle -}}
            {{- end -}}
        {{ end -}}
        {{- if not $case }}{{ $text = lower $text }}{{ end -}}
    {{- end -}}
{{- end -}}

{{ if not $error -}}
    <a {{ with $class }}class="{{ . }}" {{ end }}href="{{ $destination | safeURL }}"{{ with $target }} target="{{ . }}"{{ end }}{{ with $rel }} rel="{{ . }}"{{ end }}>{{ $text }}</a>
{{- end }}