{{/* 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{ define "_partials/inline/args-table.html"}}
    {{ $args := .args }}
    {{ $types := .types }}
    {{ $page := .page }}
    {{ $group := .group | default "" }}
    {{ $parent := .parent }}
    {{ $reflect := "" }}
    
    {{ $table := printf "| %s | %s | %s | %s | %s |\n| --- | --- | --- | --- | --- |" 
        (T "name") (T "type") (T "required") (T "default") (T "comment") 
    }}

    {{ range $key, $val := $args }}
        {{ if eq $key "_reflect" }}
            {{ $reflect = $val }}
            {{ continue }}
        {{ end }}
        {{ $skip := false }}
        {{ $groups := slice }}
        {{ if $val }} {{ $groups = $groups | append $val.group }}{{ end }}
        {{ if and $group $val.group }}
            {{ $skip = not (in $groups $group )}}
        {{ end }}
        {{ if $parent }}{{ $skip = not (in (slice "cascade" "merge") $val.parent) }}{{ end }}
    
        {{ if not $skip }}
            {{ $type := $val.type }}
            {{ $udt := false }}
            {{ $slice := false }}
            {{ if reflect.IsSlice $val.type }}{{ $type = delimit $val.type ", " }}{{ end }}
            {{ with index $types $val.type }}
                {{ $udt = true }}
                {{ $slice = eq ._reflect "[]interface {}" }}
            {{ end }}
            {{ $required := "" }}
            {{ if not $val.optional }}{{ $required = "yes" }}{{ end }}

            {{ $comment := $val.comment }}
            {{ if $val.deprecated }}
                {{ $btn := printf `{{< release version="%s" short="true" button-size="xs" inline="true" release-state="deprecated" >}}` $val.deprecated }}
                {{ with $val.alternative }}
                    {{ $comment = printf "%s **%s**. %s" $btn (T "alternativeFeature" .) $comment }}
                {{ else }}
                    {{ $comment = printf "%s %s" $btn $comment }}
                {{ end }}
            {{ end }}
            {{ if $val.release }}
                {{ $comment = printf `{{< release version="%s" short="true" button-size="xs" inline="true" >}} %s` $val.release $comment }}
            {{ end }}

            {{ $min := "" }}
            {{ $max := "" }}
            {{ if and $val.options.values (eq $type "select") }}
                {{ $comment = printf "%s %s: [`%s`]." $comment (T "supportedValues") (delimit $val.options.values "`, `") }}
            {{ else if in (slice "int" "float" "float64") $type }}
                {{ if eq (printf "%T" $val.options.min) "int" }}{{ $min = int $val.options.min }}{{ end }}
                {{ if eq (printf "%T" $val.options.max) "int" }}{{ $max = int $val.options.max }}{{ end }}
            {{ end }}
            {{ if and (eq (printf "%T" $min) "int") (eq (printf "%T" $max) "int") }}
                {{ $comment = printf "%s %s: [`%d - %d`]." $comment (T "supportedValues") $min $max }}
            {{ else if (eq (printf "%T" $min) "int") }}
                {{ $comment = printf "%s %s: `>=%d`." $comment (T "supportedValues") $min }}
            {{ else if (eq (printf "%T" $max) "int") }}
                {{ $comment = printf "%s %s: `<=%d`." $comment (T "supportedValues") $max }}
            {{ end }}

            {{ $default := "" }}
            {{ with $val.default }}{{ $default = printf "`%v`" . }}{{ end }}
            {{ if $udt }}{{ $type = printf "[%s](#%s)" $type (anchorize (printf "%s %s" $type (T "type"))) }}{{ end }}
            {{ if $slice }}{{ $type = printf "[]%s" $type }}{{ end }}
            {{ $table = printf "%s\n| %s | %s | %s | %s | %s |" $table $key $type $required $default $comment }}
        {{ end }}
    {{ end }}

    {{ return partial "assets/table.html" (dict "page" $page "input" $table "wrap" true) }}
{{ end }}

{{/* Initialize arguments */}}
{{- $args := partial "utilities/InitArgs.html" (dict "structure" "args" "args" . "group" "partial") -}}
{{- if or $args.err $args.warnmsg -}}
    {{- partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial" "assets/args.html" 
        "warnid"  "warn-invalid-arguments"
        "msg"     "Invalid arguments"
        "details" ($args.errmsg | append $args.warnmsg)
        "file"    page.File
    ) -}}
    {{- $error = $args.err -}}
{{- end -}}

{{/* Initialize type structure */}}
{{ $structure := $args.structure }}
{{ $bookshop := "" }}
{{ if hasPrefix $structure "bookshop-" }}{{ $bookshop = strings.TrimPrefix "bookshop-" $structure }}{{ $structure = "" }}{{ end }}
{{ $types := dict }}
{{ if not $error }}
    {{ $types = partial "utilities/InitTypes.html" (dict "structure" $structure "bookshop" $bookshop) }}
    {{ if or $types.err $types.warnmsg }}
        {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
            "partial" "assets/args.html"
            "warnid"  "warn-invalid-arguments"
            "msg"     "Invalid arguments"
            "details" ($types.errmsg | append $types.warnmsg)
            "file"    page.File
        )}}
        {{ $error = $args.err }}
    {{ end }}
{{ end }}

{{/* Main code */}}
{{ if not $error }}
    {{ $params := dict "types" $types.udt "page" $args.page "group" $args.group "parent" $args.parent }}
    {{ if in (slice "arguments" "both") $args.renderType }}
        {{ partial "inline/args-table.html" (merge $params (dict "args" $types.types)) }}
    {{ end }}

    {{ if in (slice "types" "both") $args.renderType }}
        {{ $prefix := strings.Repeat $args.headerLevel "#" }}
        {{ range $k, $v := $types.udt }}
            {{ $title := $k }}
            {{ if site.Params.main.titleCase }}{{ $title = title $title }}{{ end }}
            {{ printf "%s %s %s" $prefix $title (T "type") | $args.page.RenderString }}
            {{ partial "inline/args-table.html" (merge $params (dict "args" $v)) }}
        {{ end }}
    {{ end }}
{{ end }}