{{/* 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{- define "_partials/inline/card-icons.html" -}}
    {{ $links := .links }}
    
    <span class="text-body-secondary">
        {{- range $index, $item := $links -}}
            {{ partial "assets/button.html" (dict 
                "href"      $item.url
                "icon"      (printf "%s fa-fw" $item.icon)
                "class"     "btn-social p-0"
                "label"     $item.title
                "spacing"   false
            ) }}
        {{- end -}}
    </span>
{{- end -}}

{{/* Inline partial to render the card's body */}}
{{- define "_partials/inline/card-body.html" -}}
    {{- $title := .title -}}
    {{- $href := .href -}}
    {{- $color := .color -}}
    {{- $description := .description -}}
    {{- $links := .links -}}
    
    {{- if $href -}}
        <a href="{{ $href }}" class="{{ if $color }}link-bg-{{ $color }}{{ else }}card-body-link{{ end }} stretched-link">
            {{ if or $title $links }}
                <p class="card-title fs-lg-5 fs-6">
                    {{- with $title }}{{ . }}{{ end }}
                    {{ with $links }}{{ partial "inline/card-icons.html" (dict "links" .) }}{{ end -}}
                </p>
            {{ end -}}
            {{ with $description }}
                <div class="card-text {{ if $color }}link-bg-{{ $color }}{{ else }}card-body-link{{ end }}">
                {{ . | safeHTML }}
                </div>
            {{ end -}}
        </a>
    {{- else -}}
        <div>
            {{ if or $title $links }}
                <p class="card-title fs-lg-5 fs-6">
                    {{- with $title }}{{ . }}{{ end }}
                    {{ with $links }}{{ partial "inline/card-icons.html" (dict "links" .) }}{{ end -}}
                </p>
            {{ end -}}
            {{ with $description }}<div class="card-text">{{ . | safeHTML }}</div>{{ end -}}
        </div>
    {{- end -}}
{{- end -}}

{{/* Inline partial to render the card's header or footer */}}
{{- define "_partials/inline/card-caption.html" -}}
    {{- $page := .page -}}
    {{- $keywords := .keywords -}}
    {{- $color := .color -}}
    {{- $maxTags := 0 -}}
    {{- $caption := "" -}}

    {{- if eq $keywords "full" }}{{ $maxTags = 1 -}}
    {{- else if eq $keywords "tags" }}{{ $maxTags = 3 }}{{ end -}}

    <p class="card-text"><small class="{{ if $color }}text-bg-{{ $color }}{{ else }}text-body-secondary{{ end }} text-uppercase">
        {{- if in (slice "full" "publication") $keywords -}}
            {{ with $page.Date }}{{ partial "utilities/date.html" (dict "date" . "format" "long") }}&nbsp;&bull;&nbsp;{{ end -}}
            {{ $page.ReadingTime | lang.FormatNumber 0 }} {{ i18n "minutesShort" }} {{ i18n "read" -}}
        {{- end -}}

        {{- if eq $keywords "full" -}}
            {{ if gt (len ($page.GetTerms "tags")) 0 }}&nbsp;&bull;&nbsp;{{ end -}}
        {{- end -}}

        {{- $link := "text-decoration-none link-primary" -}}
        {{- if $color }}{{ $link = printf "link-bg-%s" $color }}{{ end -}}

        {{- range $index, $tag := first $maxTags ($page.GetTerms "tags") -}}
            {{- if gt $index 0 }}&nbsp;&bull;&nbsp;{{ end -}}
            <a href="{{ $tag.Page.RelPermalink }}" class="{{ $link }} tag-link" aria-label="tag: {{ $tag.LinkTitle }}">{{ $tag.LinkTitle }}</a>
        {{- end -}}
    </small></p>
{{- end -}}

{{/* Inline partial to render the card's icon */}}
{{- define "_partials/inline/card-icon.html" -}}
    {{ $padding := .padding }}
    {{ $icon := .icon}}
    {{ $rounded := .rounded }}
    {{ $style := .style}}
    {{ $stack := .stack }}
    {{ $class := .class }}

    <div class="card-icon{{ with $padding }} p-{{ . }}{{ end }}{{ if $rounded }} fa-stack {{ $style }} fa-fw {{ $stack }}{{ end }} {{ $class }}">
        {{ if $rounded }}
            {{- partial "assets/icon.html" (dict "icon" (printf "fas circle fa-stack-2x") "spacing" false) -}}
            {{- partial "assets/icon.html" (dict "icon" (printf "%s fa-stack-1x fa-inverse" $icon) "spacing" false) -}}
        {{ else }}
            {{- partial "assets/icon.html" (dict "icon" (printf "%s %s fa-fw" $icon $style) "spacing" false) -}}
        {{ end }}
    </div>
{{- end -}}


{{/* Initialize global variables */}}
{{- $padding := partial "utilities/GetPadding.html" -}}

{{/* Initialize local arguments */}}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "card" "args" . "group" "partial") }}
{{ if or $args.err $args.warnmsg }}
    {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial" "assets/card.html" 
        "warnid"  "warn-invalid-arguments"
        "msg"     "Invalid arguments"
        "details" ($args.errmsg | append $args.warnmsg)
        "file"    page.File
    )}}
    {{ $error = $args.err }}
{{ end }}

{{/* Initialize arguments and default values */}}
{{- $colorStyle := "" -}}
{{ if $args.color }}
    {{ if $args.subtle }}
        {{- $colorStyle = printf "bg-%s-subtle text-%s-emphasis" $args.color $args.color -}}
    {{ else }}
        {{- $colorStyle = printf "bg-%s text-bg-%s" $args.color $args.color -}}
    {{ end }}
{{ end }}

{{/* Override arguments */}}
{{- $page := "" }}
{{- if $args.path }}
    {{ $page = partial "utilities/GetPage.html" (dict "url" $args.path "page" page) }}
    {{ $validate := site.Params.main.internalLinks.validate | default true }}
    {{- if and $validate (not $page) }}
        {{ if page.File }}
            {{- warnf "partial [assets/card.html] - Cannot find target page '%s', see '%s'" $args.path page.File.Path -}}
        {{ else }}
            {{- warnf "partial [assets/card.html] - Cannot find target page '%s'" $args.path -}}
        {{ end }}
    {{- end }}
{{- end }}

{{- $title := $args.title -}}
{{- $href := $args.href -}}
{{- $description := $args.description -}}
{{- $thumbnail := $args.thumbnail  -}}
{{- $ratio := $args.ratio -}}
{{- $icon := $args.icon -}}
{{- $iconStyle := "" -}}
{{- $anchor := $args.anchor }}

{{- with $page -}}
    {{- if not $args.title }}{{ $title = .Title }}{{ end -}}
    {{- if not $args.href }}{{ $href = .RelPermalink  }}{{ end -}}
    {{- if not $args.description }}{{ $description = partial "utilities/GetDescription.html" (dict "page" .) }}{{ end -}}
    {{- if and (not $args.thumbnail) (not $args.icon) }}
        {{ if reflect.IsMap .Params.Thumbnail }}{{ $thumbnail = .Params.Thumbnail.url }}{{ else }}{{ $thumbnail = .Params.Thumbnail }}{{ end }}
    {{ end -}}
    {{ if not $args.ratio }}
        {{- if and (reflect.IsMap .Params.Thumbnail) .Params.Thumbnail.ratio }}{{ $ratio = .Params.Thumbnail.ratio }}{{ end -}}
    {{ end }}
    {{- if not $args.icon }}{{ $icon = .Params.icon }}{{ end -}}
    {{- if not $args.anchor }}{{ $anchor = (or (and (reflect.IsMap .Params.Thumbnail) .Params.Thumbnail.anchor) "") }}{{ end -}}
{{- end -}}

{{- $style := $args.iconStyle }}
{{ if (hasPrefix $args.orientation "horizontal") }}
    {{ if not $args.iconStyle }}{{ $style = "fa-fluid fa-fw" }}{{ end }}
{{ else }}
    {{ if not $args.iconStyle }}{{ $style = "fa-4x" }}{{ end }}
    {{- $iconStyle = "pb-3" -}}
{{ end }}

{{- if eq $args.orientation "none" }}{{ $thumbnail = "" }}{{ $icon = "" }}{{ end -}}
{{- if eq $args.body "title" }}{{ $description = "" }}{{ end -}}
{{- if eq $args.body "none" }}{{ $title = "" }}{{ $description = "" }}{{ end -}}
{{ if site.Params.main.titleCase }}{{ $title = title $title }}{{ end }}

{{- $thumbnailArgs := dict
    "src"      $thumbnail
    "portrait" $args.portrait
    "anchor"   $anchor
    "sizes"    $args.sizes
    "title"    (or $args.alt $title)
    "loading"  $args.loading
-}}

{{/* Main code */}}
{{ if or (gt $args.gutter "0") ($args.wrapper) }}<div class="{{ with $args.gutter }}g-{{ . }}{{ end }} {{ $args.wrapper }}">{{ end }}

{{ $stack := "" }}

{{- if hasPrefix $args.orientation "horizontal" -}}
    {{ $col1 := "" }}
    {{ $col2 := "" }}

    {{ if $thumbnail }}
        {{ if eq $args.orientation "horizontal-sm" }}
            {{ $stack = "fa-1x" }}
            {{ $col1 = "col-4 col-md-2 pe-0" }}
            {{ $col2 = "col-8 col-md-10" }}
        {{ else }}
            {{ $col1 = "col-4 pe-0" }}
            {{ $col2 = "col-8" }}
        {{ end }}
    {{ end }}

    {{/* Render horizontal card */}}
    <div class="card {{ $colorStyle }}{{ $args.class }}">
        <div class="{{ if $thumbnail }}row-cols-2 row {{ end }} g-0 h-100{{ if $args.button }} pb-{{ $padding.y }}{{ end }}">
            {{- if $thumbnail -}}
                <div class="{{ $col1 }}">
                    {{ $fullHeight := "card-img-h100" }}
                    {{ $rounding := "rounded-start" }}
                    {{ if eq (lower (path.Ext $thumbnail)) ".svg" }}{{ $fullHeight = "" }}{{ $rounding = "" }}{{ end }}
                    {{- partial $args.hook (merge $thumbnailArgs (dict 
                        "wrapper"  "card-img-wrap h-100 d-flex align-items-center"
                        "class"    (printf "card-img-bg %s %s" $rounding $fullHeight)
                        "ratio"    (or $ratio "auto")
                    )) -}}
                </div>
            {{- end -}}
            <div class="{{ $col2 }}">
                <div class="card-body p-{{ $args.padding }} h-100 hstack">
                    {{ if $icon }}
                        {{- partial "inline/card-icon.html" (dict
                            "icon"     $icon
                            "padding"  $args.padding
                            "rounded"  $args.iconRounded
                            "style"    $style
                            "stack"    $args.stack
                            "class"    (printf "align-self-%s me-1 mt-1 col-auto" $args.align)
                        )}}
                    {{ end }}
                    <div>
                        {{ if $page }}
                            <div>{{ partial "inline/card-caption.html" (dict
                                "page"     $page
                                "keywords" $args.headerStyle
                                "color"    $args.color
                                ) }}
                            </div>
                        {{ end }}
                        {{- partial "inline/card-body.html" (dict
                            "title"       $title
                            "href"        $href
                            "color"       $args.color
                            "description" $description
                            "links"       $args.links
                        ) -}}
                        {{ if $page }}<div>{{ partial "inline/card-caption.html" (dict "page" $page "keywords" $args.footerStyle "color" $args.color) }}</div>{{ end }}
                        {{ if and $href $args.button }}
                            {{ $label := (or $args.buttonLabel $title) | default (T "readMore") }}
                            {{ $buttonClass := "card-button mb-n4" }}
                            {{ $buttonType := (or $args.linkType $args.buttonType) }}
                            {{ if eq $buttonType "link" }}{{ $buttonClass = "card-button card-button-link mb-n4" }}{{ end }}
                            <div class="d-flex align-items-end">
                                {{ partial "assets/button.html" (dict 
                                    "title"       $label
                                    "icon"        "fas chevron-right"
                                    "href"        $href
                                    "outline"     true
                                    "button-size" "sm"
                                    "class"       $buttonClass
                                    "link-type"   $buttonType
                                )}}
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{- else -}}
    {{/* Render stacked / default card */}}
    {{ $overlay := eq $args.orientation "overlay" }}
    <div class="card {{ $colorStyle }} {{ $args.class }} text-{{ $args.align }}{{ if not $thumbnail }} p-{{ $args.padding }}{{ end }}">
        {{- if $thumbnail -}}
            {{- partial $args.hook (merge $thumbnailArgs (dict
                "wrapper"  "card-img-wrap"
                "class"    "card-img-top card-img-bg"
                "ratio"    (or $ratio "16x9")
            )) -}}
        {{- else if $icon -}}
            {{- partial "inline/card-icon.html" (dict
                "icon"     $icon
                "rounded"  $args.iconRounded
                "style"    $style
                "stack"    $args.stack
                "class"    (printf "mb-1 m-0 text-%s" $args.align)
            )}}
        {{- end -}}
        <div class="card-body p-0 d-flex flex-column{{ if $thumbnail }} p-{{ $args.padding }}{{ end }}{{ if $overlay }}card-img-overlay card-overlay-gradient p-4{{ end }}" {{ if $overlay }}data-bs-theme="dark"{{ end }}>
            {{ if $args.overlay }}<div class="flex-grow-1"></div>{{ end }}
            {{ if $page }}{{- partial "inline/card-caption.html" (dict "page" $page "keywords" $args.headerStyle "color" $args.color) -}}{{ end }}
            {{- partial "inline/card-body.html" (dict
                "title"       $title
                "href"        $href
                "color"       $args.color
                "description" $description
                "links"       $args.links
            ) -}}
            {{ if $page }}{{- partial "inline/card-caption.html" (dict "page" $page "keywords" $args.footerStyle "color" $args.color) -}}{{ end }}
        </div>
        {{ if $args.button }}
            {{ $label := (or $args.buttonLabel $title) | default (T "readMore") }}
            <div class="row" >
                <div class="{{ if eq $args.orientation "horizontal-sm" }}col-4 col-md-2{{ else if eq $args.orientation "horizontal" }}col-4{{ end }}"></div>
                <div class="col d-flex align-items-end {{ if eq $args.orientation "horizontal-sm" }}px-2{{ else if eq $args.orientation "horizontal"}}px-1 {{ else }}px-2 pt-1{{ end }}">
                    {{ $buttonClass := "card-button" }}
                    {{ $buttonType := (or $args.linkType $args.buttonType) }}
                    {{ if eq $buttonType "link" }}{{ $buttonClass = "card-button card-button-link" }}{{ end }}
                    {{ partial "assets/button.html" (dict 
                        "title"       $label
                        "href"        $href
                        "outline"     true
                        "button-size" "sm"
                        "class"       "card-button"
                        "class"       $buttonClass
                        "link-type"   $buttonType
                    )}}
                </div>
            </div>
        {{ end }}
    </div>
{{- end -}}

{{ if or (gt $args.gutter "0") ($args.wrapper) }}</div>{{ end }}
