{{/* 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{/* Initialize arguments */}}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "download" "args" . "group" "partial") }}
{{ if or $args.err $args.warnmsg }}
    {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial" "assets/download.html" 
        "warnid"  "warn-invalid-arguments"
        "msg"     "Invalid arguments"
        "details" ($args.errmsg | append $args.warnmsg)
        "file"    page.File
    )}}
    {{ $error = $args.err }}
{{ end }}

{{/* Initialize local arguments */}}
{{- $title := $args.title -}}
{{- $download := partial "utilities/GetTargetPath.html" (dict "path" $args.download "page" page) -}}
{{- if and $download (not (fileExists (path.Join "static" $download))) -}}
    {{- errorf "Cannot find download file for page '%s': %s" page.File.Path $download -}}
    {{- $error = true }}
{{- end -}}

{{ if not $error }}
    {{ if not $title }}
        {{ if not $args.minimal }}{{ $title = (T "download" ) }}{{ end }}
        {{ $lang := strings.TrimPrefix "." (path.Ext (path.BaseName $download)) }}
        {{ if and $lang (ne (string site.LanguageCode) $lang) }}
            {{ range site.Languages }}
                {{ if eq .LanguageCode $lang }}
                    {{ $title = printf "%s (%s)" (T "download") (T (printf "lang_%s" .LanguageCode)) }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ $attr := dict "download" (path.Base .) }}
    {{ partial "assets/button.html" (dict 
        "href"        $download
        "title"       $title
        "color"       $args.color
        "outline"     $args.outline
        "icon"        $args.icon
        "button-size" $args.size
        "justify"     $args.justify
        "class"       $args.class
        "attributes"  $attr
    ) }}
{{ end }}

