{{/* 
    Copyright © 2024 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{/* Initialize arguments */}}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "hero" "args" . "group" "partial") }}
{{ if or $args.err $args.warnmsg }}
    {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial" "assets/hero.html" 
        "warnid"  "warn-invalid-arguments"
        "msg"     "Invalid arguments"
        "details" ($args.errmsg | append $args.warnmsg)
        "file"    page.File
    )}}
    {{ $error = $args.err }}
{{ end }}

{{/* Initialize global variables */}}
{{ $arrangement := site.Params.modules.bookshop.title.arrangement }}
{{ if eq $args.order "first" }}{{ $arrangement = "above" }}{{ end }}
{{- $padding := partial "utilities/GetPadding.html" -}}

{{/* Initialize local variables */}}
{{ $align := $args.align }}
{{ $class := $args.class | default "" }}
{{ $scale := $args.illustration.width }}

{{ if $scale }}
    {{ $class = trim (printf "%s col-%d text-center text-md-%s" $class $scale $align) " " }}
{{ else }}
    {{ $scale = 12 }}
{{ end }}

{{ $iconWrapper := "col-6" }}
{{ $heading := cond (eq $args.orientation "horizontal") (merge $args.heading (dict "width" 12)) $args.heading }}

{{ $sizes := "100vw" }}
{{ if or (lt $args.width 12) (lt $scale 12) }}
    {{ $container := "" }}
    {{ if and $args.width (lt $args.width 12) }}
        {{ if (eq $args.orientation "stacked") }}
            {{ $container = mul (div (int $args.width) 12.0) 100 }}
        {{ else }}
            {{ $container = mul (div (int (sub 12 $args.width)) 12.0) 100 }}
        {{ end }}
    {{ else }}
        {{ $container = 100 }}
    {{ end }}
    {{ if and $scale (lt $scale 12) }}
        {{ $container = mul (div (int $scale) 12.0) $container }}
    {{ end }}
    {{ $sizes = replace (printf "(min-width: 768px) %.1fvw, 100vw" $container) ".0" "" }}
{{ end }}

{{ if not $error }}
    {{ if and $args.breadcrumb (not page.IsHome) }}
        <div class="d-flex flex-column align-items-{{ $align}} mb-{{ $padding.y }} pe-3">
            {{ if site.Params.env_bookshop_live }}
                <i class="text-white">Breadcrumb preview not supported</i>
            {{ else }}
                {{ partial "assets/breadcrumb.html" (dict "page" page) }}
            {{ end }}            
        </div>
    {{ end }}

    {{ $imageWrapper := printf "mx-md-0 text-%s %s" $align $class }}
    {{ $imageJustify := "" }}
    {{ if eq $args.orientation "stacked" }}
        {{ $imageWrapper = printf "pt-%d text-center %s" $padding.y $class }}
        {{ if $args.icon }}{{ $imageWrapper = $iconWrapper }}{{ end }}
    {{ else }}
        {{ $imageJustify = $align }}
    {{ end }}

    {{ if $args.icon }}{{ $imageWrapper = $iconWrapper }}{{ end }}

    {{ $caption := "" }}
    {{ if $args.illustration.caption }}
        {{ if index $args.illustration "caption-url" }}
            {{ $caption = partial "assets/link.html" (dict
                "href"  (index $args.illustration "caption-url")
                "text"  $args.illustration.caption
                "page"  $args.page
                "class" "text-center"
            ) }}
        {{ else }}
            {{ $caption = $args.illustration.caption }}
        {{ end }}
        {{ $caption = printf `<div class="text-center">%s</div>` $caption }}
    {{ end }}

    {{ $illustration := "" }}
    {{ if or $args.illustration.image  $args.illustration.icon }}
        {{ $illustration = partial $args.hook (dict
            "page"          $args.page
            "image"         $args.illustration.image
            "icon"          $args.illustration.icon
            "anchor"        $args.illustration.anchor
            "mode"          $args.illustration.mode
            "ratio"         $args.illustration.ratio
            "sizes"         $sizes
            "title"         (T "heroImage")
            "wrapper"       $imageWrapper
            "class"         (printf "hero-image %s" $args.illustration.class)
            "image-overlay" $args.imageOverlay
            "justify"       $imageJustify
        ) }}
    {{ end }}

    {{ $title := partial "assets/section-title.html" (dict
        "heading"       $heading
        "use-title"     $args.useTitle
        "links"         $args.links
        "link-type"     (or $args.linkType $args.type)
        "class"         "hero-title"
        "arrangement"   $arrangement
        "justify"       $args.justify
        "heading-style" $args.headingStyle
        "content-style" $args.contentStyle

    ) }}

    {{ if eq $args.orientation "stacked" }}
        {{/* Render stacked component */}}

        {{ $illustration | safeHTML }}
        {{ $caption | safeHTML }}
        {{ $title | safeHTML }}
    {{ else }}
        {{/* Render horizontal component */}}
        <div class="row row-cols-1 {{ if eq $args.orientation "stacked" }}row-cols-md-2 {{ end }} flex-grow-1">
            {{ $order1 := "order-1 order-md-0" }}
            {{ $order2 := "order-0 order-md-1" }}
            {{ if eq $args.order "first" }}
                {{ $order1 = "order-1" }}
                {{ $order2 = "order-0" }}
            {{ end }}

            {{ $imgWidth := sub 12 (or $args.heading.width 12) }}
            {{ if lt $imgWidth 1 }}{{ $imgWidth = 1 }}{{ end }}

            <div class="col col-12 {{ if $illustration }} col-md-{{sub 12 $imgWidth }}{{ end }} {{ $order1 }} my-md-auto pt-{{ $padding.y }} pt-md-0 hero-content">
                {{ $title | safeHTML }}
            </div>
            {{ if $illustration }}
            <div class="col col-8 col-md-{{ $imgWidth }} {{ $order2 }} m-auto my-md-auto align-self-end">
                {{ $illustration | safeHTML }}
                {{ $caption | safeHTML }}
            </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}