{{/* 
    Copyright © 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{/* Initialize arguments */}}
{{- $args := partial "utilities/InitArgs.html" (dict "structure" "menu" "args" . "group" "partial") -}}
{{- if or $args.err $args.warnmsg -}}
    {{- partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial" "assets/menu.html" 
        "warnid"  "warn-invalid-arguments"
        "msg"     "Invalid arguments"
        "details" ($args.errmsg | append $args.warnmsg)
        "file"    page.File
    ) -}}
    {{- $error = $args.err -}}
{{- end -}}

{{/*  Initialize global arguments */}}
{{- $breakpoint := partial "utilities/GetBreakpoint.html" -}}

{{/*  Initialize local arguments */}}
{{- $menu := index site.Menus $args.menu -}}
{{- if or (ne (printf "%T" $menu) "navigation.Menu") (ne (index $menu 0).Menu $args.menu) -}}
    {{- if not (in $args.default "menu") }}
        {{- errorf "partial [assets/menu.html] - Invalid value for param 'menus': %s" $args.menu -}}
    {{- end -}}
{{- end -}}

{{ if eq $args.menuStyle "masonry" }}
    {{ $split := int (math.Ceil (div (len $menu) (float $args.cols))) }}

    <div class="container masonry p-0">
        <div class="m-row p-0">
            {{- range $index, $entry := $menu -}}
                {{ if eq (mod $index $split) 0 }}<div class="m-col m-col-1 m-col-{{ $breakpoint.current }}-{{ $args.cols }}">{{ end }}

                {{ partial "assets/menu-item.html" (dict 
                    "page"         $args.page
                    "menu-entry"   $entry
                    "padding"      $args.padding
                    "icon-rounded" $args.iconRounded
                    "icon-style"   $args.iconStyle
                ) }}

                {{ if eq (mod $index $split) (sub $split 1) }}</div>{{ end }}
            {{- end -}}
        </div>
    </div>
{{ else }}
    {{ $colGrid := printf "row-cols-%d" $args.cols }}
    {{ if (gt $args.cols 1) }}
        {{ $colGrid = printf "row-cols-1 row-cols-%s-%d row-cols-%s-%d" $breakpoint.prev 
            (int (math.Ceil (div (float $args.cols) 2))) $breakpoint.current $args.cols }}
    {{ end }}

    <div class="container p-0">
        <div class="row {{ $colGrid }} g-3">
            {{- range $index, $entry := $menu -}}
                <div class="col">
                    {{ partial "assets/menu-item.html" (dict 
                        "page"         $args.page
                        "menu-entry"   $entry
                        "padding"      $args.padding
                        "icon-rounded" $args.iconRounded
                        "icon-style"   $args.iconStyle
                        "class"        "h-100"
                    ) }}
                </div>
            {{- end -}}
        </div>
    </div>
{{ end }}
