{{/* 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{/* Initialize arguments */}}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "sidebar" "args" . "group" "partial") }}
{{ if or $args.err $args.warnmsg }}
    {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial" "assets/sidebar.html" 
        "warnid"  "warn-invalid-arguments"
        "msg"     "Invalid arguments"
        "details" ($args.errmsg | append $args.warnmsg)
        "file"    page.File
    )}}
{{ end }}

{{/* Initialize local arguments */}}
{{- $section := $args.page.Section }}

{{- define "_partials/inline/sidebar/group.html" -}}
    {{- $page := .page -}}
    {{- $index := .index -}}
    {{- $level := .level -}}
    {{- $baseURL := .baseURL -}}
    {{- $group := .group -}}
    {{- $data := .menu -}}

    {{- $doc_slug := partial "utilities/URLJoin.html" (dict "base" $baseURL "path" ($group.title | urlize)) -}}
    {{- $href := or $group.link $doc_slug -}}
    {{ $ref := partial "utilities/GetPage.html" (dict "url" $href "page" $page) }}
    {{ if eq $group.link "#" }}{{ $href = $doc_slug }}{{ end }}
    {{- $collapsed := strings.HasPrefix $page.RelPermalink $href -}}
    {{ if not (hasSuffix $href "/") }}{{ $href = printf "%s/" $href }}{{ end }}
    {{- $current := eq $href $page.RelPermalink }}

    <li class="mb-1">
        <div class="d-flex w-100 p-0 sidebar-item-group">
            <div class="text-start flex-grow-1 {{ if $current }}fw-bold{{ end }}">
                {{- $groupTitle := $group.title -}}
                {{ if site.Params.main.titleCase }}{{ $groupTitle = title $groupTitle }}{{ end }}
                
                {{ $dest := $href }}
                {{ $target := "" }}
                {{ if or $current (not $ref) }}
                    {{ $dest = "" }}
                {{ end }}
                <a {{ with $dest }} href="{{ . }}"{{ else }}
                data-bs-toggle="collapse" 
                data-bs-target="#sidebar-collapse-{{ $index }}-{{ $level }}"
                {{ end }}>{{ $groupTitle }}</a>
            </div>
            
            <button 
                class="btn btn-toggle-group d-inline-flex align-items-center rounded border-0 collapsed" 
                data-bs-toggle="collapse" 
                data-bs-target="#sidebar-collapse-{{ $index }}-{{ $level }}"
                aria-expanded="{{ if $collapsed }}true{{ else }}false{{ end }}"
            >
            </button>
        </div>
        <div class="collapse {{ if $collapsed }}show{{ end }}" id="sidebar-collapse-{{ $index }}-{{ $level }}">
            <ul class="btn-toggle-nav list-unstyled fw-normal {{ if eq $level 0}} pb-1 {{ end }}ps-3">
                {{- range $item := $group.pages -}}
                    {{- if $item.pages -}}
                        {{ partial "inline/sidebar/group.html" (dict 
                            "page"    $page
                            "index"   $index
                            "level"   (add $level 1)
                            "baseURL" $href
                            "group"   $item
                            "menu"    $data
                            )
                        }}
                    {{- else -}}
                        {{ partial "inline/sidebar/item.html" (dict 
                            "page"         $page
                            "sectionBreak" false
                            "level"        $level
                            "baseURL"      $href
                            "title"        $item.title
                            "href"         $item.link
                            "menu"         $data
                            )
                        }}
                    {{ end -}}
                {{- end }}
            </ul>
        </div>
    </li>
{{ end -}}

{{- define "_partials/inline/sidebar/item.html" -}}
    {{- $page := .page -}}
    {{- $sectionBreak := .sectionBreak -}}
    {{- $level := .level -}}
    {{- $baseURL := .baseURL -}}
    {{- $title := .title -}}
    {{- $data := .menu -}}
    {{ $href := "" }}

    {{ with .href }}
        {{ if hasPrefix . "http" }}
            {{ $href = . }}
        {{ else }}
            {{- $href = partial "utilities/URLJoin.html" (dict "base" $baseURL "path" .) -}}
            {{ if not (hasSuffix $href "/") }}{{ $href = printf "%s/" $href }}{{ end }}
        {{ end }}
    {{ else }}
        {{- $href = partial "utilities/URLJoin.html" (dict "base" $baseURL "path" ($title | urlize)) -}}
        {{ if not (hasSuffix $href "/") }}{{ $href = printf "%s/" $href }}{{ end }}
    {{ end }}
    {{- $active := eq (strings.TrimSuffix "/" $page.RelPermalink) (strings.TrimSuffix "/" $href) -}}

    {{ if eq $level 0}}
        <li class="mt-1 mb-1 {{ if $sectionBreak }}border-top{{ end }}"></li>
        {{- $sectionBreak = false }}
        <li>
            <ul class="btn-toggle-nav list-unstyled fw-bold pb-1">
                <li>
                    {{ $class := "sidebar-item text-decoration-none rounded w-100" }}
                    {{ if $active }}{{ $class = printf "%s active" $class }}{{ end }}
                    {{ $link := partial "assets/link.html" (dict "href" $href "text" $title "class" $class "page" $page) }}
                    {{ if $link }}
                        {{ print $link | safeHTML }}
                    {{ else }}
                        {{- errorf "partial [utilities/sidebar.html] - Invalid link in file: %s" ($page.Scratch.Get "sidebarFilename") -}}
                    {{ end }}
                </li>
            </ul>
        </li>
    {{ else }}
        <li>
            {{ $class := "sidebar-item text-decoration-none rounded small w-100" }}
            {{ if $active }}{{ $class = printf "%s active" $class }}{{ end }}
            {{ $link := partial "assets/link.html" (dict "href" $href "text" $title "class" $class "page" $page) }}
            {{ if $link }}
                {{ print $link | safeHTML }}
            {{ else }}
                {{- errorf "partial [utilities/sidebar.html] - Invalid link in file: %s" ($page.Scratch.Get "sidebarFilename") -}}
            {{ end }}
        </li>
    {{ end }}
{{ end -}}

{{/* Main code */}}
{{ if and (not $args.error) $args.menu }}
    <nav class="sidebar flex-shrink-0 ps-1 pt-3" aria-label="{{ (strings.FirstUpper $section) }} navigation">
        {{- $sectionBreak := false -}}
        {{- $level := 0 -}}
        {{ $baseURL := $args.page.Scratch.Get "baseURL" | default "/" -}}
        {{ $baseURL = partial "utilities/URLJoin.html" (dict "elements" (slice "/" (strings.TrimPrefix $baseURL (urls.JoinPath $section $args.version | relLangURL)))) }}

        <ul class="list-unstyled ps-0">
        {{- range $index, $item := $args.menu -}}
            {{- if $item.pages }}
                {{- $sectionBreak = true }}
                {{ partial "inline/sidebar/group.html" (dict 
                    "page"    $args.page
                    "index"   $index
                    "level"   (add $level 1)
                    "baseURL" $baseURL
                    "group"   $item
                    "menu"    $args.menu
                    )
                }}
            {{- else }}
                {{ partial "inline/sidebar/item.html" (dict 
                    "page"         $args.page
                    "sectionBreak" $sectionBreak
                    "level"        $level
                    "baseURL"      $baseURL
                    "title"        $item.title
                    "href"         $item.link
                    "menu"         $args.menu
                    )
                }}
            {{- end }}
        {{- end }}
        </ul>
    </nav>
{{ end }}