<!-- 
    Copyright © 2024 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
-->

<!-- Inline partials -->
{{ define "_partials/inline/testimonial-contact.html" }}
    <div class="p-0">
        {{- partial "assets/live-image.html" (dict 
            "src"   .image
            "ratio" "1x1"
            "class" .class
            "title" .contact
            "mode"  false
            "page"  .page
        ) }}
    </div>
    <div class="flex-grow-1 p-0 align-self-center ps-2">
        <div class="text-{{ .align }}">
            {{ if .url }}
                {{ partial "assets/link.html" (dict
                    "href" .url
                    "text" .contact
                    "page" .page
                    "class" (cond .color (printf "fw-bold link-bg-%s" .color) "fw-bold")
                ) }}
            {{ else }}
                {{ .contact }}
            {{ end }}
        </div>
        {{ with .role }}<div class="text-{{ $.align }}">{{ . }}</div>{{ end }}
    </div>
{{ end }}

{{ define "_partials/inline/testimonial-inner.html" }}
    <div class="d-flex flex-column {{ .class }} h-100 p-{{ .padding }}">
        {{ if or .logo .icon }}
            <div class="p-0">
                {{ $class := "" }}
                {{ if and (not .icon) .logo }}{{ $class = "testimonial-logo" }}{{ end }}
                {{ $title := trim (printf "%s logo" (humanize (path.BaseName .logo))) " ." }}

                {{ partial "assets/featured-illustration.html" (dict
                    "page"    .page
                    "image"   .logo
                    "icon"    (trim (cond .icon (printf "%s %s" .icon (index . "icon-style")) "") " ")
                    "class"   $class
                    "title"   $title
                    "sizes"   "(min-width: 768px) 33.3vw, 100vw"
                    "wrapper" (cond .logo "col-9 py-4 py-md-0" "")
                ) }}
            </div>
        {{ end }}
        <div class="fs-md-5 pt-3 h-100">
            {{ .content | .page.RenderString }}
        </div>
        <div class="container pt-3 p-0">
            <div class="d-flex p-0">
                {{ if and .image .contact (not (eq .orientation "horizontal")) }}
                    {{ partial "inline/testimonial-contact.html" (dict 
                        "page"    .page
                        "image"   .image
                        "contact" .contact
                        "role"    .role
                        "url"     .url
                        "color"   .color
                        "align"   "start"
                        "class"   "rounded-circle testimonial-img"
                    )}}
                {{ else if .link }}
                    {{ partial "assets/button.html" (dict 
                        "href"    .link
                        "title"   (T "testimonialCase")
                        "class"   "btn-testimonial"
                        "icon"    "fas chevron-right"
                        "outline" true
                    ) }}
                {{ end }}
            </div>
        </div>
    </div>
{{ end }}

{{ define "_partials/inline/testimonial-card.html" }}
    {{ if and .image .contact (eq .orientation "horizontal") }}
        {{- $breakpoint := partial "utilities/GetBreakpoint.html" -}}
        <div class="container">
            <div class="row">
                <div class="col-6 col-{{ $breakpoint.current }}-3 mx-auto">
                    {{ partial "inline/testimonial-contact.html" (dict 
                        "page"    .page
                        "image"   .image
                        "contact" .contact
                        "role"    .role
                        "url"     .url
                        "color"   .color
                        "align"   "center"
                        "class"   "rounded-circle text-center"
                    )}}
                </div>
                <div class="col-12 col-{{ $breakpoint.current }}-9">
                    {{ partial "inline/testimonial-inner.html" . }}
                </div>
            </div>
        </div>
    {{ else }}
        {{ partial "inline/testimonial-inner.html" . }}
    {{ end }}
{{ end }}

{{/* Initialize arguments */}}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "testimonial" "args" . "group" "partial") }}
{{ if or $args.err $args.warnmsg }}
    {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial" "assets/testimonial.html" 
        "warnid"  "warn-invalid-arguments"
        "msg"     "Invalid arguments"
        "details" ($args.errmsg | append $args.warnmsg)
        "file"    page.File
    )}}
{{ end }}

<!-- Initialize arguments and default values -->
{{- $link := "" -}}
{{ with $args.link }}
    {{ $href := partial "utilities/GetLink.html" (dict "page" $args.page "href" .) }}
    {{ if not $href.error }}
        {{ $link = $href.href }}
    {{ else }}
        {{ with $args.page.File }}
            {{ warnf "Error processing link on page '%s': %s" (path.Join "/content" .Path) $href.msg }}
        {{ else }}
            {{ warnf "Error processing link: %s" $href.msg }}
        {{ end }}
    {{ end }}
{{ end }}

{{/* Main code */}}
{{ if not $args.err }}
    <div class="h-100 rounded container-fluid {{ $args.class }} p-{{ $args.padding }}">
        {{ $params := dict 
            "page"        $args.page
            "content"     $args.content
            "icon"        $args.icon
            "icon-style"  $args.iconStyle
            "logo"        $args.logo
            "contact"     $args.contact
            "role"        $args.role
            "image"       $args.image
            "padding"     $args.padding
            "orientation" $args.orientation
            "url"         $args.url
            "link"        $link
            "color"       $args.color
        }}

        {{ if $args.showControls }}
            <div class="row">
                <div class="col-2"></div>

                {{ partial "inline/testimonial-card.html" (merge $params (dict "class" "col-8 px-0 mb-5")) }}

                <div class="testimonial-icon col-2 ps-0 p-{{ $args.padding }} text-end">
                    {{ partial "assets/icon.html" (dict "icon" "fas quote-right fa-2x" "spacing" false) }}
                </div>
            </div>
        {{ else }}
            {{ partial "inline/testimonial-card.html" $params }}
        {{ end }}
    </div>
{{ end }}
