{{/* 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{/* Initialize arguments */}}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "toast" "args" . "group" "partial")}}
{{ if or $args.err $args.warnmsg }}
    {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial" "assets/toast.html" 
        "warnid"  "warn-invalid-arguments"
        "msg"     "Invalid arguments"
        "details" ($args.errmsg | append $args.warnmsg)
        "file"    page.File
    )}}
    {{ $error = $args.err }}
{{ end }}

{{/* Initialize arguments */}}
{{- $id := $args.id | default (printf "toast-message-%d" 0) -}}
{{ $title := (or $args.title $args.header) | default site.Title -}}

{{/* Main code */}}
<div id="{{ $id }}" class="toast{{ with $args.class }} {{ . }}{{ end }}" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        {{ with $title }}<strong class="me-auto">{{ . }}</strong>{{ end }}
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="{{ T "close" }}"></button>
    </div>
    <div class="toast-body">{{ $args.message }}</div>
</div>
