<div class="container-fluid flex-fill bg-primary bg-opacity-{{ .Site.Params.style.themeOpacity | default "25" | safeHTML }}">
    <div class="container-xxl p-4">
        <div class="row row-cols-1 row-cols-sm-3 align-items-center pt-5 pb-1 h-100">
            <div class="col col-sm-8 text-center text-sm-start">
                <p class="display-4">{{ .Title }}</p>
                <p>{{ .Content }}</p>
                {{ if .Site.Params.feature.link }}
                    <p><a class="btn btn-primary" href="{{ .Site.Params.feature.link | safeURL }}" role="button">{{ .Site.Params.feature.caption | default (T "about") }}</a></p>
                {{ end }}
            </div>
            <div class="col col-sm-4 col-md-4">
                {{- $thumbnail := (or (and (reflect.IsMap .Params.Thumbnail) .Params.Thumbnail.url) .Params.Thumbnail) -}}
                {{- $author := "" -}}
                {{- if and .Params.Thumbnail.authorURL "text" .Params.Thumbnail.author }}
                    {{- $author = partial "utilities/link" (dict "destination" .Params.Thumbnail.authorURL "text" .Params.Thumbnail.author) -}}
                {{- else if .Params.Thumbnail.author }}
                    {{- $author = .Params.Thumbnail.author -}}
                {{- end -}}
    
                {{- $origin := "" -}}
                {{- if and .Params.Thumbnail.originURL "text" .Params.Thumbnail.origin }}
                    {{- $origin = partial "utilities/link" (dict "destination" .Params.Thumbnail.originURL "text" .Params.Thumbnail.origin) -}}
                {{- else if .Params.Thumbnail.origin }}
                    {{- $origin = .Params.Thumbnail.origin -}}
                {{- end }}
    
                {{- $icon := partial "assets/icon.html" (dict "icon" "fas fa-camera") }}
                {{- $credits := "" -}}
                {{- if and $author $origin }}
                {{ $credits = printf "%s %s %s %s" $icon $author (T "photoOn") $origin }}
                {{ else if $author }}
                    {{ $credits = printf "%s %s" $icon $author }}
                {{ end }}
                {{ if $thumbnail }}
                    {{- partial "assets/mimage.html" (dict "url" $thumbnail 
                                                           "credits" $credits 
                                                           "ratio" "4x3" 
                                                           "outerClass" "img-wrap" 
                                                           "innerClass" "rounded"
                                                           "captionClass" "caption-align-right text-italic"
                                                           "title" .Site.Title) -}}
                {{ end }}
            </div>
        </div>
        <div class="col col-lg-2 d-none d-lg-block bg-info order-4"></div>
    </div>
</div>