<!-- 
    Copyright © 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{/* Inline partial to retrieve the type definition of the provided key (without recursion) */}}
{{ define "_partials/inline/type-definition.html" }}
    {{ $key := .key }}
    {{ $references := .references }}
    {{ $types := .types }}
    
    {{ $def := index $references $key }}
    {{ $udt := "" }}
    {{ $reflect := "" }}
    {{ $reserved := slice "bool" "int" "int64" "float" "float64" "string" "dict" "slice" }}
    {{ if and $def (not (reflect.IsSlice $def.type)) (not (in $reserved $def.type)) }}
        {{ with index $types $def.type }}
            <!-- Reduce child elements to slice of argument names -->
            {{ $args := slice }}
            {{ $reflect = printf "%T" . }}
            {{ if reflect.IsMap . }}
                {{ range $k, $_ := . }}
                    {{ $args = $args | append $k }}
                {{ end }}
            {{ else if reflect.IsSlice . }}
                {{ with index . 0 }}
                    {{ range $k, $_ := . }}
                        {{ $args = $args | append $k }}
                    {{ end }}
                {{ end }}
            {{ end }}
            
            <!-- Retrieve type definition for each argument -->
            {{ $definitions := dict }}
            {{ $definitions := merge $definitions (dict "_reflect" $reflect) }}
            {{ range $args }}
                {{ $type := partial "inline/type-definition.html" (dict "key" . "references" $references "types" $types) }}
                {{ if and $type $type.definition }}
                    {{ $definitions = merge $definitions (dict . $type.definition) }}
                {{ else }}
                    {{- $errorMsg = $errorMsg | append (printf "partial [utilities/InitArgs.html] - Missing type for '%s.%s' in '%s'" $key . ) -}}
                    {{ $error =  true }}
                {{ end }}
            {{ end }}

            {{ $udt = dict $def.type $definitions }}
        {{ end }}
    {{ end }}

    {{ return (dict "definition" $def "udt" $udt) }}
{{ end }}

{{/* Initalize arguments and local variables */}}
{{ $error := false }}
{{ $errorMsg := slice }}
{{ $warnMsg := slice }}
{{ $params := dict }}
{{ $definitions := dict }}
{{ $udt := dict }}

{{ $structure := .structure }}
{{ $bookshop := .bookshop }}
{{ $group := .group }}
{{ $child := .child }}

{{ if and (not $structure) (not $bookshop) }}
    {{- $errorMsg = $errorMsg | append (printf "partial [utilities/InitTypes.html] - Missing value for param 'structure' or 'bookshop'") -}}
    {{ $error = true }}
{{ end }}

{{ if not $error }}
    {{ $args := dict }}
    {{ $references := index (index site.Data.structures "_arguments") "arguments" }}
    {{ $types := index (index site.Data.structures "_types") "types" }}

    {{/* Initalize the regular or bookshop argument structure */}}
    {{ if $structure }}
        {{ $args = (index site.Data.structures $structure).arguments | default dict }}
    {{ else }}
        {{ $args = index (index (index site.Data.structures.components $bookshop) (printf "%s.bookshop" $bookshop)) "blueprint" | default dict }}
        {{ $args = merge $args (dict "_bookshop_name" nil) }}
    {{ end }}

    {{/* Merge any child arguments */}}
    {{ if $child }}
        {{ $extra_def := (index site.Data.structures $child).arguments }}
        {{ if not $extra_def }}
            {{- $errorMsg = $errorMsg | append (printf "partial [utilities/InitTypes.html] - Missing definitions: %s" $child) -}}
            {{ $error =  true }}
        {{ else }}
            {{ range $key, $val := $extra_def }}
                {{ if and $val $val.parent }}{{ $args = merge (dict $key $val) $args }}{{ end }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{/* Initialize the arguments and their type definitions recursively */}}
    {{ range $key, $v := $args }}
        {{ $type := partial "inline/type-definition.html" (dict "key" $key "args" $args "references" $references "types" $types) }}
        {{ if and $type $type.definition }}
            {{ $definitions = merge $definitions (dict $key $type.definition) }}
            {{ with $type.udt }}
                {{ $udt = merge $udt . }}
            {{ end }}
        {{ else }}
            {{- $errorMsg = $errorMsg | append (printf "partial [utilities/InitArgs.html] - Missing type for '%s' in '%s'" $key (or $structure $bookshop) ) -}}
            {{ $error =  true }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $params = merge $params (dict "types" $definitions "udt" $udt "err" $error "errmsg" $errorMsg "warnmsg" $warnMsg) }}
{{ return $params }}