{{/* 
    Copyright © 2026 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{/* Initialize arguments */}}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "section" "args" . "group" "partial") }}
{{ if or $args.err $args.warnmsg }}
    {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial" "utilities/section.html" 
        "warnid"  "warn-invalid-arguments"
        "msg"     "Invalid arguments"
        "details" ($args.errmsg | append $args.warnmsg)
        "file"    page.File
    )}}
{{ end }}

{{- $padding := partial "utilities/GetPadding.html" -}}

{{/* Main code */}}
{{ if not $args.err }}
    {{- $containerPadding := printf "px-%d %spy-%d" $padding.x (cond $args.fluid "px-xxl-0 " "") $padding.y -}}
    {{- $paddingOuter := printf "px-xxl-0 px-%d py-0" $padding.x -}}
    {{ $wrapper := "" }}
    {{ $backdrop := "" }}
    {{ with $args.background }}
        {{ $wrapper = partial "utilities/GetBackgroundStyle.html" (dict "background" . "class" $wrapper) }}
        {{ if reflect.IsMap $args.background }}
            {{ with $args.background.backdrop }}{{ $wrapper = "" }}{{ $backdrop = . }}{{ end }}
        {{ end }}
    {{ end }}
    {{- $overlayMode := (or $args.overlayMode page.Params.overlayMode) | default "dark" -}}
    {{ if not $backdrop }}{{ $overlayMode = page.Params.overlayMode }}{{ end }}
    {{ if eq $overlayMode "none" }}{{ $overlayMode = "" }}{{ end }}
    
    {{ if not $args.fluid }}<div class="container-xxl {{ $paddingOuter }}">{{ end }}
    <section {{ with $args.id }}id="{{ . }}" {{ end }}class="{{ $args.componentName }}
        container-fluid {{ $args.sectionClass }}
        {{ with $wrapper }}{{ . }}{{ end -}}
        {{- if and $backdrop $overlayMode }} background-container{{ end -}}
        {{- if $args.cover }} section-cover d-flex align-items-center{{ end }}" 
        {{ with $overlayMode -}}
            data-bs-theme="{{ . }}"
            data-bs-overlay="{{ . }}"
        {{- else -}}
        {{- with $args.theme }}data-bs-theme="{{ . }}"{{ end -}}
        {{- end -}}
        >
        {{- if $backdrop -}}
            {{ partial "assets/live-image.html" (dict
                "src"   $backdrop
                "class" (printf "background-img-fluid %s" (or $args.bgClass ""))
                "title" (T "backgroundImage")
            )}}
        {{- end -}}

        {{ $col := cond (and $args.width (lt $args.width 12)) (printf "col-12 col-md-%d" $args.width) "" }}
        {{ if $args.passthrough }}
            {{ $args.raw | safeHTML }}
        {{ else }}
            <div class="container-{{ cond $args.fluid "xxl" "fluid" }} {{ $containerPadding }} d-flex flex-column align-items-{{ $args.justify }}">
                {{ with $col }}
                    <div class="{{ . }}">{{ $args.raw | safeHTML }}</div>
                {{ else }}
                    {{ $args.raw | safeHTML }}
                {{ end}}
            </div>
        {{ end }}
    </section>
    {{ if not $args.fluid }}</div>{{ end }}
{{ end }}
