{{/* 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{/* Initialize arguments */}}
{{ $args := partial "utilities/InitArgs.html" (dict "structure" "image-adapter-rewrite" "args" . "group" "partial") }}
{{ if or $args.err $args.warnmsg }}
    {{ partial (cond $args.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict 
        "partial" "assets/adapter/imagekit-rewrite.html" 
        "warnid"  "warn-invalid-arguments"
        "msg"     "Invalid arguments"
        "details" ($args.errmsg | append $args.warnmsg)
        "file"    page.File
    )}}
    {{ $error = $args.err }}
{{ end }}

{{/* Initialize local arguments */}}
{{ $container := trim $args.container "/" }}
{{ $file := or $args.urlFile $args.file }}
{{ if not $file }}
    {{ partial "utilities/LogErr.html" (dict 
        "partial" "assets/adapter/imagekit-rewrite.html" 
        "msg"     "Invalid arguments"
        "details" slice "argument 'url-file': expected value"
        "file"    page.File
    )}}
    {{ $error = true }}
{{ end }}
{{ $dir := or $args.urlDir $args.dir }}
{{ $host := or $args.urlHost $args.host }}
{{ $element := "" }}
{{ with $container }}{{ $dir = strings.TrimPrefix (printf "/%s" .) $dir }}{{ end }}

{{ if ne $host "ik.imagekit.io" }}
    {{ $element = partial "utilities/URLJoin.html" (dict "elements" (slice "https://ik.imagekit.io" $args.account $dir $file)) }}
{{ else }}
    {{ $element = partial "utilities/URLJoin.html" (dict "elements" (slice "https://" $host $dir $file)) }}
{{ end }}

{{ return $element }}
