// cky-audit-table-style
.cky-cookie-audit-table {
    --#{$prefix}table-bg: #{$table-bg};
    --#{$prefix}table-striped-color: #{$table-striped-color};
    --#{$prefix}table-striped-bg: #{$table-striped-bg};    
}

.cky-cookie-audit-table th {
    background: var(--#{$prefix}table-bg) !important;
    border: inherit !important;
}

.cky-cookie-audit-table td {
    border: inherit !important;
}

.cky-cookie-audit-table th,
.cky-cookie-audit-table td {
    color: inherit !important;
}

.cky-cookie-audit-table tr:nth-child(2n + 1) td {
    background: var(--#{$prefix}table-striped-bg) !important;
    color: var(--#{$prefix}table-striped-color) !important;
}

.cky-cookie-audit-table tr:nth-child(2n) td {
    background: var(--#{$prefix}table-bg) !important;
}
