<!-- 
    Defines an individual accordion item. The shortcode supports the following arguments:
    "header"        Required header of the accordion element.
    "class"         Optional class attribute of the inner accordion element.
    "show"          Optional flag to indicate an item should be shown as collapsed.
-->

{{- $id := .Ordinal -}}
{{- $parent := printf "accordion-%d" .Parent.Ordinal -}}
{{- with (.Parent.Get "id") -}}
    {{- $parent = . -}}
{{- end -}}

{{- $id := .Ordinal -}}
{{ $header := .Get "header" | default "" -}}
{{ if not $header -}}
    {{ if .Parent }}
        {{ errorf "Missing value for param 'header': %s" .Parent.Position -}}
    {{ else }}
        {{ errorf "Missing value for param 'header': %s" .Position -}}
    {{ end }}
{{ end -}}

{{ $class := .Get "class" | default "" -}}
{{ $body := trim .Inner " \r\n" -}}
{{ if not $body -}}
    {{ if .Parent }}
        {{ errorf "Missing inner element text: %s" .Parent.Position -}}
    {{ else }}
        {{ errorf "Missing inner element text: %s" .Position -}}
    {{ end }}
{{ end -}}

{{ $supportedFlags := slice "true" "false" -}}
{{ $showParam := "false" -}}
{{ $show := false -}}
{{ with .Get "show" }}{{ $showParam = . }}{{ end -}}
{{ if in $supportedFlags $showParam -}}
    {{ if eq $showParam "true" }}{{ $show = true }}{{ else }}{{ $show = false }}{{ end -}}
{{ else -}}
    {{ errorf "Invalid value for param 'show': %s" $showParam -}}
{{ end -}}

<div class="accordion-item">
    {{- with $header -}}
    <h2 class="accordion-header m-0" id="{{ $parent }}-heading-{{ $id }}">
        <button class="accordion-button{{ if not $show }} collapsed{{ end }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $parent }}-item-{{ $id }}" aria-expanded="false" aria-controls="{{ $parent }}-item-{{ $id }}">
        {{ . }}
        </button>
    </h2>
    {{- end -}}
    <div id="{{ $parent }}-item-{{ $id }}" class="accordion-collapse collapse{{ if $show }} show{{ end }}{{ with $class }} {{ . }}{{ end }}" aria-labelledby="{{ $parent }}-heading-{{ $id }}" data-bs-parent="#{{ $parent }}">
        <div class="accordion-body">{{ $body | .Page.RenderString | safeHTML }}</div>
    </div>
</div>
