<!-- 
    Displays a Bootstrap card that links to a page. The shortcode supports the following arguments:
    "path"          Required path of the page.
    "class"         Optional class attribute of the card element, e.g. “w-50”.
    "color":        Optional theme color of the card, either "primary", "secondary", "success", "danger",
                    "warning", "info", "light", or "dark". By default, no color is specified.
    "padding":      Optional padding of the content, either "0", "1", "2", "3", "4", "5", or "auto" (default).
    "orientation"   Optional placecement of the thumbnail, either "stacked" (default), "horizontal", or "none".
    "layout"        Optional layout of the card, either "rich" (default) or "minimal".
-->

{{ $error := false }}

{{ $page := .Site.GetPage (.Get "path") }}
{{ if not $page }}
    {{ errorf "Invalid or missing value for param 'page': %s" .Position -}}
    {{ $error = true }}
{{ end }}

{{ $class := .Get "class" }}

{{ $color := "" -}}
{{ with .Get "color" }}{{ $color = . }}{{ end -}}
{{ if $color }}
    {{ $supportedColors := slice "primary" "secondary" "success" "danger" "warning" "info" "light" "dark" -}}
    {{ if not (in $supportedColors $color) -}}
        {{ errorf "Invalid value for param 'color': %s" .Position -}}
        {{ $error = true }}
    {{ end -}}
{{ end -}}

{{ $padding := "auto" }}
{{ with .Get "padding" }}{{ $padding = . }}{{ end -}}
{{ $supportedPaddings := slice "0" "1" "2" "3" "4" "5" "auto" -}}
{{ if not (in $supportedPaddings $padding) -}}
    {{ errorf "Invalid value for param 'padding': %s" .Position -}}
    {{ $error = true }}
{{ end -}}

{{ $orientation := "stacked" -}}
{{ with .Get "orientation" }}{{ $orientation = . }}{{ end -}}
{{ $supportedOrientations := slice "stacked" "horizontal" "none" -}}
{{ if not (in $supportedOrientations $orientation) -}}
    {{ errorf "Invalid value for param 'orientation': %s" .Position -}}
    {{ $error = true }}
{{ end -}}

{{ $layout := "rich" -}}
{{ with .Get "layout" }}{{ $layout = . }}{{ end -}}
{{ $supportedLayouts := slice "rich" "minimal" -}}
{{ if not (in $supportedLayouts $layout) -}}
    {{ errorf "Invalid value for param 'layout': %s" .Position -}}
    {{ $error = true }}
{{ end -}}

{{ if not $error }}
    {{ if eq $layout "minimal" }}{{ $class = printf "%s project-card" $class }}{{ end }}
    {{ $params := dict "title" $page.Params.title "href" $page.Permalink "description" $page.Params.description "class" $class "color" $color "padding" $padding }}
    {{ if eq $layout "rich" }}
        {{ $header := partial "utilities/date.html" (dict "date" $page.Date "format" "long") -}}
        {{ $header = printf "%s &bull; %d %s %s" $header $page.ReadingTime (i18n "minutesShort") (i18n "read") }}
        {{ if isset $page.Params "tags" -}}
            {{ range first 1 ($page.GetTerms "tags") -}}
            {{ $link := "text-decoration-none text-primary" }}
            {{ if $color }}{{ $link = "card-link" }}{{ end }}
            {{ $header = printf "%s &bull; <a href=\"%s\" class=\"%s\" aria-label=\"Tag: %s\">%s</a>" $header ((path.Join .Page.RelPermalink) | relURL) $link .LinkTitle .LinkTitle }}
            {{ end -}}
        {{ end -}}
        {{ $params = merge $params (dict "header" $header "thumbnail" $page.Params.thumbnail "orientation" $orientation) }}
    {{ end }}
    {{- partial "assets/card.html" $params -}}
{{ end }}