<!-- 
    Displays a Bootstrap card that links to a page. The shortcode supports the following arguments:
    "path"          Required path of the page.
    "class"         Optional class attribute of the card element, e.g. “w-50”.
    "color":        Optional theme color of the card, either "primary", "secondary", "success", "danger",
                    "warning", "info", "light", "dark", "white", "black", "body", or "body-tertiary". By default, no
                    color is specified.
    "padding":      Optional padding of the content, either "0", "1", "2", "3", "4", "5", or "auto" (default).
    "header"        Optional header components of the card, displayed in small caps. Supported values are "full"
                    (default), "publication", "tags", and "none".
    "footer"        Optional footer components of the card, displayed in small caps. Supported values are "full",
                    "publication", "tags", and "none" (default).
    "orientation"   Optional placecement of the thumbnail, either "stacked" (default), "horizontal", or "none".
-->

{{ $error := false }}

{{ $path := .Get "path" }}
{{ $page := .Site.GetPage $path }}
{{ if not $page }}
    {{ errorf "Invalid or missing value for param 'path': %s" .Position -}}
    {{ $error = true }}
{{ end }}

{{ $class := .Get "class" }}

{{ $color := "" -}}
{{ with .Get "color" }}{{ $color = . }}{{ end -}}
{{ if $color }}
    {{ $supportedColors := slice "primary" "secondary" "success" "danger" "warning" "info" "light" "dark" "white" "black" "body" "body-tertiary" -}}
    {{ if not (in $supportedColors $color) -}}
        {{ errorf "Invalid value for param 'color': %s" .Position -}}
        {{ $error = true -}}
    {{ end -}}
{{ end -}}

{{ $header := "full" }}
{{ with .Get "header" }}{{ $header = . }}{{ end -}}
{{ $supportedKeywords := slice "full" "publication" "tags" "none" -}}
{{ if not (in $supportedKeywords $header) -}}
    {{ errorf "Invalid value for param 'header': %s" .Position -}}
{{ end -}}

{{ $footer := "none" }}
{{ with .Get "footer" }}{{ $footer = . }}{{ end -}}
{{ if not (in $supportedKeywords $footer) -}}
    {{ errorf "Invalid value for param 'footer': %s" .Position -}}
{{ end -}}

{{ $padding := "auto" }}
{{ with .Get "padding" }}{{ $padding = . }}{{ end -}}
{{ $supportedPaddings := slice "0" "1" "2" "3" "4" "5" "auto" -}}
{{ if not (in $supportedPaddings $padding) -}}
    {{ errorf "Invalid value for param 'padding': %s" .Position -}}
    {{ $error = true -}}
{{ end -}}

{{ $orientation := "stacked" -}}
{{ with .Get "orientation" }}{{ $orientation = . }}{{ end -}}
{{ $supportedOrientations := slice "stacked" "horizontal" "none" -}}
{{ if not (in $supportedOrientations $orientation) -}}
    {{ errorf "Invalid value for param 'orientation': %s" .Position -}}
    {{ $error = true -}}
{{ end -}}

{{ $layout := "rich" -}}
{{ with .Get "layout" }}{{ $layout = . }}{{ end -}}
{{ $supportedLayouts := slice "rich" "minimal" -}}
{{ if not (in $supportedLayouts $layout) -}}
    {{ errorf "Invalid value for param 'layout': %s" .Position -}}
    {{ $error = true -}}
{{ end -}}

{{ if not $error -}}
    {{- partial "assets/card.html" (dict "path" $path "class" $class "color" $color "padding" $padding "header" $header "footer" $footer "orientation" $orientation) -}}
{{ end -}}