<!-- 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false -}}

{{ $args := partial "utilities/InitArgs.html" (dict "structure" "ins" "args" .Params) }}
{{ if $args.err }}
    {{ partial "utilities/LogErr.html" (dict 
        "partial" "shortcodes/ins.html" 
        "msg" "Invalid arguments"
        "details" $args.errmsg
        "file" page.File
    )}}
{{ end }}

{{ $text := .Inner | default "" }}

<!-- Main code -->
{{- if not $error -}}
    <ins>{{ $text | strings.TrimSpace | .Page.RenderString }}</ins>
{{- end -}}