<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $current := "" }}
{{ $error := false -}}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "nav-item" "args" .Params "group" "shortcode") }}
    {{ errorf "Invalid arguments: %s" .Position -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{ if not .Parent }}
    {{ errorf "The nav-item shortcode should be contained within a nav shortcode: %s" .Position }}
{{ else }}
    {{- $id := .Ordinal -}}
    {{- $parent := printf "nav-%d" .Parent.Ordinal -}}
    {{- with (.Parent.Get "id") -}}
        {{- $parent = . -}}
    {{- end -}}

    {{- $fade := false -}}
    {{ if isset .Params "fade" }}{{ $fade = partial "utilities/CastBool.html" (.Get "fade") }}{{ end -}}
    {{- $parentFade := false }}
    {{ if isset .Parent.Params "fade" }}{{ $parentFade = partial "utilities/CastBool.html" (.Parent.Get "fade") }}{{ end -}}
    {{ $fade = or $fade $parentFade }}
    {{- $header := .Get "header" | default "" -}}
    {{- $class := .Get "class" | default "" -}}
    {{- $body := trim .Inner " \r\n" | .Page.RenderString -}}
    {{- $show := .Get "show" | default false -}}
    {{- $disabled := .Get "disabled" | default false -}}

    <!-- Main code -->
    {{ $output := partial "assets/nav-item.html" (dict 
        "id" $id
        "parentID" $parent
        "fade" $fade
        "header" $header
        "class" $class
        "body" $body
        "show" $show
        "disabled" $disabled
        )
    }}

    {{ $current := .Parent.Scratch.Get "inner" }}
    {{ if $current }}
        {{ .Parent.Scratch.Set "inner" (print $current $output) }}
    {{ else }}
        {{ .Parent.Scratch.Set "inner" $output }}
    {{ end }}

    {{ $alternative := partial "assets/nav-item" (dict 
        "id" $id
        "parentID" $parent
        "fade" $fade
        "header" $header
        "class" $class
        "body" $body
        "show" $show
        "disabled" $disabled
        "item_type" "accordion"
        )
    }}

    {{ $current := .Parent.Scratch.Get "alternative" }}
    {{ if $current }}
        {{ .Parent.Scratch.Set "alternative" (print $current $alternative) }}
    {{ else }}
        {{ .Parent.Scratch.Set "alternative" $alternative }}
    {{ end }}
{{ end }}
