<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "persona" "args" .Params "group" "shortcode") }}
    {{ errorf "Invalid arguments: %s" .Position -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{- $path := .Get "path" -}}
{{ if $path }}
    {{- if not .Site.GetPage $path -}}
        {{- errorf "Invalid or missing value for param 'path': %s" .Position -}}
        {{- $error = true -}}
    {{- end -}}
{{ end }}
{{- $class := .Get "class" | default "" -}}
{{- $color := .Get "color" | default "" -}}
{{- $title := .Get "title" -}}
{{- $href := .Get "href" -}}
{{- $content := trim .Inner " \r\n" | .Page.RenderString -}}
{{- $thumbnail := .Get "thumbnail" -}}

<!-- Main code -->
{{- if not $error -}}
    {{- partial "assets/persona.html" (dict 
        "path" $path 
        "class" $class 
        "color" $color
        "title" $title
        "href" $href
        "content" $content
        "thumbnail" $thumbnail
    ) -}}
{{- end -}}
