<!-- 
    Copyright © 2022 - 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}
{{ $args := dict }}
{{ $breakpoint := "" }}

<!-- Initialize arguments -->
{{- if .IsNamedParams -}}
    {{ $args = partial "utilities/InitArgs.html" (dict "structure" "table" "args" .Params "group" "shortcode") }}
    {{ if $args.err }}
        {{ partial "utilities/LogErr.html" (dict 
            "partial" "shortcodes/table.html" 
            "msg" "Invalid arguments"
            "details" $args.errmsg
            "file" page.File
        )}}
    {{ end }}
{{ else }}
    {{ $breakpoint = .Get 0 }}
{{ end }}

<!-- Main code -->
{{ partial "assets/table.html" (dict 
    "page" .Page
    "input" .Inner
    "breakpoint" (or $breakpoint $args.breakpoint)
    "class" $args.class
    "sortable" $args.sortable
    "paging" $args.paging
    "pagingOptionPerPage" $args.pagingOptionPerPage
    "pagingOptionPageSelect" $args.pagingOptionPageSelect
    "searchable" $args.searchable
    "wrap" $args.wrap
) }}
