{{- /*
    Source: https://github.com/twbs/bootstrap/blob/main/site/layouts/shortcodes/scss-docs.html
    
    Usage: `toml-docs name="name" file="file/_location.toml"`
  
    Prints everything between `# toml-docs-start "name"` and `# toml-docs-end "name"`
    comments in the docs.
  */ -}}
  
  {{- $name := .Get "name" -}}
  {{- $file := path.Clean (.Get "file") -}}
  
  {{- /* If any parameters are missing, print an error and exit */ -}}
  {{- if or (not $name) (not $file) -}}
    {{- errorf "%s: %q: Missing required parameters! Got: name=%q file=%q!" .Position .Name $name $file -}}
  {{- else -}}
    {{- $capture_start := printf "# toml-docs-start %s\n" $name -}}
    {{- $capture_end := printf "# toml-docs-end %s" $name -}}
    {{- $regex := printf `%s((?:.|\n)*)%s` (trim $capture_start "\n") (trim $capture_end "\n") -}}
  
    {{- $match := findRE $regex (readFile $file) -}}
    {{- $match = index $match 0 -}}
  
    {{- if not $match -}}
      {{- errorf "%s: %q: Got no matches for name=%q in file=%q!" .Position .Name $name $file -}}
    {{- end -}}
  
    {{- $match = replace $match $capture_start "" -}}
    {{- $match = replace $match $capture_end "" -}}
    
    {{- highlight $match "toml" "" -}}
  {{- end -}}