<!-- 
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "video" "args" .Params "group" "shortcode") }}
    {{ errorf "Invalid arguments: %s" .Position -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{- $host := "vimeo" -}}
{{- $id := "" -}}
{{- $class := "" -}}
{{- $title := "Vimeo Video" }}
{{- $autoplay := false }}
{{- $autotitle := false }}

{{- if .IsNamedParams }}
    {{ with .Get "id" }}{{ $id = . }}{{ end }}
    {{ with .Get "class" }}{{ $class = . }}{{ end }}
    {{ with .Get "title" }}{{ $title = . }}{{ end }}
    {{ if isset .Params "autoplay" }}{{ $autoplay = partial "utilities/CastBool.html" (.Get "autoplay") }}{{ end -}}
    {{ if isset .Params "autotitle" }}{{ $autotitle = partial "utilities/CastBool.html" (.Get "autotitle") }}{{ end -}}
{{ else }}
    {{- $id = .Get 0 -}}
    {{- $class = .Get 1 -}}
{{ end }}

<!-- Main code -->
{{ if not $error -}}
    {{ partial "assets/video.html" (dict 
        "page" .Page
        "position" .Position
        "host" $host 
        "id" $id 
        "class" $class 
        "title" $title 
        "autoplay" $autoplay
        "autotitle" $autotitle
    ) }}
{{ end -}}
