# This workflow will run tests using node and then publish a package to npmjs.org when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages
name: Publish package to npmjs

on:
  workflow_dispatch:
  release:
    types: [published]

env:
  OS: 'ubuntu-latest'
  NODE_VERSION: '16.x'
  REGISTRY_URL: 'https://registry.npmjs.org/'

jobs:
  build:
    runs-on: $OS
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .npmrc file to publish to npm
        uses: actions/setup-node@v3
        with:
          node-version: $NODE_VERSION
          registry-url: $REGISTRY_URL
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
  
      - name: Perform clean install of npm
        run: npm ci

      - name: Publish package to npm
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
