// scss-docs-start icons
$form-check-input-checked-bg-image:             url("/icons/form-check-input-checked-bg-image.svg") !default;
$form-check-radio-checked-bg-image:             url("/icons/form-check-radio-checked-bg-image.svg") !default;
$form-check-input-indeterminate-bg-image:       url("/icons/form-check-input-indeterminate-bg-image.svg") !default;
$form-switch-bg-image:                          url("/icons/form-switch-bg-image.svg") !default;
$form-switch-bg-image-dark:                     url("/icons/form-switch-bg-image-dark.svg") !default;
$form-switch-focus-bg-image:                    url("/icons/form-switch-focus-bg-image.svg") !default;
$form-switch-checked-bg-image:                  url("/icons/form-switch-checked-bg-image.svg") !default;
$form-select-indicator:                         url("/icons/form-select-indicator.svg") !default;
$form-select-indicator-dark:                    url("/icons/form-select-indicator-dark.svg") !default;
$form-feedback-icon-valid:                      url("/icons/form-feedback-icon-valid.svg") !default;
$form-feedback-icon-invalid:                    url("/icons/form-feedback-icon-invalid.svg") !default;
$navbar-light-toggler-icon-bg:                  url("/icons/navbar-light-toggler-icon-bg.svg") !default;
$navbar-dark-toggler-icon-bg:                   url("/icons/navbar-dark-toggler-icon-bg.svg") !default;
$accordion-button-icon:                         url("/icons/accordion-button-icon.svg") !default;
$accordion-button-icon-dark:                    url("/icons/accordion-button-icon-dark.svg") !default;
$accordion-button-active-icon:                  url("/icons/accordion-button-active-icon.svg") !default;
$accordion-button-active-icon-dark:             url("/icons/accordion-button-active-icon-dark.svg") !default;
$carousel-control-prev-icon-bg:                 url("/icons/carousel-control-prev-icon-bg.svg") !default;
$carousel-control-next-icon-bg:                 url("/icons/carousel-control-next-icon-bg.svg") !default;
$btn-close-bg:                                  url("/icons/btn-close-bg.svg") !default;
$btn-toggle:                                    url("/icons/btn-toggle.svg") !default;
$btn-toggle-dark:                               url("/icons/btn-toggle-dark.svg") !default;

// scss-docs-end icons
