.masonry {
    --masonry-padding: 4px;
}

.m-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 var(--masonry-padding);
}

.m-col {
    flex: 100%;
    max-width: 100%;
    padding: 0 var(--masonry-padding);
}

.m-col div {
    margin-top: calc(2 * var(--masonry-padding));
    border-radius: #{$theme-border-radius} if($enable-important-utilities, !important, null);
}
